<div class="d-flex justify-content-start no-gutters">
  <div class="col-2 mr-2">
    <label>{{ 'MEMBERSHIP.Date' | translate }}</label>
    <us-date-picker class="w-100" name="dateSelect" #dateSelect id="dateSelect" [locale]="'COMMON.Locale'| translate"
      (dateChanged)="filterInput($event.formatted,resourceSelect.value,activitySelect.value,categorySelect.value,statusSelect.value)">
    </us-date-picker>
  </div>

  <div class="form-group col-2 mr-2">
    <label>{{ 'MEMBERSHIP.Resource' | translate }}</label>
    <select class="custom-select mr-sm-2 w-100 cursor-hand" #resourceSelect (change)="filterInput(dateSelect.value,resourceSelect.value,activitySelect.value,categorySelect.value,statusSelect.value)">
      <option value="ALL">All</option>
      <option *ngFor="let resource of resources" value= {{resource.Name}}>
        {{resource.Name}}
      </option>
    </select>
  </div>
  <div class="form-group col-2 mr-2">
    <label>{{ 'MEMBERSHIP.Activity' | translate }}</label>
    <select class="custom-select w-100 cursor-hand" #activitySelect (change)="filterInput(dateSelect.value,resourceSelect.value,activitySelect.value,categorySelect.value,statusSelect.value)">
      <option value="ALL">All</option>
      <option *ngFor="let activity of activityCategories" value= {{activity.Name}}>
        {{activity.Name}}
      </option>
    </select>
  </div>
  <div class="form-group col-2 mr-2">
    <label>{{ 'MEMBERSHIP.Category' | translate }}</label>
    <select class="custom-select mr-sm-2 w-100 cursor-hand" #categorySelect (change)="filterInput(dateSelect.value,resourceSelect.value,activitySelect.value,categorySelect.value,statusSelect.value)">
      <option value="ALL">All</option>
      <option *ngFor="let resCat of resourceCategories" value= {{resCat.Name}}>
        {{resCat.Name}}
      </option>
    </select>
  </div>
  <div class="form-group col-2 mr-2">
    <label>{{ 'MEMBERSHIP.Status' | translate }}</label>
    <select class="custom-select mr-sm-2 w-100 cursor-hand" #statusSelect (change)="filterInput(dateSelect.value,resourceSelect.value,activitySelect.value,categorySelect.value,statusSelect.value)">
      <option value="ALL">All</option>
      <option value="NULL">Pending</option>
      <option value="NOT_NULL">Completed</option>
    </select>
  </div>
</div>

<div>
  <us-data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" [rowColors]="rowColors" #bookingDatatable>
    <data-table-column [property]="'Number'" header="{{ 'MEMBERSHIP.Number' | translate }}" [sortable]="true" [width]="80">
    </data-table-column>

    <data-table-column [property]="'Date'" header="{{ 'MEMBERSHIP.Date' | translate }}" [sortable]="true" [width]="90">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.Date | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'MEMBERSHIP.StartTime' | translate }}" [sortable]="true" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartTime | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ResourceName'" header="{{ 'MEMBERSHIP.Resource' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'OtherResource'" header="{{ 'MEMBERSHIP.OtherResource' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ActivityName'" header="{{ 'MEMBERSHIP.Activity' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CategoryName'" header="{{ 'MEMBERSHIP.Category' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'MemberContractNo'" header="{{ 'MEMBERSHIP.MemberContractNo' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'MEMBERSHIP.Gym' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CancelNumber'" header="{{ 'MEMBERSHIP.ReplaceBy' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'active'" [header]="''" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openBookingModel(memberBooking)" (click)="rowItemLoad(item)">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>

  </us-data-table>
</div>
<div class="mt-2">
  <us-icon-button [iconClass]="'icon-print'" labelText="{{ 'MEMBERSHIP.Print' | translate }}" (click)="openPrintBookingModel(printBooking)"></us-icon-button>
  <div>

    <ng-template #memberBooking let-c="close" let-d="dismiss">
      <form [formGroup]="memberBookingForm" #addmemberBooking>
        <div class="modal-header">
          <span class="modal-title">
            <span [hidden]="!isAddNew">{{'MEMBERSHIP.BookingC'| translate}}</span>
            <span [hidden]="isAddNew">{{'MEMBERSHIP.BookingC'| translate}}</span>
          </span>
          <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.OtherMembers' | translate }}</label>
                <select name="otherM" disabled size="5" class="form-control" id="otherMembers" [formControl]="memberBookingForm.controls['otherMembers']">
                  <option *ngFor="let oMember of otherMembers" value={ {oMember.Name}} otherMembers>{{oMember.Name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Activity' | translate }}</label>
                <div>
                  <label>
                    <strong>{{ rowItem.ActivityName }}</strong>
                  </label>
                </div>

              </div>

              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Article' | translate }}</label>
                <div>
                  <label>
                    <strong>{{ rowItem.Article }}</strong>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Category' | translate }}</label>
                <div>
                  <label>
                    <strong>{{ rowItem.CategoryName }}</strong>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.OtherResources' | translate }}</label>
                <textarea type="text" disabled rows="5" triggers="manual" container="body" placement="right" class="form-control" id="OtherResource"
                  [formControl]="memberBookingForm.controls['OtherResource']">
                </textarea>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
                <div>
                  <label>
                    <strong>{{ rowItem.Comment }}</strong>
                  </label>
                </div>
              </div>
              <div class="d-flex">
                <div class="form-group w-50">
                  <label>{{ 'MEMBERSHIP.StartTime' | translate }}</label>
                  <div>
                    <label>
                      <strong>{{rowItem.StartTime | date:'HH:mm'}}</strong>
                    </label>
                  </div>
                </div>
                <div class="form-group w-50">
                  <label>{{ 'MEMBERSHIP.EndTime' | translate }}</label>
                  <div>
                    <label>
                      <strong>{{rowItem.EndTime | date:'HH:mm'}}</strong>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" disabled class="custom-control-input" id="addIsExpressGym" triggers="manual" container="body" placement="right"
                    id="IsSmsRemindered" [formControl]="memberBookingForm.controls['IsSmsRemindered']">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'MEMBERSHIP.SmsReminder' | translate }}</span>
                </label>
              </div>


            </div>
          </div>

        </div>





      </form>
    </ng-template>

    <ng-template #printBooking let-c="close" let-d="dismiss">
      <form [formGroup]="printBookingForm" #printBook>
        <div class="modal-header">
          <span class="modal-title">{{ 'MEMBERSHIP.SelectDurationViewTitle' | translate }}</span>
          <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
            <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate" [formControl]="printBookingForm.controls['fromDate']">
            </us-date-picker>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
            <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate" [formControl]="printBookingForm.controls['toDate']">
            </us-date-picker>
          </div>
        </div>
        <div class="modal-footer">
          <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Ok' | translate }}" (click)="printBookings(printBookingForm.value)"></us-icon-button>

          <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"></us-icon-button>
        </div>
      </form>
    </ng-template>
