<!--======Edit Member Basic Info==========-->
<div class="mc-basic-info" *ngIf="isEditMode && !_editImage" style="min-width: 465px;">
    <div class="scroll-content" usScroll>
        <form [formGroup]="employeeForm" #empfrm>

            <div class="d-flex no-gutters">
                <div class="col mr-2">
                    <div class="form-group" *ngIf="selectedEmployee?.Role!=0">
                        <label>{{'ADMIN.AddEmLastName' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm" (blur)="updateNameFormat($event.target.value,'LNAME')" formControlName='LastName'
                            us-error [errorMsg]="formErrors.LastName" [displayError]="myFormSubmited && !employeeForm.get('LastName').valid"
                            placement="right">
                    </div>
                    <div class="form-group " *ngIf="selectedEmployee?.Role!=0">
                        <label>{{'ADMIN.AddEmFirstName' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm" (blur)="updateNameFormat($event.target.value,'FNAME')" formControlName='FirstName'
                            us-error [errorMsg]="formErrors.FirstName" [displayError]="myFormSubmited && !employeeForm.get('FirstName').valid"
                            placement="right">
                    </div>
                    <div class="form-group mt-1" *ngIf="selectedEmployee?.Role!=0">
                        <label>{{'ADMIN.AddEmGender' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <div class="form-inline">
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdmale" name="Gender" formControlName='Gender' type="radio" class="custom-control-input" [value]="'MALE'" [checked]="selectedEmployee?.Gender === 'MALE'">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'ADMIN.AddEmMale' | translate}}</span>
                                </label>
                            </div>
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdfemale" name="Gender" type="radio" formControlName='Gender' class="custom-control-input" [value]="'FEMALE'"
                                        [checked]="selectedEmployee?.Gender === 'FEMALE'">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'ADMIN.AddEmFemale' | translate}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.Address1' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Address1'>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.Address2' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Address2'>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmPostCode' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='PostCode'>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmCity' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='PostPlace'>
                    </div>
                    <div class="d-flex">
                        <div class="form-group w-75">
                            <label>{{'ADMIN.AddEmBirthDate' | translate}}</label>
                            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='BirthDay' (dateChanged)="getAge($event)">
                            </us-date-picker>
                        </div>
                        <div class="form-group w-25 ml-1">
                            <label>{{'ADMIN.AddEmAge' | translate}}</label>
                            <input type="text" class="form-control form-control-sm" disabled formControlName='Age'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.StartDate' | translate}}</label>
                        <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='StartDate'>
                        </us-date-picker>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.EndDate' | translate}}</label>
                        <us-date-picker [options]="{disableUntil: today}" class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='EndDate'>
                        </us-date-picker>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmMobile' | translate}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" formControlName='MobilePrefix' (change)="onPhoneNumberChange('MOBILEPRE', $event.target.value)">
                            <input type="text" exceMobile mobileNo="{{selectedEmployee?.Mobile}}" mobilePrefix="{{selectedEmployee?.MobilePrefix}}" phoneType="MOB"
                                (change)="onPhoneNumberChange('MOBILE', $event.target.value)" class="form-control form-control-sm w-75"
                                formControlName='Mobile'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmPrivate' | translate}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" formControlName='PrivateTeleNoPrefix' (change)="onPhoneNumberChange('PRIVATEPRE', $event.target.value)">
                            <input type="text" exceMobile mobileNo="{{selectedEmployee?.Private}}" mobilePrefix="{{selectedEmployee?.PrivateTeleNoPrefix}}"
                                (change)="onPhoneNumberChange('PRIVATE', $event.target.value)" class="form-control form-control-sm w-75"
                                formControlName='Private'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.Work' | translate}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" formControlName='WorkTeleNoPrefix' (change)="onPhoneNumberChange('WORKPRE', $event.target.value)">
                            <input type="text" exceMobile mobileNo="{{selectedEmployee?.Work}}" mobilePrefix="{{selectedEmployee?.WorkTeleNoPrefix}}"
                                (change)="onPhoneNumberChange('WORK', $event.target.value)" class="form-control form-control-sm w-75"
                                formControlName='Work'>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="selectedEmployee?.Role!=0">
                        <label>{{'ADMIN.Email' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Email'>
                    </div>

                    <div class="form-group">
                        <label>{{'ADMIN.Description' | translate}}</label>
                        <textarea class="form-control form-control-sm" rows="2" style="height: 78px;" formControlName='Description'></textarea>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmCardNo' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='EmployeeCardNo'>
                    </div>
                    <div class="form-group">
                        <label>{{'ADMIN.AddEmPayrollNumber' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='PayrollNumber'>
                    </div>
                    <div class="form-group ">
                        <label>{{'ADMIN.EmRoles' | translate}}</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">{{selectedRoles}}</span>
                            <!-- <button class="btn btn-primary btn-sm w-100" type="button">{{'ADMIN.' | translate}}</button> -->
                            <button class="btn btn-primary btn-sm w-100" type="button" (click)="openRolesPop(rolesPop)" container="body" placement="top"
                                [usPopover]="rolesPopOver" popoverWidth="650" #rolesPop="usPopover" triggers="manual">{{'ADMIN.ADD' | translate}}</button>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label>{{'ADMIN.LblHomeGym' | translate}}</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" formControlName='HomeGymName'>

                            <button class="btn btn-primary btn-sm" type="button" (click)="openHomeGymPop(homeGymPop)" container="body" placement="top"
                                [usPopover]="homeGymPopOver" popoverWidth="350" #homeGymPop="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex mt-3 mb-3">
                <div class="form-inline">
                    <us-icon-button class="ml-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="submitForm(employeeForm.value);myFormSubmited=true"></us-icon-button>


                    <us-icon-button class="ml-1" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="cancelUpdate()"></us-icon-button>

                </div>
            </div>


        </form>
    </div>
</div>


<!--==============================================================-->

<div class="mc-basic-info" *ngIf="!isEditMode" style="min-width: 332px;">
    <div class="scroll-content" usScroll>

        <div class="form-group row" *ngIf="selectedEmployee?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'ADMIN.AddEmGender' | translate}}</span>
            <strong class="col-8">{{(selectedEmployee?.Gender == 'MALE' ? 'Male':'Female')|translate}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.Address1' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.Address1}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.Address2' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.Address2}}</strong>
        </div>

        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.AddEmCity' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.PostPlace}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.PostalCode' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.PostCode}}</strong>
        </div>

        <div class="form-group row" *ngIf="selectedEmployee?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'ADMIN.IsBirthday' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.BirthDay | date:('COMMON.DateFormat'|translate)}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedEmployee?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'ADMIN.Age' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.Age}}</strong>
        </div>

        <div class="form-group row mt-3">
            <span class="col-4 pr-0 text-right">{{'ADMIN.AddEmMobile' | translate}}</span>
            <a *ngIf="selectedEmployee?.Mobile.length > 0" href="javascript:" (click)="openMobileSendSmsModal(sendSmsModal)" class="col-8">{{selectedEmployee?.Mobile.length > 0 ? selectedEmployee?.MobilePrefix: ''}} {{selectedEmployee?.Mobile}}</a>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.AddEmPrivate' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.Private?.length > 0 ? selectedEmployee?.PrivateTeleNoPrefix: ''}} {{selectedEmployee?.Private}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.Work' | translate}}</span>
            <strong class="col-8">{{selectedEmployee?.Work?.length > 0 ? selectedEmployee?.WorkTeleNoPrefix: ''}} {{selectedEmployee?.Work}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedEmployee?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'ADMIN.Email' | translate}}</span>
            <a href="javascript:" class="col-8 truncate">{{selectedEmployee?.Email}}</a>
        </div>

        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'ADMIN.TaskAssigned' | translate}}</span>
            <strong class="col-8"></strong>
        </div>

    </div>
</div>



<ng-template #rolesPopOver>

    <div class="d-flex no-gutters">
        <div class="col mr-2">
            <div class="border popover-scroller">
                <strong class="p-1">{{'ADMIN.Roles' | translate}}</strong>
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let empRole of exceEmpRoles; let index = index" [ngClass]="(index==selectedIndex)?{'table-active':true}:{'table-active':false}">
                            <td>
                                <label class="custom-control custom-checkbox checkbox-inline">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="empRole.isSelected" (change)="$event.target.checked?empRole.IsActive=true:empRole.IsActive=false;showGyms=false;$event.target.checked?selectedRoles=selectedRoles+1:selectedRoles=selectedRoles-1;$event.target.checked?selectedIndex=index:selectedIndex=selectedIndex;">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{empRole.RoleName}}</span>
                                </label>
                            </td>
                            <td>
                                <us-icon-button [isDisabled]="!empRole.isSelected" [labelText]="'ADMIN.ButtonAddGyms' | translate" (click)="showGyms=false;selectedRole=empRole;showGyms=true;selectedIndex=index">
                                </us-icon-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="border popover-scroller">
                <strong class="p-1">{{'ADMIN.LblGyms' | translate}}</strong>
                <table class="table table-sm" *ngIf="showGyms">
                    <tbody>
                        <tr *ngFor="let branch of exceEmpRoles[selectedIndex].branches">
                            <td>
                                <label class="custom-control custom-checkbox checkbox-inline w-100">
                                    <input type="checkbox" class="custom-control-input" [value]="branch.Id" [(ngModel)]="branch.IsCheck">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{branch.BranchName}}</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-2">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="closeRolesPop()"></us-icon-button>
    </div>
</ng-template>



<ng-template #homeGymPopOver>

    <div class="d-flex no-gutters">
        <div class="col">
            <div class="border popover-scroller">
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let branch of branches">
                            <td>
                                <label class="custom-control custom-radio">
                                    <input id="branch" name="gym" type="radio" class="custom-control-input" (change)="changeHomeGym($event,branch)" [checked]="selectedEmployee?selectedEmployee.HomeBranchId==branch.Id:false">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{branch.BranchName}}</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-end mt-2">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="closeHomeGymPop()"></us-icon-button>
    </div>
</ng-template>