html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    padding-top: 82px;
    display: block;
    height: 100vh;
    color: darken($brand-primary, 5%);
}

// app-root {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }
.full-content {
    width: 100%;
    height: 100%; // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: stretch;
    // align-content: stretch;
}

.breadcrumb {
    margin-bottom: 0rem;
    @include border-radius(0rem);
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: transparent;
}

.breadcrumb-item {
    cursor: pointer;
    float: left; // The separator between breadcrumbs (by default, a forward-slash: "/")
    +.breadcrumb-item::before {
        display: inline-block; // Suppress underlining of the separator in modern browsers
        padding-right: $breadcrumb-item-padding;
        padding-left: $breadcrumb-item-padding;
        color: $breadcrumb-divider-color;
        content: "#{$breadcrumb-divider}";
    } // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
    // without `<ul>`s. The `::before` pseudo-element generates an element
    // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
    //
    // To trick IE into suppressing the underline, we give the pseudo-element an
    // underline and then immediately remove it.
    +.breadcrumb-item:hover::before {
        text-decoration: none;
    }
    +.breadcrumb-item:hover::before {
        text-decoration: none;
    }
    &.active {
        color: $breadcrumb-active-color;
        font-weight: $font-weight-bold;
        cursor: default;
    }
}
//used for right align
.breadcrumb-item-none {
    +.breadcrumb-item-none::before {
        padding-left: 0px;
        content: " ";
    }
}

//Navbar
.navbar {
    @include box-shadow-exce(0 0 5px rgba(57, 70, 78, .2));
    border-top: 0.01rem solid $gray-400;
    background-color: $white;
}

.navbar-nav {
    li {
        border-left: 0.1rem solid $gray-300;
        @include media-breakpoint-down(sm) {
            border-left: 0rem;
        }
        line-height: 1.1;
    }
}

.img-circle {
    border-radius: 50%;
}

//tiles
.tile {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
    width: 14rem;
    height: 6rem;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease 0s;
    opacity: 1;
    .title {
        margin-top: 0px;
        font-size: 14px;
        font-weight: $font-weight-normal;
        margin-bottom: 5px;
        word-wrap: break-word;
        color: #fff;
        white-space: pre-wrap;
        max-width: 165px;
    }
    &:hover {
        opacity: 0.75;
    }
}

.operation {
    width: 6rem;
    height: 6rem;
    .title {
        font-size: 12px;
        height: 44px;
    }
}

.tile-translate-up {
    @include translate(0px, -18px);
}
//icon fill colors
.fill-primary {
    fill: theme-color("primary");
}

.fill-danger {
    fill: theme-color("danger");
}

.fill-warning {
    fill: theme-color("warning");
}

.fill-gary {
    fill: $gray-600;
}

.fill-white {
    fill: $white;
}

//member card
.member-card-header {
    position: relative;
    background-color: $member-card-header-title-bg;
    vertical-align: middle;
    .mc-title {
        color: $white;
        margin-left: 120px;
        font-weight: $font-weight-light;
        font-size: 16px;
        transition: 0.3s;
    }
    .mc-pic {
        transition: 0.3s;
        background-color: $member-card-header-title-bg;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 20px;
        z-index: 1000;
        padding: 5px;
        img {
            transition: 0.3;
            width: auto;
            height: auto;
            max-width: 90px;
            max-height: 90px;
        }
        .edit-pic {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
}

.member-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    .mc-left-pane {
        transition: 0.5s;
        max-width: 615px;
        background-color: $gray-300;
        border-right: 1px solid $gray-400;
        padding: 0.2rem;
        position: relative;
        .mc-binf-edit {
            position: absolute;
            top: 0;
            right: 0;
        }
        .basic-info-title {
            position: absolute;
            top: 32px;
            left: 140px;
        }
    }
    .mc-right-pane {
        width: 100%;
        height: calc(100% - 100px);
        height: 100%; //overflow: auto;
        position: relative;
        .mc-header {
            @include box-shadow-exce( 0 0 5px rgba(57, 70, 78, .2));
            background-color: lighten($body-bg, 50%);
            font-size: $font-size-lg;
            font-weight: $font-weight-light;
            text-transform: uppercase;
        }
    }
    .mc-basic-info {
        font-size: 0.84rem;
        margin-top: 4.5rem;
        .form-group {
            margin-bottom: 0.1rem;
        }
        a {
            font-weight: $font-weight-bold;
        }
    }
}

//member home serach basic info view
.mc-basicinfo-pic {
    background-color: $member-card-header-title-bg;
    width: 100px;
    height: 100px;
    padding: 5px;
    left: 5px;
    &.mr-pic {
        background-color: $white;
        border: 2px solid $gray-500;
    }
}

//for custom hand coursor
.cursor-hand {
    cursor: pointer;
}

.divider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: $gray-500;
    margin: 30px auto;
    &:after {
        content: 'OR';
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        font-size: 12px;
        color: $brand-primary;
        background: #fff;
        border-bottom: 1px dashed $gray-500;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        text-align: center;
    }
}

.loader {
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1090;
    outline: 0;
    .loader-content {
        background-color: #fff;
        border: 1px solid $gray-300;
        text-align: center;
        padding: 1em;
        display: inline-block;
        margin: 0 auto;
        @include box-shadow-exce( 0px 0px 41px -9px rgba(0, 0, 0, 0.52));
        @include boder-radius-exce (6px);
        height: 68px;
        svg path,
        svg rect {
            fill: theme-color("danger");
        }
    }
}

//Multiple Modal z index
.modal:nth-of-type(1) {
    z-index: 1050 !important;
}

.modal-backdrop:nth-of-type(1) {
    z-index: 1040 !important;
}

.modal:nth-of-type(2) {
    z-index: 1051 !important;
}

.modal-backdrop:nth-of-type(2) {
    z-index: 1050 !important;
}

.modal:nth-of-type(3) {
    z-index: 1052 !important;
}

.modal-backdrop:nth-of-type(3) {
    z-index: 1051 !important;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-header {
    border-bottom: 0px none;
}

//Long text set last line dotted
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-min-width {
    min-width: 300px !important;
}

//popover list line
.list-line-item {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0.3rem;
    padding-bottom: 0.3rem;
    &:last-child {
        margin-bottom: 0;
        border: none;
    }
}

//calendar view change tool bar
.calendar-tool-bar {
    background-color: darken($brand-primary, 15%);
    .btn-icon-cal {
        font-size: 30px;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal !important;
        padding: 0.3rem 0.4rem;
    }
}

// calendar fiter forms styles
.cal-input-group-addon {
    width: 200px;
    padding: 0rem;
    border: none;
    display: block;
    background: #fff;
    .mydp {
        border: 1px solid #fff;
    }
    .group-addon-mt {
        margin-top: 0.45rem;
        display: block;
    }
}

.title-bg {
    background-color: $member-card-header-title-bg;
    min-height: 36px;
    vertical-align: middle;
}

// Shop componant open via Modal

.shop-modal-vh {
    height: calc(100vh - 100px);
    padding: 0px;
}

button{
  cursor: pointer;
}

.custom-checkbox{
  cursor: pointer;
}

.custom-radio{
  cursor: pointer;
}

.custom-select{
  cursor: pointer;
}

.cursor-disabled{
  cursor: no-drop;
}
