<div class="d-flex mx-1 mb-1 justify-content-between">
  <!-- <div>
      <input type="text" class="form-control " placeholder="Filter by name">
  </div> -->
  <div class="ml-auto">
    <us-icon-button (click)="openSessoionModal({Id: 0 },sessoionModal, 'NEW')" [iconClass]="'icon-add'" [labelText]="'CLASS.NewSeasonC' | translate "></us-icon-button>

  </div>
</div>

<div class="d-flex no-gutters mt-1 mx-1">
  <us-data-table headerTitle="Manage Categories" [items]="classList" [itemCount]="itemCount" (reload)="reloadItems($event)"
    (rowDoubleClick)="openWeekViewCalandar($event.row.item)" [sortBy]="'ScheduleStartDate'" [sortAsc]="false" [pagination]="false"
    [limit]="itemCount">

    <data-table-column [property]="'Name'" header="{{ 'CLASS.NameS' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ScheduleStartDate'" header="{{ 'CLASS.StartDate' | translate}}" [sortable]="true" [width]="100">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ScheduleStartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ScheduleEndDate'" header="{{ 'CLASS.EndDate' | translate}}" [sortable]="true" [width]="100">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ScheduleEndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ClassGroup'" header="{{ 'CLASS.Copy' | translate}}" [width]="65">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openSessoionModal(item, sessoionModal, 'COPY')" title="{{'CLASS.Copy' |translate}}">
          <span class="icon-copy"></span>
        </button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ClassLevel'" header="{{ 'CLASS.Detail' | translate}}" [width]="65">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openSessoionModal(item, sessoionModal, 'DETAIL')" title="{{'CLASS.Detail' |translate}}">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ClassLevel'" header="{{ 'CLASS.CalendarOrList' | translate}}" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <button (click)="openWeekViewCalandar(item)" class="btn btn-primary btn-icon-min" title="{{'CLASS.CalendarOrList' |translate}}">
          <span class="icon-calendar-month"></span>
        </button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ClassLevel'" header="" [width]="50">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.IsClassDeleted" (click)="deleteSeason(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.DeleteItem' |translate}}">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table>
</div>

<ng-template #sessoionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.NewSeasonC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="addSeasonForm">

    <div class="modal-body ">
      <div class="d-flex no-gutters">
        <div class="col-md-12">
          <div class="form-group">
            <label>{{'COMMON.Name'| translate}}
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" type="text" formControlName="name" us-error [errorMsg]="formErrors.name" [displayError]="addSeasonFormSubmited && !addSeasonForm.get('name').valid"
              placement="bottom">
          </div>
        </div>
      </div>
      <div class="d-flex no-gutters">
        <div class="col-md-6">
          <div class="form-group mr-1">
            <label>{{'COMMON.FromC'| translate}} </label>
            <us-date-picker name="fromDate" formControlName="fromDate" #fromDate [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.fromDate"
              [displayError]="addSeasonFormSubmited && !addSeasonForm.get('fromDate').valid" placement="bottom" [options]="fromDatePickerOptions"
              (dateChanged)="onStartDateChange($event, fromDate, toDate)">
            </us-date-picker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ml-1">
            <label>{{'COMMON.To'| translate}}</label>
            <us-date-picker name="toDate" formControlName="toDate" #toDate [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.toDate"
              [displayError]="addSeasonFormSubmited && !addSeasonForm.get('toDate').valid" placement="bottom" [options]="toDatePickerOptions">
            </us-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button *ngIf="isDisplayCopyOk" [iconClass]="'icon-done'" [labelText]="'COMMON.Ok'| translate " (click)="saveNewSeasons(addSeasonForm.value)"></us-icon-button>
      <us-icon-button *ngIf="isDisplayDelete" [iconClass]="'icon-cancel'" [iconBgClass]="'bg-danger'" [labelText]="'COMMON.Delete'| translate "
        (click)="deleteSeasonFromDetail()"></us-icon-button>
      <us-icon-button *ngIf="isDisplaySave" [iconClass]="'icon-done'" [labelText]="'COMMON.Save'| translate " (click)="saveNewSeasons(addSeasonForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="c('Close click')"></us-icon-button>
    </div>
  </form>

</ng-template>