<form [formGroup]="editTemplateForm">
  <div class="d-flex">
    <div class="form-group">

      <label class="custom-control custom-checkbox checkbox-inline mr-2">
        <input type="checkbox" class="custom-control-input" formControlName="IsSMSChecked" (change)="changeSmsEvent($event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'MEMBERSHIP.sms' | translate}}</span>
      </label>

      <label class="custom-control custom-checkbox checkbox-inline mr-2">
        <input type="checkbox" class="custom-control-input" formControlName="IsEmailChecked" (change)="changeEmailEvent($event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'MEMBERSHIP.Email' | translate}}</span>
      </label>
    </div>
  </div>
  <div class="d-flex no-gutters">
    <div class="col-6 mr-2">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.smsNo' | translate }}</label>
        <input type="text" class="form-control" formControlName='SmsNo' us-error [errorMsg]="formErrors.SmsNo" [displayError]="!editTemplateForm.get('SmsNo').valid"
          placement="right" triggers="manual" container="body">
      </div>

      <div class="form-group">
        <label>{{ 'MEMBERSHIP.smsTemplate' | translate }}</label>
        <select class="custom-select w-100" (change)="onTemplateChange('SMS', $event.target.value)">
          <option *ngFor="let sms of SelectedSMSTemplate" value="{{sms}}">{{ sms.Name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>{{ 'MEMBERSHIP.ContentC' | translate }}</label>
        <textarea class="form-control w-100" rows="10" formControlName="SMSContent"></textarea>
      </div>

    </div>


    <div class="col">

      <div class="form-group">
        <label>{{ 'MEMBERSHIP.EmailAddress' | translate }}</label>
        <input type="text" class="form-control" formControlName="EmailAddress" us-error [errorMsg]="formErrors.EmailAddress" [displayError]="!editTemplateForm.get('EmailAddress').valid"
          placement="left">
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.EmailTemplate' | translate }}</label>
        <select class="custom-select w-100" (change)="onTemplateChange('EMAIL', $event.target.value)">
          <option *ngFor="let email of SelectedEmailTemplate" value="{{email}}">{{ email.Name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>{{ 'MEMBERSHIP.Content' | translate }}</label>
        <textarea class="form-control w-100" rows="10" formControlName="EmailContent" [value]="EmailContent"></textarea>
      </div>

    </div>

  </div>
  <div class="d-flex no-gutters mt-1">

    
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Send' | translate" (click)="sendSMSOrEmail()" [isDisabled]="!editTemplateForm.valid"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView()"></us-icon-button>
   

  </div>
</form>