<div class="row">
  <div class="col">
    <div class="form-group">
      <!-- <label class="custom-control custom-radio">
        <input id="radio1"   name="withdrawalType" (change)="withdrowalTypeChange(true)" [checked]='(isWithdrawal === true)' type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'COMMON.WithdrawalC' | translate}}</span>
      </label> -->
      <!-- <label class="custom-control custom-radio">
        <input id="radio1" name="withdrawalType" (change)="withdrowalTypeChange(false)" [checked]='(isWithdrawal === false)' type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'COMMON.PettyCashC' | translate}}</span>
      </label> -->
    </div>

    <form [formGroup]="withdrawalForm" *ngIf="isWithdrawal">
      <div class="form-group">
        <label> {{ 'COMMON.CustomerC' | translate }}</label>
        <div class="input-group">
          <input formControlName="MemberNo" class="form-control w-25 mr-1" type="text" us-error [errorMsg]="withdrawalFormError.MemberNo"
            [displayError]="formSubmited && !withdrawalForm.get('MemberNo').valid" placement="right">
          <input formControlName="MemberName" class="form-control w-50 mr-1" type="text">
          <button type="button" (click)="openEntitySelectionModel(entitySelectionModal)" class="btn btn-primary">Select</button>
        </div>
      </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label> {{ 'COMMON.WithdrawFrom' | translate }}</label>
              <select formControlName="WithdrawalFrom" class="custom-select w-100" (change)="onWithdrawalFromChange($event.target.value)"
                us-error [errorMsg]="withdrawalFormError.WithdrawalFrom" [displayError]="formSubmited && !withdrawalForm.get('WithdrawalFrom').valid"
                placement="right">
                <option *ngFor="let item of withdrawalFromList" value="{{item.value}}">{{item.label | translate}}</option>
              </select>
            </div>
          </div>
          <div class="col" *ngIf="selectedWithdrawalType !== 'CARD'">
            <div class="form-group">
              <label> {{ 'COMMON.Balance' | translate }}</label>
              <us-amount-input [hideClose]="true" class="w-100" formControlName='Balance'></us-amount-input>
            </div>
          </div>
        </div>

      <div class="form-group">
        <label> {{ 'COMMON.PaymentAmountC' | translate }}</label>
        <div class="input-group">
          <us-amount-input class="w-100" [hideClose]="false" formControlName='PaymentAmount' us-error [errorMsg]="withdrawalFormError.PaymentAmount" [displayError]="formSubmited && !withdrawalForm.get('PaymentAmount').valid"
            placement="right"></us-amount-input>
        </div>
      </div>
      <div class="form-group">
        <label> {{ 'COMMON.PaymentTypeC' | translate }}</label>
        <div class="input-group">
          <select formControlName="PaymentType" class="custom-select w-100">
            <option value="CASH">{{ 'COMMON.Cash' | translate }}</option>
            <option value="BANKSTATEMENT">{{ 'COMMON.BankStatement' | translate }}</option>
          </select>
        </div>
      </div>
    </form>

    <!-- <form [formGroup]="pettyCashForm" *ngIf="!isWithdrawal">
      <div class="form-group">
        <label> {{ 'COMMON.PaymentAmountC' | translate }}</label>
        <div class="input-group">
          <us-amount-input [hideClose]="false" class="w-100" formControlName='PaymentAmount' us-error [errorMsg]="pettyCashFormError.PaymentAmount" [displayError]="formSubmited && !pettyCashForm.get('PaymentAmount').valid"
            placement="right"></us-amount-input>
        </div>
      </div>

      <div class="form-group">
        <label> {{ 'SHOP.Comment' | translate }}</label>
        <div class="input-group">
          <textarea formControlName="Comment" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label> {{ 'COMMON.EmployeeC' | translate }}</label>
        <div class="input-group">
          <input formControlName="EmployeeName" class="form-control w-50 mr-1" type="text" us-error [errorMsg]="pettyCashFormError.EmployeeName"
            [displayError]="formSubmited && !pettyCashForm.get('EmployeeName').valid" placement="right">
          <button type="button" (click)="openEntitySelectionModel(entitySelectionModal)" class="btn btn-primary">Select</button>
        </div>
      </div>
    </form> -->

  </div>
</div>

<div class="d-flex">
  <us-icon-button class="mr-1" (click)="saveWithdrawal()" [iconClass]="'icon-done'" [labelText]="'SAVE'"></us-icon-button>
  <us-icon-button class="mr-1" (click)="cancelWithdrawal()" [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate "></us-icon-button>
</div>

<ng-template #entitySelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

        <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selecteMember($event)" (closeViewEvent)="closeEntitySelectionModel()" (addMemberEvent)="addMemberModal(addMemberModalView)"
      [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount"
      [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="isBranchVisible"
      [isStatusVisible]="isStatusVisible" [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection>
  </div>
</ng-template>

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
          </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)" (canceleAddNewMember)="closeNewMemberModal()">
    </exce-addmember>
  </div>
</ng-template>
