<div *ngIf="selectedIndex === 1">
    <div>
        <form [formGroup]="contractForm" (keydown.enter)="$event.preventDefault()">
            <div class="w-100 scroll-content">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <p class="m-0">{{'MEMBERSHIP.TemplateName' | translate}}</p>
                        <h5 class="text-truncate" title="{{selectedContract?.TemplateName}}">{{selectedContract?.TemplateName}}</h5>
                        <hr class="hr-dashed">
                        <div class="form-group" *ngIf="isContractTemplateVisible">
                            <label>{{'MEMBERSHIP.ContractTemplate' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control col-3" formControlName='TemplateNo' readonly="readonly">
                                <input type="text" class="form-control" formControlName='TemplateName' readonly="readonly">
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract || !isContractTemplateEnable" (click)="openContractTemplates(contractTemplates, 'TEMP')">{{'MEMBERSHIP.Select' | translate}}</button>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="isNextTemplateVisible">
                            <label>{{'MEMBERSHIP.NextTemplate' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control col-3" formControlName='NextTemplateNo' readonly="readonly">
                                <input type="text" class="form-control" formControlName='NextTemplateName' readonly="readonly">
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract || !isNextTemplateEnable" (click)="openContractTemplates(contractTemplates, 'NTEMP')">{{'MEMBERSHIP.Select' | translate}}</button>
                                <button (click)="deletenextTemplate()" [disabled]="!selectedContract?.IsMemberContract || !isNextTemplateEnable" *ngIf="selectedContract?.NextTemplateId > 0"
                                    class="btn btn-danger" title="{{'MEMBERSHIP.Delete' | translate}}">
                                    <span class="icon-cancel"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.CategoryC' | translate}}</label>
                            <select class="form-control custom-select" [disabled]="!selectedContract?.IsMemberContract" (change)="changeContractCategory($event.target.value)">
                                <option *ngFor="let conCat of _contractCategories" value="{{conCat.Id}}" [selected]="conCat.Id === selectedContract?.ContractTypeId">{{conCat.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.StartupItemPrice' | translate}}</label>
                            <div class="input-group" *ngIf="isItemPriceVisible">
                                <us-amount-input class="w-100" formControlName='StartUpItemPrice' ngDefaultControl [disabled]="true"></us-amount-input>
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract || !isItemPriceEnable" (click)="openStartupItems(ItemPriceView)">{{'MEMBERSHIP.Select' | translate}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.MonthlyItemsPrice' | translate}}</label>
                            <div class="input-group" *ngIf="isMonthlyItemPriceVisible">
                                <us-amount-input class="w-100" formControlName='ServiceAmount' ngDefaultControl [disabled]="true"></us-amount-input>
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract || !isMonthlyItemPriceEnable" (click)="openMonthlyItems(MonthlyItemsView)">{{'MEMBERSHIP.Select' | translate}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.Price' | translate}}</label>
                            <us-amount-input class="w-100" formControlName='ContractPrize' [disabled]="true" ngDefaultControl></us-amount-input>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.Group' | translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon">{{groupMemberCount}}</span>
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract" (click)="openGroupMembers(ViewGroupMembers)">{{'MEMBERSHIP.ViewGroupMembers' | translate}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.SignedCategory' | translate}}</label>
                            <select class="form-control custom-select" [disabled]="!selectedContract?.IsMemberContract" (change)="changeSignUpCategory($event.target.value)">
                                <option value="" disabled>{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor="let signCat of _signUpCategories" value="{{signCat.Id}}" [selected]="signCat.Id === selectedContract?.SignUpCategoryId ">{{signCat.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.AccessProfile' | translate}}</label>
                            <select class="form-control custom-select" [disabled]="!selectedContract?.IsMemberContract" (change)="changeAccessProfile($event.target.value)">
                                <option value="" disabled>{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor="let accessprofile of _accessProfiles" value="{{accessprofile.Id}}" [selected]="accessprofile.Id === selectedContract?.AccessProfileId ">{{accessprofile.AccessProfileName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.ContractCondition' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="contractCondition">
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract" (click)="openContractConditions(SelectContractCondition)">{{'MEMBERSHIP.Select' | translate}}</button>
                                <button (click)="deleteContractCondition()" [disabled]="!selectedContract?.IsMemberContract" *ngIf="selectedContract?.ContractConditionId > 0"
                                    class="btn btn-danger" title="{{'MEMBERSHIP.Delete' | translate}}">
                                    <span class="icon-cancel"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="_isMemberFee">
                            <label>{{'MEMBERSHIP.MemberFee' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="MemberFeeArticleName">
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract" (click)="selectArticles(monthlyServiceview, 'MEMBERFEE')">{{'MEMBERSHIP.Select' | translate}}</button>
                                <button (click)="deleteMemeberFee()" [disabled]="!selectedContract?.IsMemberContract" *ngIf="selectedContract?.MemberFeeArticleID > 0"
                                    class="btn btn-danger" title="{{'MEMBERSHIP.Delete' | translate}}">
                                    <span class="icon-cancel"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="_isMemberFeeMonth">
                            <label>{{'MEMBERSHIP.MemberFeeMonth' | translate}}</label>
                            <select class="form-control custom-select" [disabled]="!selectedContract?.IsMemberContract" (change)="changeMemberFeeMonth($event.target.value)">
                                <option value="" disabled>{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor="let month of _months" value="{{month.Id}}" [selected]="month.Id === selectedContract?.MemberFeeMonth">{{month.Name | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="_isMemberFee">
                            <label>{{'MEMBERSHIP.MemberFeeLastInvoicedDate' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker #memberFeeLastInvoicedDate [disabled]=true class="w-100" [locale]="'COMMON.Locale'| translate" formControlName="memberFeeLastInvoicedDate"> </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT' && isBookingActivity">
                          <label>{{'MEMBERSHIP.Booking' | translate}}</label>
                          <div class="input-group">
                              <span class="input-group-addon">{{selectedContract.ContractBookingList.length}}</span>
                              <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract" (click)="openBookingView(ContractBookings)">{{'MEMBERSHIP.ViewBookingSessions' | translate}}</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 px-2">
                        <p class="m-0" *ngIf="!selectedContract?.IsMemberContract === true">{{'MEMBERSHIP.GroupContractNo' | translate}}</p>
                        <p class="m-0" *ngIf="!selectedContract?.IsMemberContract === false">{{'MEMBERSHIP.ContractNo' | translate}}</p>
                        <h5>{{selectedContract?.MemberContractNo}}</h5>
                        <hr class="hr-dashed">
                        <div class="form-group" *ngIf="isContractCardGymVisible">
                            <label>{{'MEMBERSHIP.Gym' | translate}}</label>
                            <select class="form-control custom-select" (change)="changeContractGym($event.target.value)" [disabled]="!isContractCardGymEnable">
                                <option *ngFor="let contractGym of _gyms" value="{{contractGym.BranchId}}" [selected]="contractGym.BranchId === selectedContract?.BranchId">{{contractGym.BranchName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.SignedDate' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker #signedDate class="w-100" [disabled]="!selectedContract?.IsMemberContract" [locale]="'COMMON.Locale'| translate" formControlName='signedDate'>
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isValidPeriodVisible">
                            <label>{{'MEMBERSHIP.ValidPeriod' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker #ContractStartDate class="w-100" [disabled]="!selectedContract?.IsMemberContract || !isValidPeriodEnable" [locale]="'COMMON.Locale'| translate"
                                    formControlName='ContractStartDate'
                                    us-error [errorMsg]="formErrors.ContractStartDate" [displayError]="(isContractFormSubmitted && !contractForm.get('ContractStartDate').valid)"
                                    placement="top" container="view">
                                </us-date-picker>
                                <span class="input-group-addon border-left-0">{{'MEMBERSHIP.To' | translate}}</span>
                                <us-date-picker class="w-100" [disabled]="!selectedContract?.IsMemberContract || !isValidPeriodEnable || hasNewerTraingContract" [locale]="'COMMON.Locale'| translate"
                                    formControlName='ContractEndDate'
                                    us-error [errorMsg]="formErrors.ContractEndDate" [displayError]="(isContractFormSubmitted && !contractForm.get('ContractEndDate').valid)"
                                    placement="top" container="view">
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName != 'PUNCHCARD'">
                            <label>{{'MEMBERSHIP.NumberOfVisits' | translate}}</label>
                            <input type="text" class="form-control" readonly="!isNoOfvisitsEnabled" formControlName='NumberOfVisits'>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'PUNCHCARD' && isNoOfvisitsVisible">
                            <label>{{'MEMBERSHIP.RemainingPunches' | translate}}</label>
                            <input type="text" class="form-control" formControlName='AvailableVisits' readonly="!isNoOfvisitsEnabled">
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'PUNCHCARD' && isSoldVisitsVisible">
                            <label>{{'MEMBERSHIP.SoldPunches' | translate}}</label>
                            <input type="text" class="form-control" formControlName='SoldPunches' readonly="!isSoldVisitsEnabled">
                        </div>

                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT' && isLockUntilVisible">
                            <label>{{'MEMBERSHIP.LockUntill' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker class="w-100" [disabled]="!selectedContract?.IsMemberContract || !isLockUntilEnable" [locale]="'COMMON.Locale'| translate"
                                    formControlName='LockInPeriodUntilDate'>
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT' && isPriceGuarantyVisible">
                            <label>{{'MEMBERSHIP.PriceGuaranty' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker class="w-100" [disabled]="!selectedContract?.IsMemberContract || !isPriceGuarantyEnable" [locale]="'COMMON.Locale'| translate"
                                    formControlName='PriceGuarantyUntillDate'>
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT'">
                            <label>{{'MEMBERSHIP.Renewed' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker class="w-100" [disabled]="true" [locale]="'COMMON.Locale'| translate" formControlName='RenewedDate'> </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.ClosedDate' | translate}}</label>
                            <div class="input-group">
                                <us-date-picker class="w-100" [disabled]="true" [locale]="'COMMON.Locale'| translate" formControlName='ClosedDate'> </us-date-picker>
                                <button (click)="removeResign()" [disabled]="!selectedContract?.IsMemberContract || !enableResignRemove" class="btn btn-danger"
                                    title="{{'MEMBERSHIP.Delete' | translate}}">
                                    <span class="icon-cancel"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'MEMBERSHIP.ResignCategory' | translate}}</label>
                            <input type="text" class="form-control" formControlName='ResignCategory' disabled>
                        </div>
                        <div class="form-group mt-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [disabled]="!selectedContract?.IsMemberContract" formControlName='IsATG'>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{'MEMBERSHIP.ATG' | translate}}</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [disabled]="!selectedContract?.IsMemberContract" formControlName='IsInvoiceDetails'>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{'MEMBERSHIP.InvoiceDetails' | translate}}</span>
                            </label>
                        </div>
                        <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT' || !isAutoRenewVisible">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [disabled]="!selectedContract?.IsMemberContract || !isAutoRenewEnable"
                                    formControlName='AutoRenew'>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{'MEMBERSHIP.AutoRenew' | translate}}</span>
                            </label>
                        </div>
                        <!-- <div class="form-group" *ngIf="selectedContract?.ContractTypeName === 'CONTRACT'">
                            <label>{{'MEMBERSHIP.Booking' | translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon">{{selectedContract.ContractBookingList.length}}</span>
                                <button class="btn btn-primary" [disabled]="!selectedContract?.IsMemberContract" (click)="openBookingView(ContractBookings)">{{'MEMBERSHIP.ViewBookingSessions' | translate}}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <div style="width: 1088px;">
                            <div class="d-flex justify-content-start ">
                                <div *ngIf="!selectedContract?.IsMemberContract === true">
                                    <p class="m-0">{{'COMMON.Customer' | translate}}</p>
                                    <h5 class="text-truncate" title="{{selectedContract?.MemberCustId}} {{selectedContract?.MemberName}}">{{selectedContract?.MemberCustId}} {{selectedContract?.MemberName}}</h5>
                                </div>
                                <div class="ml-auto">
                                    <p class="m-0">{{'MEMBERSHIP.Activity' | translate}}</p>
                                    <h5>{{selectedContract?.ActivityName}}</h5>
                                </div>
                            </div>
                            <hr class="hr-dashed mt-2">
                            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-profile-tab" data-toggle="tab" name="ord" href="#nav-orders"
                                role="tab" aria-controls="nav-profile" aria-selected="false" (click)="navSelected($event)">{{'MEMBERSHIP.OrderList' | translate}}</a>
                                <a class="nav-link"id="nav-profile-tab" data-toggle="tab" name="inv" href="#nav-invoices" (click)="navSelected($event)" (mouseover)="invoiceNav($event)"
                                role="tab" aria-controls="nav-profile" aria-selected="false">{{'MEMBERSHIP.Invoice' | translate}}</a>
                                <us-icon-button *ngIf="orderListSelected" class="ml-auto mt-1 mr-2 {{orderListSelected ? 'testFadeIn' : 'testFadeOut'}}" [iconClass]="'icon-add'" [isDisabled]="!selectedContract?.IsMemberContract" [labelText]="'COMMON.Add' | translate "
                                (click)="AddOrderEvent()"></us-icon-button>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-orders" role="tabpanel" aria-labelledby="nav-home-tab">
                                  <ag-grid-angular
                                  class="ag-theme-balham grid"
                                  [rowData]="selectedContract?.InstalllmentList"
                                  [columnDefs]="orderDefs"
                                  [enableSorting]="true"
                                  [enableColResize]="true"
                                  [enableFilter]="false"
                                  [floatingFilter]="false"
                                  [suppressCellSelection] ="true"
                                  [suppressNoRowsOverlay]="true"

                                  [getRowHeight]="getRowHeight"

                                  [suppressRowClickSelection]="true"
                                  [rowSelection]="'multiple'"

                                  (gridReady)="onGridReady($event, 'ORD')"
                                  (cellClicked)="cellClickedOrder($event)"
                                  (rowSelected)="ordersSelected($event)"
                                  (rowDoubleClicked)="orderDBClicked($event)"

                                  >
                                  </ag-grid-angular>
                              </div>

                              <div class="tab-pane fade" id="nav-invoices" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <ag-grid-angular
                                  class="ag-theme-balham grid"
                                  [rowData]="memberInvoicesList"
                                  [columnDefs]="invoiceDefs"
                                  [enableSorting]="true"
                                  [enableColResize]="true"
                                  [enableFilter]="false"
                                  [floatingFilter]="false"
                                  [suppressCellSelection] ="true"
                                  [suppressNoRowsOverlay]="true"

                                  [getRowHeight]="getRowHeight"

                                  [suppressRowClickSelection]="true"

                                  (gridReady)="onGridReadyInvoices($event, 'INV')"
                                  (cellClicked)="cellClickedInvoices($event)"
                                  (rowDoubleClicked)="invoicesDBClicked($event)"
                                  >
                                  </ag-grid-angular>
                              </div>
                            </div>
                                    <!--
                                <li class="nav-item" tabTitle="{{'MEMBERSHIP.Invoice' | translate}}">

                                    <us-data-table class="tab-list-table" id="invoices" (rowSelect)="rowsSelected($event)" [pagination]="false" [items]="memberInvoicesList"
                                        [itemCount]="itemCount" (reload)="reloadItems($event)">
                                        <data-table-column [property]=" 'MembeInvoiceId' " [header]=" 'MEMBERSHIP.Id' | translate " [width]="50">
                                        </data-table-column>
                                        <data-table-column [property]=" 'InvoiceNo' " [header]=" 'MEMBERSHIP.InvoiceNo' | translate " [width]="120">
                                        </data-table-column>
                                        <data-table-column [property]=" 'InvoiceDate' " [header]=" 'MEMBERSHIP.INVInvoiceDate' | translate " [width]="120">
                                            <ng-template #dataTableCell let-item="item">
                                                <span>{{item.InvoiceDate | date:('COMMON.DateFormat'|translate)}}</span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]=" 'InvoiceDueDate' " [header]=" 'MEMBERSHIP.INVInvoiceDueDate' | translate " [width]="122">
                                            <ng-template #dataTableCell let-item="item">
                                                <span>{{item.InvoiceDueDate | date:('COMMON.DateFormat'|translate)}}</span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]=" 'InvoiceAmount' " [header]=" 'MEMBERSHIP.Total' | translate " [alignment]="'right'" [width]="118">
                                            <ng-template #dataTableCell let-item="item">
                                                <span>{{item.InvoiceAmount | amountConverter:locale}}</span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]=" 'InvoiceBalance' " [header]=" 'MEMBERSHIP.Balance' | translate " [alignment]="'right'" [width]="118">
                                            <ng-template #dataTableCell let-item="item">
                                                <span>{{item.InvoiceBalance | amountConverter:locale}}</span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]="''" header="{{'MEMBERSHIP.INVPayer' | translate}}" [sortable]="true" [width]="134">
                                            <ng-template #dataTableCell let-item="item">
                                                <div *ngIf="item.PayDirection != 0" class="d-flex align-items-center">
                                                    <span>
                                                        <svg *ngIf="item.PayDirection == 2" class="d-block" version="1.1" id="pthright" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                            xml:space="preserve">
                                                            <path fill="#C6731F" d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12c6.6,0,12-5.4,12-12S18.6,0,12,0z M13.5,16.5v-3c0,0-6-1.5-9,3c0-5,4-9,9-9v-3l6,6
                                                                L13.5,16.5z" />
                                                        </svg>
                                                        <svg *ngIf="item.PayDirection == 1" class="d-block" version="1.1" id="pthleft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                            xml:space="preserve">
                                                            <path fill="#2286D4" d="M12,0c6.6,0,12,5.4,12,12s-5.4,12-12,12C5.4,24,0,18.6,0,12S5.4,0,12,0z M10.5,16.5v-3c0,0,6-1.5,9,3c0-5-4-9-9-9v-3l-6,6
                                                                L10.5,16.5z" />
                                                        </svg>
                                                    </span>
                                                    <span class="ml-2">{{item.PayeePayerName}}</span>
                                                </div>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]="''" header="{{'MEMBERSHIP.Content' | translate}}" [width]="80">
                                            <ng-template #dataTableCell let-item="item">
                                                <button class="btn btn-primary btn-icon-min" title="pdf" (click)="invoiceContent(item)">
                                                    <span class="icon-pdf"></span>
                                                </button>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]="''" header="{{'MEMBERSHIP.Type' | translate}}" [width]="50">
                                            <ng-template #dataTableCell let-item="item">
                                                <span *ngIf="item.InvoiceType == 'IN'" id="contTypeIn" title="{{'MEMBERSHIP.IN' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M7.6,16 c0,0.4-0.1,0.7-0.3,1c-0.2,0.2-0.4,0.3-0.8,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-1V8c0-0.4,0.1-0.7,0.3-0.9 C6,6.9,6.3,6.8,6.6,6.8s0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,1V16z M18.4,15.9c0,0.9-0.4,1.3-1.1,1.3c-0.2,0-0.3,0-0.5-0.1 c-0.1,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.2-0.3-0.4c-0.1-0.1-0.2-0.3-0.3-0.5l-3.8-5.9v5.9c0,0.4-0.1,0.7-0.3,0.9 c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.2-0.5-0.2-0.9V8.3c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.4,0.4-0.5 c0.2-0.1,0.4-0.2,0.7-0.2c0.2,0,0.3,0,0.5,0.1S11.9,7,12,7.1c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.2,0.3,0.3,0.5l3.9,5.9v-6 c0-0.4,0.1-0.7,0.2-0.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.2,0.5,0.2,0.9V15.9z"
                                                        /> </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'Shop'" id="contTypeShop" title="{{'MEMBERSHIP.Shop' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="m15.3 8.4h-6.6c0-1.9 1.5-3.4 3.3-3.4s3.3 1.5 3.3 3.4zm8.5 3.6c0 6.5-5.3 11.8-11.8 11.8s-11.8-5.3-11.8-11.8 5.2-11.8 11.8-11.8c6.5 0 11.8 5.3 11.8 11.8zm-5.7 2.6l0.4-6.2h-2.5c0-2.3-1.8-4.1-4.1-4.1s-4.1 1.8-4.1 4.1h-2.4l0.6 6.2-0.3 4h12.7l-0.3-4z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'IP'" id="contTypeIp" title="{{'MEMBERSHIP.IP' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M16.6,9.1c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.4-0.8,0.5c-0.3,0.1-0.8,0.2-1.3,0.2h-1.4V8.7h1.4C15.7,8.7,16.3,8.8,16.6,9.1z M23.8,12c0,6.5-5.3,11.8-11.8,11.8S0.2,18.5,0.2,12S5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M8.7,8.2c0-0.4-0.1-0.8-0.3-1S7.9,6.9,7.6,6.9C7.3,6.9,7.1,7,6.9,7.2s-0.3,0.5-0.3,1v8.3c0,0.4,0.1,0.8,0.3,1s0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3s0.3-0.5,0.3-1V8.2z M19.2,10.2c0-0.5-0.1-1-0.2-1.4c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.3-0.7-0.5-1.1-0.6C16.7,7.1,16,7,15.2,7h-2.8c-0.5,0-0.8,0.1-1,0.3c-0.2,0.2-0.3,0.5-0.3,1v8.2c0,0.4,0.1,0.7,0.3,1s0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-1v-3h2c1.3,0,2.3-0.3,3-0.8C18.9,12.1,19.2,11.3,19.2,10.2z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'PP'" id="contTypePp" title="{{'MEMBERSHIP.PP' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M16.8,8.7h-1.4v3.1h1.4c0.5,0,0.9-0.1,1.2-0.2c0.3-0.1,0.6-0.3,0.8-0.5s0.3-0.5,0.3-0.9c0-0.5-0.1-0.8-0.4-1.1C18.4,8.9,17.8,8.7,16.8,8.7z M7.3,8.7H5.9v3.1h1.4c0.5,0,0.9-0.1,1.2-0.2c0.3-0.1,0.6-0.3,0.8-0.5s0.3-0.5,0.3-0.9c0-0.5-0.1-0.8-0.4-1.1C8.8,8.9,8.2,8.7,7.3,8.7z M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M10.6,12.6C10,13.2,9,13.4,7.8,13.4H5.9v2.9c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.9V8.4c0-0.5,0.1-0.8,0.3-1c0.2-0.2,0.5-0.3,1-0.3h2.7c0.8,0,1.4,0.1,1.8,0.2c0.4,0.1,0.8,0.3,1.1,0.6s0.5,0.6,0.7,1c0.2,0.4,0.2,0.8,0.2,1.3C11.6,11.3,11.3,12.1,10.6,12.6z M20.2,12.6c-0.6,0.5-1.6,0.8-2.9,0.8h-1.9v2.9c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.3-0.7,0.3s-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.9V8.4c0-0.5,0.1-0.8,0.3-1s0.5-0.3,1-0.3h2.7c0.8,0,1.4,0.1,1.8,0.2s0.8,0.3,1.1,0.6c0.3,0.3,0.5,0.6,0.7,1s0.2,0.8,0.2,1.3C21.2,11.3,20.9,12.1,20.2,12.6z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'SP'" id="contTypeSp" title="{{'MEMBERSHIP.SP' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M18.8,9.4c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.1,0.7-0.3,0.9s-0.4,0.4-0.8,0.5c-0.3,0.1-0.7,0.2-1.2,0.2h-1.4V8.9h1.4C17.9,8.9,18.5,9.1,18.8,9.4z M23.8,12c0,6.5-5.3,11.8-11.8,11.8S0.2,18.5,0.2,12S5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M11.6,14.6c0-0.5-0.1-1-0.3-1.3s-0.4-0.7-0.8-0.9c-0.3-0.2-0.7-0.4-1.2-0.6c-0.5-0.2-1-0.3-1.6-0.5c-0.5-0.1-0.8-0.2-1-0.3c-0.2-0.1-0.4-0.1-0.6-0.3c-0.2-0.1-0.4-0.2-0.5-0.4s-0.2-0.3-0.2-0.5C5.5,9.5,5.7,9.3,6,9c0.3-0.2,0.8-0.4,1.3-0.4c0.6,0,1,0.1,1.3,0.3c0.3,0.2,0.5,0.5,0.7,0.9c0.1,0.3,0.3,0.5,0.4,0.6c0.1,0.1,0.3,0.2,0.5,0.2c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.3-0.4-0.6-0.7-0.8S9.6,7.6,9.1,7.4c-0.5-0.2-1-0.2-1.7-0.2C6.7,7.2,6,7.3,5.4,7.5s-1,0.6-1.4,1C3.7,9,3.6,9.5,3.6,10.1c0,0.6,0.1,1.1,0.4,1.5c0.3,0.4,0.7,0.7,1.2,1c0.5,0.2,1.1,0.4,1.9,0.6c0.6,0.1,1,0.2,1.3,0.4C8.8,13.6,9,13.8,9.2,14c0.2,0.2,0.3,0.5,0.3,0.8c0,0.4-0.2,0.8-0.6,1.1c-0.4,0.3-0.9,0.4-1.5,0.4c-0.5,0-0.8-0.1-1.1-0.2s-0.5-0.3-0.6-0.5c-0.2-0.2-0.3-0.5-0.4-0.8c-0.1-0.3-0.2-0.5-0.4-0.6c-0.2-0.1-0.3-0.2-0.6-0.2c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.4,0.1,0.9,0.4,1.4C4.1,16.7,4.5,17,5,17.3c0.7,0.4,1.5,0.6,2.5,0.6c0.9,0,1.6-0.1,2.2-0.4c0.6-0.3,1.1-0.7,1.4-1.2C11.5,15.8,11.6,15.2,11.6,14.6z M21.3,10.5c0-0.5-0.1-0.9-0.2-1.3c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.3-0.7-0.5-1.1-0.6c-0.4-0.1-1-0.2-1.8-0.2h-2.7c-0.5,0-0.8,0.1-1,0.3c-0.2,0.2-0.3,0.5-0.3,1v8c0,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.4,0.3,0.8,0.3c0.3,0,0.6-0.1,0.7-0.3c0.2-0.2,0.3-0.5,0.3-1v-2.9h1.9c1.3,0,2.3-0.3,2.9-0.8C21,12.3,21.3,11.5,21.3,10.5z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'ATG'" id="contTypeAtg" title="{{'MEMBERSHIP.ATG' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M5.5,10.3l1,3.5c0,0,0,0.1,0,0.1h-2c0,0-0.1,0,0-0.1L5.5,10.3C5.4,10.3,5.4,10.3,5.5,10.3C5.5,10.3,5.5,10.3,5.5,10.3z M23.8,12c0,6.5-5.3,11.8-11.8,11.8C5.5,23.8,0.2,18.5,0.2,12C0.2,5.5,5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M8.4,16.2c0-0.1,0-0.1,0-0.2L6,8C5.9,7.7,5.8,7.6,5.5,7.6C5.2,7.6,5,7.7,4.9,8l-2.4,8c0,0.1,0,0.1,0,0.2c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2c0.3,0,0.5-0.1,0.6-0.4L4,15.1c0,0,0-0.1,0.1-0.1h2.7c0,0,0.1,0,0.1,0.1l0.4,1.3c0.1,0.3,0.3,0.4,0.6,0.4c0.2,0,0.3-0.1,0.4-0.2C8.4,16.5,8.4,16.4,8.4,16.2z M14.9,8.2c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.2-0.4-0.2h-3.9c-0.2,0-0.3,0.1-0.4,0.2C9.9,7.9,9.8,8,9.8,8.2S9.9,8.5,10,8.6c0.1,0.1,0.3,0.2,0.4,0.2h1.3c0,0,0.1,0,0.1,0.1v7.4c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.2-0.4V8.8c0,0,0-0.1,0.1-0.1h1.3c0.2,0,0.3-0.1,0.4-0.2C14.9,8.5,14.9,8.3,14.9,8.2z M21.5,14.6v-2.4c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.2-0.4-0.2h-1.4c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.2,0.3-0.2,0.4s0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2h0.7c0,0,0.1,0,0.1,0.1v1.8c0,0.3-0.1,0.5-0.3,0.8s-0.5,0.3-0.8,0.3h-0.6c-0.3,0-0.5-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.8V9.8c0-0.3,0.1-0.6,0.3-0.8s0.5-0.3,0.8-0.3h0.6c0.5,0,0.8,0.2,1,0.6c0.1,0.2,0.3,0.3,0.5,0.3c0.2,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.2-0.4c0-0.1,0-0.2-0.1-0.3c-0.2-0.4-0.5-0.7-0.8-0.9c-0.4-0.2-0.8-0.3-1.2-0.3h-0.6c-0.6,0-1.1,0.2-1.6,0.7c-0.4,0.4-0.7,1-0.7,1.6v4.8c0,0.6,0.2,1.1,0.7,1.6c0.4,0.4,1,0.7,1.6,0.7h0.6c0.6,0,1.1-0.2,1.6-0.7C21.3,15.7,21.5,15.2,21.5,14.6z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'SMS'" id="contTypeSms" title="{{'MEMBERSHIP.sms' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12c0,6.5,5.3,11.8,11.8,11.8c6.5,0,11.8-5.3,11.8-11.8C23.8,5.5,18.5,0.2,12,0.2z M18.9,14.7c0,0.7-0.6,1.3-1.3,1.3h-3l-5.9,4l1.4-4H6.8c-0.7,0-1.3-0.6-1.3-1.3V7.3C5.5,6.6,6.1,6,6.8,6h10.8c0.7,0,1.3,0.6,1.3,1.3V14.7z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'Email'" id="contTypeEmail" title="{{'MEMBERSHIP.Email' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M12,6.5h6.4l-3.2,3.2L12,12.9L8.8,9.7L5.6,6.5H12z M19.3,17.1H4.7V7.6h0L8.2,11l3.8,3.7l3.8-3.7l3.4-3.4h0V17.1z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'Paper'" id="contTypePaper" title="{{'MEMBERSHIP.Paper' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M17.8,17.6c0,0.6-0.5,1.1-1.1,1.1H7.3c-0.6,0-1.1-0.5-1.1-1.1V6.4c0-0.6,0.5-1.1,1.1-1.1h5.9v3c0,0.9,0.7,1.6,1.6,1.6h3V17.6z M17.8,8.9L17.8,8.9h-3c-0.4,0-0.7-0.3-0.7-0.7v-3L17.8,8.9L17.8,8.9L17.8,8.9z"
                                                        />
                                                    </svg>
                                                </span>
                                                <span *ngIf="item.InvoiceType == 'CN'" id="contTypeCreditNote" title="{{'MEMBERSHIP.CreditNoteC' | translate}}">
                                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                        xml:space="preserve">
                                                        <path class="fill-primary" d="M6.7,17.9h7.4v-3.1h3.1V6.1H6.7V17.9z M10.1,8.9h5v1.2h-5V8.9z M8.3,13.3c0.3-0.3,0.8-0.3,1.1,0l0.8,0.8l2.8-2.8c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3.8,3.8l-1.9-1.9C8.1,14.1,8.1,13.6,8.3,13.3z M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M18.5,15.4c0,0.2-0.1,0.3-0.2,0.4l-3.1,3.1c-0.1,0.1-0.3,0.2-0.4,0.2H6.1c-0.3,0-0.6-0.3-0.6-0.6v-13c0-0.3,0.3-0.6,0.6-0.6h11.8c0.3,0,0.6,0.3,0.6,0.6V15.4z"
                                                        />
                                                    </svg>
                                                </span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]="''" header="{{'MEMBERSHIP.Status' | translate}}" [sortable]="true" [width]="125">
                                            <ng-template #dataTableCell let-item="item">
                                                <span *ngIf="item.IsPartiallyPaid" class="badge badge-warning py-1">{{item.InvoiceStatus}}</span>
                                                <span *ngIf="item.IsFullyPaid" class="badge badge-success py-1">{{item.InvoiceStatus}}</span>
                                                <span *ngIf="item.IsNotPaid" class="badge badge-danger py-1">{{item.InvoiceStatus}}</span>
                                            </ng-template>
                                        </data-table-column>
                                        <data-table-column [property]="''" [width]="40">
                                            <ng-template #dataTableCell let-item="item">
                                                <button class="btn btn-primary btn-icon-min" (click)="viewInvoiceDetails( item.InvoiceType !== 'CN'? invoiceDetails: creditNote, item)"
                                                    title="{{'MEMBERSHIP.Detail' | translate}}">
                                                    <span class="icon-detail"></span>
                                                </button>
                                            </ng-template>
                                        </data-table-column>
                                    </us-data-table>


                                </<li>
                              </ul> -->
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="d-flex justify-content-start mt-3">
        <us-icon-button class="mr-1" [isDisabled]="!selectedContract?.IsMemberContract" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate "
        (click)="saveMemberContract()"></us-icon-button>
        <us-icon-button class="mr-2" (click)="backToContracts()" [iconClass]="'icon-close'" [labelText]="'MEMBERSHIP.Back' | translate "></us-icon-button>
        <us-icon-button class="mr-1" (click)="renewContract()" [isDisabled]="!selectedContract?.IsMemberContract || selectedContract?.Status == 'Closed'"
            [iconClass]="'icon-renew'" [labelText]="'MEMBERSHIP.Renew' | translate "></us-icon-button>
        <us-icon-button class="mr-1" [isDisabled]="!selectedContract?.IsMemberContract || selectedContract?.Status == 'Closed' "
            [iconClass]="'icon-freeze'" [labelText]="'MEMBERSHIP.Freeze' | translate " (click)="openFreeze()"></us-icon-button>
        <us-icon-button class="mr-2" [isDisabled]="!selectedContract?.IsMemberContract || !selectedContract?.IsActive" [iconClass]="'icon-resign'"
            [labelText]="'MEMBERSHIP.Resign' | translate " (click)="resignContract()"></us-icon-button>
        <us-icon-button class="mr-1" [isDisabled]="!ContractChanged || !selectedContract?.IsMemberContract" [iconClass]="'icon-update'"
            [labelText]="'MEMBERSHIP.UpdateOrders' | translate " (click)="updateOrders()"></us-icon-button>
        <us-icon-button class="mr-1" (click)="moveOrders()" [isDisabled]="!selectedContract?.IsMemberContract" [iconClass]="'icon-move-orders'"
            [labelText]="'MEMBERSHIP.MoveOrders' | translate "></us-icon-button>
        <us-icon-button class="mr-2"[isDisabled]="!selectedContract?.IsMemberContract || mergeOrdersDisable" (click)="mergeOrders()"
            [iconClass]="'icon-merge'" [labelText]="'MEMBERSHIP.MergeOrders' | translate "></us-icon-button>
        <us-icon-button class="mr-1" [isDisabled]="!selectedContract?.IsMemberContract" [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.Print' | translate "
            (click)="openContractConfirmModal()"></us-icon-button>
        <us-icon-button class="mr-1" [isDisabled]="!selectedContract?.IsMemberContract" [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.PrintAtg' | translate "
            (click)="printCATG()"></us-icon-button>
    </div>
</div>
<div *ngIf="selectedIndex === 2">
    <app-freeze [selectedContract]="selectedContract.Id" (canceled)=cancelFreeze()></app-freeze>
</div>

<!-- ====Items Price View ==== -->
<ng-template #ItemPriceView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.StartUpItemsView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-end mb-1">
            <us-icon-button class="float-right" [iconClass]="'icon-add'" [isDisabled]="!firstOrderHas" [labelText]="'MEMBERSHIP.NewItem' | translate "
                (click)="selectArticles(monthlyServiceview, 'STARTUP')"></us-icon-button>
        </div>
        <table class="table table-sm table-default item-price-table">
            <thead class="thead-primary">
                <tr>
                    <th>{{'MEMBERSHIP.Name' | translate}}</th>
                    <th class="text-right">{{'MEMBERSHIP.UnitPrice' | translate}}</th>
                    <th class="text-right">{{'MEMBERSHIP.Price' | translate}}</th>
                    <th>{{'MEMBERSHIP.Quantity' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let startItem of startUpitems">
                    <td>{{startItem.ItemName}}</td>
                    <td class="text-right">{{startItem.UnitPrice | amountConverter:locale}}</td>
                    <td class="text-right">{{startItem.Price | amountConverter:locale}}</td>
                    <td>{{startItem.Quantity}}</td>
                    <td>
                        <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}" (click)="removeStartUpItem(startItem)">
                            <span class="icon-cancel"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="contractItemsUpdated('STARTUP')"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeContractItemsView()"></us-icon-button>
    </div>
</ng-template>

<!-- ====Monthly Items View ==== -->
<ng-template #MonthlyItemsView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.MonthlyItemsView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>

    <div class="modal-body">
        <div class="d-flex justify-content-end mb-1">
            <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.NewItem' | translate " (click)="selectArticles(monthlyServiceview, 'MONTHLY')"></us-icon-button>
        </div>

        <us-data-table class="monthly-item-price-table" [pagination]="false" [items]="monthlyItems" [rowTooltip]="rowTooltip">
            <data-table-column [property]="'ItemName'" [header]="'MEMBERSHIP.Name' | translate" [sortable]="true" [resizable]="true"></data-table-column>
            <data-table-column [property]="'Price'" [header]="'MEMBERSHIP.Price' | translate" [sortable]="true" [resizable]="true" [alignment]="'right'">
                <ng-template #dataTableCell let-item="item">
                    <span>{{item.Price | amountConverter:locale}}</span>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'Quantity'" [header]="'MEMBERSHIP.Quantity' | translate" [sortable]="true" [resizable]="true"></data-table-column>
            <data-table-column [property]="'StartOrder'" [header]="'MEMBERSHIP.StartOrder' | translate" [sortable]="true" [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    <input type="text" [value]="item.StartOrder" class="form-control form-control-sm" (change)="updateOrderPeriod(item,'START', $event.target.value)">
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'EndOrder'" [header]="'MEMBERSHIP.EndOrder' | translate" [sortable]="true" [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    <input type="text" [value]="item.EndOrder > 0 ? item.EndOrder : ''" (change)="updateOrderPeriod(item,'END', $event.target.value)"
                        class="form-control form-control-sm">
                </ng-template>
            </data-table-column>
            <data-table-column [property]="''" header="{{'MEMBERSHIP.Delete' | translate}}" [width]="80" [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    <button (click)="removeContractItem(item, 'MONTHLY')" [disabled]="item.IsActivityArticle" class="btn btn-danger btn-icon-min"
                        title="{{'MEMBERSHIP.Delete' | translate}}">
                        <span class="icon-cancel"></span>
                    </button>
                </ng-template>
            </data-table-column>
        </us-data-table>


    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="contractItemsUpdated('MONTHLY')"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeContractItemsView()"></us-icon-button>
    </div>
</ng-template>

<!-- ====View Group Members ==== -->
<ng-template #ViewGroupMembers let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{'MEMBERSHIP.GroupMembers' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-end mb-1">
            <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.Add' | translate" (click)="addGroupMembers(newMemberModalView)"></us-icon-button>
        </div>

        <table class="table table-sm table-default group-mem-select-table">
            <thead class="thead-primary">
                <tr>
                    <th>{{'MEMBERSHIP.CustomerNo' | translate}}</th>
                    <th>{{'MEMBERSHIP.Name' | translate}}</th>
                    <th>{{'MEMBERSHIP.Mobile' | translate}}</th>
                    <th>{{'MEMBERSHIP.Email' | translate}}</th>
                    <th>{{'MEMBERSHIP.StartDate' | translate}}</th>
                    <th>{{'MEMBERSHIP.EndDate' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gMember of groupMembers">
                    <td>{{gMember.CustId}}</td>
                    <td>{{gMember.Name}}</td>
                    <td>{{gMember.Mobile}}</td>
                    <td>{{gMember.Email}}</td>
                    <td>
                        <us-date-picker class="w-100" [selDate]="gMember.GmStartDate" name="startDate" #startDate [locale]="'COMMON.Locale'| translate"
                            (dateChanged)="groupDateChanged($event, gMember, 'START')">
                        </us-date-picker>
                    </td>
                    <td>
                        <us-date-picker class="w-100" [selDate]="gMember.GmEndDate" name="endtDate" #endDate [locale]="'COMMON.Locale'| translate"
                            (dateChanged)="groupDateChanged($event, gMember, 'END')">
                        </us-date-picker>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}" (click)="deleteGroupMember(gMember)">
                            <span class="icon-cancel"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="groupMembersUpdated()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.Print' | translate " (click)="printGroupMembers()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView('GROUP')"></us-icon-button>
    </div>
</ng-template>


<!-- ====Select Contract Condition ==== -->
<ng-template #SelectContractCondition let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectContractCondition' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <us-data-table class="sel-cont-detail-condition-table" [pagination]="false" [items]="_contractConditions" (rowDoubleClick)="contractConditionSelected($event.row.item)">
            <data-table-column [property]="'Id'" [header]="'MEMBERSHIP.Name' | translate">
            </data-table-column>
            <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Number' | translate">
            </data-table-column>
        </us-data-table>
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="closeView('CONDITIONS')" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>
    </div>
</ng-template>


<!-- ====View Booking Sessions==== -->
<ng-template #ContractBookings let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.ContractBookings' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-sm table-default booking-session-table">
            <thead class="thead-primary">
                <tr>
                    <th>{{'MEMBERSHIP.Resource' | translate}}</th>
                    <th>{{'MEMBERSHIP.Day' | translate}}</th>
                    <th>{{'MEMBERSHIP.StartTime' | translate}}</th>
                    <th>{{'MEMBERSHIP.EndTime' | translate}}</th>
                    <th>{{'MEMBERSHIP.CostPerBooking' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of selectedContract.ContractBookingList">
                    <td>{{booking.ResourceName}}</td>
                    <td>{{booking.Day}}</td>
                    <td>{{booking.BookingStartTime | date:'HH:mm'}}</td>
                    <td>{{booking.BookingEndTime | date:'HH:mm'}}</td>
                    <td>{{booking.BookingAmount | amountConverter:locale}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="closeView('BOOKING')"></us-icon-button>
    </div>
</ng-template>

<ng-template #contractTemplates let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectContract' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-contract-tmp-select *ngIf="_templateOpened === true" (selectTempateEvent)="templateSelected($event)"></exce-contract-tmp-select>
    </div>
    <div class="modal-footer">
        <!--<us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>-->
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView('TEMPLATE')"></us-icon-button>
    </div>
</ng-template>

<!-- ====monthly service and item ==== -->
<ng-template #monthlyServiceview let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectOrderlines' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="orderlineModelClose()">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <select-orderlines [selectionType]="selectionType" (closeModel)="orderlineModelClose()" (selectItemByDoubleClick)="selectItemByDoubleClick($event)"
            (selectMultipleArticles)="selectMultipleArticles($event)"></select-orderlines>
    </div>
</ng-template>

<!--select order view -->
<ng-template #orderDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <order-details-view [selectedOrder]="selectedOrder" [buttonsEnabled]="true" [IsViewEnabled]="true" [isaEnableShopOperations]="true"
            (closeOrderDetailModel)="closeOderDetailModal()" (orderUpdateSuccessEvent)="orderUpdateSuccess()"></order-details-view>
    </div>
</ng-template>

<!-- member selectioniew-->
<ng-template #newMemberModalView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.MemberSelection' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <exce-entityselection (searchEvent)="searchMember($event)" [itemList]="entityItems" (selectedItems)="MemberSelected($event)" [clickable]="false"
            (addMemberEvent)="addMemberView(addMemberModalView)" [multipleSelect]="multipleRowSelect" [auotocompleteItems]="autocompleteItems"
            [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="false" [defaultRole]="defaultRoleType"
            [entitySelectionType]="entitySelectionType" [isDbPagination]="true" [isBranchVisible]="true" [isStatusVisible]="true"
            [isRoleVisible]="true" [isAddBtnVisible]="true" [isBasicInforVisible]="false" (closeViewEvent)="closeMemberSelectionView()">

        </exce-entityselection> -->
        <exce-memberlist [allowMultipleSelect]="true" [newMemberVisibe]="true" (closeViewEvent)="closeMemberSelectionView()"
        (openModalEvent)="addMemberView(addMemberModalView)" (membersSelected)="MemberSelected($event)">

        </exce-memberlist>

    </div>

</ng-template>

<!--add member -->
<ng-template #addMemberModalView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-addmember [roleType]="'MEM'" [IsFollowUp]="true" (addItemEvent)="addNewMember($event)" (canceleAddNewMember)="closeView('ADDMEMBER')">
        </exce-addmember>
    </div>
</ng-template>

<!--invoice details -->
<ng-template #invoiceDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.InvoiceDetails' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <invoice-details-view [selectedDetail]="selectedDetail" (closeInvoiceDetailModel)="closeInvoiceDetailModel()"></invoice-details-view>
</ng-template>

<!--credit note details -->
<ng-template #creditNote let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.CreditNoteC' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <credit-note-view [creditNote]="selectedCreditNote" [memberId]="_selectedMember.Id" [memberName]="_selectedMember.Name" (closeCreditNoteModel)="closeCreditNoteModal()"></credit-note-view>
</ng-template>

<!--shop view -->
<ng-template #shopHomeModel>
    <div class="modal-header">
        <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body p-0 shop-modal-vh">
        <!-- <shop-home ></shop-home> -->
        <app-shop-home-layout (closeShop)="closeShopAfterSave()"></app-shop-home-layout>
    </div>

</ng-template>

<!--invoice notify view -->
<ng-template #invoiceNotify>
    <div class="modal-header">
        <span class="modal-title">{{'MEMBERSHIP.crSmsEmail'| translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="closeEmailSMSView()">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <app-exce-notify-invoice (closeEvent)="closeEmailSMSView()" [selectedOrder]="selectedOrder" (smsEmailSuccessEvent)="onNotificationSuccess($event)"></app-exce-notify-invoice>
    </div>

</ng-template>


<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='sanitizer.bypassSecurityTrustResourceUrl(blobUrl)' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>



<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >
</exce-fade-in-n-out>
