<div class="d-flex justify-content-end mx-1">
  <us-icon-button [iconClass]="'icon-add'" [labelText]="'REPORT.newLine' | translate"></us-icon-button>
</div>

<div class="d-flex mx-1 mt-1">

  <us-data-table [pagination]="false">

    <data-table-column header="{{'REPORT.From' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.To' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemMon' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemTue' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemWed' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemThu' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemFri' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemSat' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column header="{{'REPORT.ListItemSun' | translate}}">
      <ng-template>
        <input class="form-control form-control-sm" type="text">
      </ng-template>
    </data-table-column>
    <data-table-column>
      <ng-template>
        <button type="button" class="btn btn-danger btn-icon-min" title="{{'REPORT.ListItemMon' | translate}}">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table>

</div>

<div class="d-flex mx-1 mt-1">
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'REPORT.Delete' | translate"> </us-icon-button>
</div>