<div class="modal-body">
  <form [formGroup]="followUpFixedForm">
    <div class="d-flex no-gutters">
      <!-- Hidden field for MemberId -->
      <!-- <input class="form-control" type="hidden" formControlName="Id"> -->
      <div class="form-group col-3 mr-2">
        <label>{{'MEMBERSHIP.FollowUpCategoryC' | translate}}</label>
        <select class="custom-select custom-width w-100" formControlName="followUpCategory" [ngModel]="selectedFollowUpDetail" (ngModelChange)="followUpChangeEvent($event)">
          <option [ngValue]="followUp" *ngFor="let followUp of followUpCategoryList">{{followUp.ExcelineTaskCategory.Name}}</option>
        </select>
      </div>

      <div class="form-group col-2 mr-2" *ngIf="isSms">
        <label>{{'COMMON.Mobile' | translate}}</label>
        <intl-tel-input [id]="'Mobile'" (fullValueChange)="fullValueChange($event)" formControlName="Mobile" [(ngModel)]="Mobile"
          us-error [errorMsg]="formErrors.Mobile" (valueBlur)="mobileBlur($event,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')"
          [displayError]="(isMobileBlur || myFormSubmited) && !followUpForm.get('Mobile').valid" placement="right" container="view"></intl-tel-input>
      </div>

      <div class="form-group col-2 " *ngIf="isEmail">
        <label>{{'MEMBERSHIP.Email' | translate}}</label>
        <input type="text" class="form-control" formControlName="Email" [(ngModel)]="Email" us-error [errorMsg]="formErrors.Email"
          (focus)="emailFocus()" (blur)="emailBlur()" [displayError]="(isEmailBlur || myFormSubmited) && !followUpForm.get('Email').valid"
          placement="right" container="view">
      </div>
    </div>
    <hr class="hr-dashed mt-0">

    <div *ngIf="(followUpCategoryList.length > 0)" class="scroll-content">
      <follow-up-template #followUpTemplate [isAddNew]="true"></follow-up-template>
      <!-- <follow-up-template #followUpTemplate
        [isText]="false"
        [followupTemplate]="selectedFollowUpDetail"
        [followUpDetail]="selectedFollowUpDetail">
        </follow-up-template> -->
    </div>

  </form>
</div>

<div class="modal-footer">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveFollowUp(followUpFixedForm.value)"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView()"></us-icon-button>
</div>
