<div class="d-flex no-gutters w-100 mb-1">
  <div class="col-2 mr-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{'MEMBERSHIP.Search' | translate}}" #searchText />
      <button class="btn btn-primary btn-icon" type="button" (click)="searchDocuments(searchText.value)">
        <span class="icon-search"></span>
      </button>
    </div>
  </div>
  <div class="form-inline">
    <select class="custom-select mr-sm-2" #dCatSelect (change)="filterInput(nameFilter.value,dCatSelect.value)">
      <option value="ALL">{{'MEMBERSHIP.All' | translate}}</option>
      <option *ngFor="let dCat of Categories" value={{dCat.Name}}>
        {{dCat.Name}}
      </option>
    </select>
    <input type="text" class="form-control" placeholder="{{'MEMBERSHIP.FilterByName' | translate}}" #nameFilter (keyup)="filterInput(nameFilter.value,dCatSelect.value)"
    />
  </div>
  <div class="ml-auto">
    <div class="input-group">
      <us-icon-button class="mr-2" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.AddDoc' | translate" (click)="openAddDocumentModel(addDocumentModal,true)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.AddScanDocument' | translate" (click)="openAddDocumentModel(addDocumentModal,false)"></us-icon-button>
    </div>
  </div>
</div>

<us-data-table headerTitle="Manage Categories" [items]="documents" [itemCount]="documentCount" [showPageNumber]="false" [showLimit]="false"
  #bookingDatatable>
  <data-table-column [property]="'UploadedDate'" header="{{ 'MEMBERSHIP.Date' | translate }}" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.UploadedDate | date:('COMMON.DateFormat'|translate)}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'FileName'" header="{{ 'MEMBERSHIP.FileName' | translate }}" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <!-- <a (click)="openPdfViewer(item)">{{item.FileName}}</a> -->
      <a>{{item.FileName}}</a>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'DocumentCategory'" header="{{ 'MEMBERSHIP.Category' | translate }}" [sortable]="true" [resizable]="true">
  </data-table-column>
  <data-table-column [property]="'ContractNo'" header="{{ 'MEMBERSHIP.ContractNo' | translate }}" [sortable]="true" [resizable]="true">
  </data-table-column>

  <data-table-column [property]="''" [width]="40">
    <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openPdfViewer(item)"
            title="{{'MEMBERSHIP.Content' | translate}}">
            <span class="icon-pdf"></span>
        </button>
    </ng-template>
</data-table-column>

  <data-table-column [property]="''" [header]="''" [width]="45" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-danger btn-icon btn-icon-min" (click)="deleteDoc(item)">
        <span class="icon-cancel"></span>
      </button>
    </ng-template>
  </data-table-column>
</us-data-table>

<ng-template #addDocumentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title" *ngIf="isAddDoc">{{ 'MEMBERSHIP.UploadMemberDocumentViewTitle' | translate }}</span>
    <span class="modal-title" *ngIf="!isAddDoc">{{ 'MEMBERSHIP.ScanUploadMemberDocumentViewTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="uploadForm" #upload>
      <div class="d-flex no-gutters">
        <div class="col">
          <div class="form-group" *ngIf="isAddDoc">
            <label>{{ 'MEMBERSHIP.BrowseDocumentsC' | translate }}</label>

            <!-- <div>
                <label class="custom-file w-100">
                  <input type="file" id="btnUpload" class="custom-file-input" value="Upload" (change)="fileChangeEvent($event)">
                  <span class="custom-file-control"></span>
                </label>
              </div> -->
            <div>

              <input type="file" id="btnUpload" value="Upload" (change)="fileChangeEvent($event)" class="upload" [formControl]="uploadForm.controls['File']"
                us-error [errorMsg]="formErrors.File" [displayError]="formSubmited && !uploadForm.get('File').valid" />

            </div>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.SelectDoc' | translate }}</label>

            <select class="custom-select mr-sm-2 w-100" #dCatSelect [formControl]="uploadForm.controls['Type']" us-error [errorMsg]="formErrors.Type"
              [displayError]="formSubmited && !uploadForm.get('Type').valid">
              <option *ngFor="let dCat of Categories" value="{{dCat.Id}}">
                {{dCat.Name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.VisitVWSelectContract' | translate }}</label>
            <select class="custom-select w-100" [formControl]="uploadForm.controls['Contract']" us-error [errorMsg]="formErrors.Contract"
              [displayError]="formSubmited && !uploadForm.get('Contract').valid">
              <option *ngFor="let con of contracts" value="{{con.ContractNo}}">
                {{con.ContractNo}}
              </option>
            </select>
          </div>

          <div class="input-group">
            <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="fileUpload(uploadForm.value)" *ngIf="isAddDoc"></us-icon-button>
            <us-icon-button class="mr-1" [iconClass]="'icon-upload'" [labelText]="'Upload'" (click)="uploadScanDoc(uploadForm.value)"
              *ngIf="!isAddDoc"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="d('Cross click'); closeUploadDocModal();"></us-icon-button>
          </div>


        </div>
      </div>
    </form>
  </div>

</ng-template>
