<form [formGroup]="economySettingForm" (ngSubmit)="submitForm(economySettingForm.value)">
  <div class="system-set-econ-scroller">
  <div class="d-flex no-gutters">
    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.CreditPeriod' | translate}} </label>
        <input class="form-control" formControlName="creditPeriod" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.SponsoringDay' | translate}} </label>
        <input class="form-control" formControlName="sponsoringDay" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.SponsoredDueDate' | translate}} </label>
        <input class="form-control" formControlName="sponsoredDueDate" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.SponsorDueDay' | translate}} </label>
        <input class="form-control" formControlName="sponsorDueDay" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.SponsorInvoiceText' | translate}} </label>
        <textarea class="form-control" formControlName="sponsorInvoiceText" type="text" rows="10"></textarea>
      </div>
    </div>
    <div class="col-2">
      <div class="form-check">
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" formControlName="oneDueDateAtDate" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.OneDueDateAtDate' | translate}}</span>
        </label>
      </div>
      <div class="form-check">
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" formControlName="isSMSInvoice" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsSMSInvoice' | translate}}</span>
        </label>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.FixedDueDay' | translate}} </label>
        <input class="form-control" formControlName="fixedDueDay" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ContractAutoRenewalDays' | translate}} </label>
        <input class="form-control" formControlName="contractAutoRenewalDays" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ReminderDueDays' | translate}} </label>
        <input class="form-control" formControlName="reminderDueDays" type="text">
      </div>
      <div class="form-check">
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" formControlName="deviationFollowup" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.DeviationFollowup' | translate}}</span>
        </label>
      </div>
      <div class="form-check">
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" formControlName="deviationFollowupCompleted" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.DeviationFollowupCompleted' | translate}}</span>
        </label>
      </div>
    </div>

  </div>
</div>
  <div>
    <us-icon-button [iconClass]="'icon-done'" (click)="saveEconomySettings()" [labelText]="'ADMIN.SaveC' | translate "></us-icon-button>
  </div>
</form>
