:host {
    display: block;
    height: 100%;
}

.tileclass {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  align-self: auto;
  scroll-behavior: auto;
  padding-top: 25px;
}

.tilesize {
  width: 200px;
  height: 100px;
}
