<div class="d-flex justify-content-start no-gutters mb-1 mx-1">
  <div class="col-2 mr-2">
    <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInputByName(NamePipeFilter.value)" placeholder="{{ 'ADMIN.FilterByName' | translate }}">
  </div>
  <select class="custom-select col-3 cursor-hand" #TypePipeFilter (change)="filterInputBySelect(TypePipeFilter.value)">
    <option value="ALL">{{'ADMIN.ALL'| translate}}</option>
    <option *ngFor="let cat of categoriesByType" [value]="cat.Name">{{ cat.Name }}</option>
  </select>
  <div class="col">
    <us-icon-button class="float-right" [iconClass]="'icon-add'" [labelText]="'ADMIN.AddNewTemplate' | translate " (click)="openNewTemplateModal(newTemplateModal,true, false)"></us-icon-button>
  </div>
</div>

<div class="d-flex mx-1">
  <us-data-table [pagination]="false" [items]="templates" (rowDoubleClick)="openNewTemplateModal(newTemplateModal, true, false)"
    (rowDoubleClick)="rowDoubleClick($event, addNewFollowUpTemplateForm.value)">
    <data-table-column [property]="'Name'" header="{{'ADMIN.Name' | translate}}" [sortable]="true" [width]="280">
    </data-table-column>
    <data-table-column [property]="'Category'" header="{{'ADMIN.FollowUpCategory' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>

<!-- ************************************** New Template Modal ******************************************* -->

<ng-template #newTemplateModal let-c="close" let-d="dismiss">
  <form [formGroup]="addNewFollowUpTemplateForm">
    <div class="modal-header">
      <span class="modal-title">
        <span [hidden]="isEdit">{{ 'ADMIN.AddNewFollowUpTemplateTitle' | translate }}</span>
        <span [hidden]="!isEdit">{{ 'ADMIN.EditFollowUpTemplateTitle' | translate }}</span>
      </span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-start no-gutters my-1">
        <div class="col-6 mr-2">
          <div class="form-group">
            <label>{{ 'ADMIN.Name' | translate }}</label>
            <input class="form-control" type="text" formControlName="Name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{ 'ADMIN.FollowUpCategory' | translate }}</label>
            <select class="custom-select custom-width w-100 cursor-hand" formControlName="Category" [(ngModel)]="selectedCategory">
              <option *ngFor="let cat of categoriesByType" [ngValue]="cat">{{ cat.Name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex no-gutters justify-content-start my-1">
        <div class="col">
          <label class="custom-control custom-checkbox checkbox-inline w-100 mt-1 cursor-hand">
            <input type="checkbox" class="custom-control-input" formControlName="IsDefault">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.DefaultC' | translate }}</span>
          </label>
        </div>

        <div class="col">
          <button type="button" class="btn btn-primary float-right" (click)="openFollowupTaskModel(addFollowupTaskModal, false)">{{ 'ADMIN.AddS' | translate }}</button>
        </div>
      </div>
      <div class="d-flex  my-1">
        <us-data-table class="task-table" [pagination]="false" [items]="newFollowUpItems" [rowColors]="rowColors">
          <data-table-column [property]="'TaskCategoryName'" header="{{'ADMIN.TaskCategory' | translate}}" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'Text'" header="{{'ADMIN.Text' | translate}}" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'NumberOfDays'" header="{{'ADMIN.NoOfDays' | translate}}" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [width]="40">
            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-danger btn-icon-min" (click)="deleteTask(item)">
                <span class="icon-cancel"></span>
              </button>
            </ng-template>
          </data-table-column>
        </us-data-table>
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.SaveC'| translate" (click)="addFollowUpTemplate(addNewFollowUpTemplateForm.value)"
        *ngIf="!isEdit"></us-icon-button>

      <us-icon-button [iconClass]="'icon-edit'" [labelText]="'ADMIN.Edit'| translate" (click)="addFollowUpTemplate(addNewFollowUpTemplateForm.value)"
        *ngIf="isEdit"></us-icon-button>

      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel'| translate" (click)="c('Close click')" (click)="closeNewTemplateModal()"></us-icon-button>

      <us-icon-button [iconBgClass]="'bg-danger'" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.DeleteC'| translate" (click)="deleteTemplate(addNewFollowUpTemplateForm.value)"
        *ngIf="isEdit && isDelete"></us-icon-button>

    </div>

  </form>
</ng-template>

<!-- ************************************** Add FollowUp Task Modal ******************************************* -->

<ng-template #addFollowupTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.AddFollowUpTaskTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click'); closeAddFollowupTaskForm()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <form [formGroup]="addFollowUpTaskForm">

    <div class="modal-body">
      <div class="d-flex justify-content-start no-gutters my-1">
        <div class="col">

          <!-- Hidden field for Id -->
          <input class="form-control" type="hidden" formControlName="Id">

          <div class="form-group">
            <label>{{ 'ADMIN.Text' | translate }}</label>
            <input class="form-control" type="text" formControlName="Text" us-error [errorMsg]="formErrors.Text" [displayError]="myFormSubmited && !addFollowUpTaskForm.get('Text').valid"
              placement="right">
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.TaskCategory' | translate }}</label>

            <select class="custom-select custom-width w-100" formControlName="ExcelineTaskCategory" [(ngModel)]="selectedTaskCategory"
              (change)="getIsNextFollowUpValue(addFollowUpTaskForm.value)">
              <option *ngFor="let taskCat of taskCategories" [ngValue]="taskCat">{{ taskCat.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.NumberOfDays' | translate }}</label>
            <input class="form-control" type="number" min="0" value="0" formControlName="NumberOfDays">
          </div>

          <div [hidden]="!IsNextFollowUpChecked">
            <label class="custom-control custom-checkbox checkbox-inline w-100">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.NextFollowUpC' | translate }}</span>
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'Add'" (click)="newFollowUpTask(addFollowUpTaskForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel' | translate " (click)="c('Close click'); closeAddFollowupTaskForm()"></us-icon-button>
    </div>

  </form>

</ng-template>
