%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host {
     ::ng-deep .nav-wizard-content {
        height: calc(100vh - 245px);
        overflow-x: auto;
    }
}

:host /deep/ .con-resources-table {
    .table-default {
        height: 210px;
        @extend %table-header-fixed-scroller;
    }
}
:host /deep/ .con-reg-econ-table {
    .table-default {
        height: 148px;
        @extend %table-header-fixed-scroller;
    }
}

:host /deep/ .con-resorces-added-table {
    .table-default {
        height: calc(100vh - 540px);
        min-height: 100px;
        @extend %table-header-fixed-scroller;
    }
}

.sel-cont-condition-table {
     ::ng-deep .data-table {
        height: 380px;
        @extend %table-header-fixed-scroller;
    }
}

:host /deep/.con-reg-order-table,
 :host /deep/.con-reg-group-table {
    .table-default {
        height: calc(100vh - 288px);
        @extend %table-header-fixed-scroller;
    }
     ::ng-deep .data-column {
        overflow: inherit;
        .mydp {
            table {
                tbody {
                    overflow-y: inherit;
                }
                thead {
                    width: inherit;
                }
            }
        }
    }
}