<us-tab-verticle>
    <vtab-content [tabTitle]="'ADMIN.AddNewTemplateTabItemBasicInformation' | translate">
        <div *ngIf="selectedTab === 0">
            <basic-info> </basic-info>
        </div>
    </vtab-content>
    <vtab-content [tabTitle]="'ADMIN.ManageGymCompanySettingsVATSettings' | translate">
        <div class="scroll-content" *ngIf="selectedTab === 1">
            <vat-settings> </vat-settings>
        </div>
    </vtab-content>
    <vtab-content [tabTitle]="'ADMIN.EconomySettings' | translate">
        <div class="scroll-content" *ngIf="selectedTab === 2">
            <economy-settings> </economy-settings>
        </div>
    </vtab-content>
    <vtab-content [tabTitle]="'ADMIN.AccessProfiles' | translate">
        <div class="scroll-content" *ngIf="selectedTab === 3">
            <access-profiles> </access-profiles>
        </div>
    </vtab-content>
    <vtab-content [tabTitle]="'ADMIN.OtherSettings' | translate">
        <div class="scroll-content" *ngIf="selectedTab === 4">
            <other-settings> </other-settings>
        </div>
    </vtab-content>
    <vtab-content [tabTitle]="'ADMIN.ContractConditions' | translate">
        <div class="scroll-content" *ngIf="selectedTab === 5">
            <contract-conditions> </contract-conditions>
        </div>
    </vtab-content>
</us-tab-verticle>