<div class="col-4">
  <form class="form-horizontal" [formGroup]="myForm">

    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label required">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" us-error [errorMsg]="formErrors.firstName" [displayError]="myFormSubmited && !myForm.get('firstName').valid"
          placement="right">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label required">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="email" class="control-label required">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" us-error [errorMsg]="formErrors.email" [displayError]="(myFormSubmited || myForm.get('email').dirty) && !myForm.get('email').valid"
          placement="right">
      </div>
    </div>

    <div class="from-group">
      <label>Amount input</label>
      <us-amount-input class="w-100" formControlName='amount'></us-amount-input>
    </div>

    <div class="form-group">
      <label>Time picker</label>
      <intl-tel-input [id]="'intel'" (fullValueChange)="fullValueChange($event)" formControlName="intelNumber" us-error [errorMsg]="formErrors.intelNumber"
        [displayError]="myFormSubmited && !myForm.get('intelNumber').valid" placement="right"></intl-tel-input>
      <p>{{phoneNumberDetail | json}}</p>
    </div>



    <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
    <button type="submit" (click)="reset()" class="btn btn-primary">Reset</button>
  </form>


</div>
