<div class="d-flex justify-content-between w-100 no-gutters">
  <div class="col-2 mr-1 ">
    <div class="input-group">
      <us-date-picker class="w-100 mr-1" name="dateSelect" #dateSelect id="dateSelect" [locale]="'COMMON.Locale'| translate"
        (dateChanged)="dateValueAssign($event)">
      </us-date-picker>
      <button class="btn btn-primary" (click)="filterFromButton(typeSelect.value)">{{'MEMBERSHIP.View'| translate}}</button>
    </div>
  </div>
  <div class="form-inline mr-1">
    <select class="custom-select mr-1" #typeSelect (change)="filterInput(typeSelect.value,ContractNoFilter.value)">
      <option value="ALL">All</option>
      <option value="DD">{{'MEMBERSHIP.XATG'| translate}}</option>
      <option value="IP">{{'MEMBERSHIP.XIP'| translate}}</option>
      <option value="IN">{{'MEMBERSHIP.XIN'| translate}}</option>
      <option value="DW">{{'MEMBERSHIP.XDW'| translate}}</option>
      <option value="OP">{{'MEMBERSHIP.OCR'| translate}}</option>
      <option value="SP">{{'MEMBERSHIP.Sponsor'| translate}}</option>
      <option value="ATG">{{'MEMBERSHIP.miwnAtgStatus'| translate}}</option>
      <option value="DC">{{'MEMBERSHIP.PtDC'| translate}}</option>
      <option value="TMN">{{'MEMBERSHIP.PtTMN'| translate}}</option>
      <option value="CSH">{{'MEMBERSHIP.PtCSH'| translate}}</option>
      <option value="BS">{{'MEMBERSHIP.PtBS'| translate}}</option>
      <option value="OA">{{'MEMBERSHIP.PtOA'| translate}}</option>
      <option value="GC">{{'MEMBERSHIP.PtGC'| translate}}</option>
      <option value="NOR">{{'MEMBERSHIP.NOR'| translate}}</option>
      <option value="RD">{{'MEMBERSHIP.RD'| translate}}</option>
      <option value="BNK">{{'MEMBERSHIP.PtBank'| translate}}</option>
      <option value="PB">{{'MEMBERSHIP.PrepaidBalance'| translate}}</option>
    </select>

    <input type="text" class="form-control" style="width; 200px;" #ContractNoFilter (keyup)="filterInput(typeSelect.value,ContractNoFilter.value)"
      placeholder="{{'MEMBERSHIP.ContractNo'| translate}}" [value]="filter_value">
  </div>
</div>


<div class="mt-1">

  <us-data-table headerTitle="Manage Categories" indexColumnVisible [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)"
    [showPageNumber]="false" [showLimit]="false"
    #bookingDatatable [limit]="limit">


    <data-table-column [property]="'Direction'" [header]="''" [width]="100" [resizable]="true">

      <ng-template #dataTableCell let-item="item">
        <span [hidden]="!item.Direction?true:false">
          <svg class="d-block" version="1.1" id="pthright" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path fill="#C6731F" d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12c6.6,0,12-5.4,12-12S18.6,0,12,0z M13.5,16.5v-3c0,0-6-1.5-9,3c0-5,4-9,9-9v-3l6,6
 L13.5,16.5z" />
          </svg>
        </span>
        <span [hidden]="item.Direction?true:false">
          <svg class="d-block" version="1.1" id="pthleft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path fill="#2286D4" d="M12,0c6.6,0,12,5.4,12,12s-5.4,12-12,12C5.4,24,0,18.6,0,12S5.4,0,12,0z M10.5,16.5v-3c0,0,6-1.5,9,3c0-5-4-9-9-9v-3l-6,6
 L10.5,16.5z" />
          </svg>
        </span>

      </ng-template>
    </data-table-column>


    <data-table-column [property]="'TransferedDate'" header="{{'MEMBERSHIP.TDate' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.TransferedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'TransferedTime'" header="{{'MEMBERSHIP.Time' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.TransferedTime | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Category'" header="{{'MEMBERSHIP.Category' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ContractNo'" header="{{'MEMBERSHIP.ContractNo' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Ref'" header="{{'MEMBERSHIP.InvoiceNo' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'KID'" header="{{'MEMBERSHIP.KID' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'AtgStatus'" header="{{'MEMBERSHIP.miwnAtgStatus' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [alignment]="'right'" [property]="'Amount'" header="{{'MEMBERSHIP.Amount' | translate}}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'UpdatedDate'" header="{{'MEMBERSHIP.Date' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.UpdatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'TransferStatus'" header="{{'MEMBERSHIP.Status' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>



  </us-data-table>

</div>
