<div class="d-flex justify-content-between no-gutters mx-1">
  <div class="form-inline">

    <label class="custom-control custom-radio cursor-hand">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2"  #obsValue (change)="radioValue($event);filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{'ADMIN.ObsoleteC'| translate}}</span>
  </label>

    <label class="custom-control custom-radio cursor-hand">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2"  [value]="'ACTIVE'" #actValue (change)="radioValue($event);filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{'ADMIN.Active'| translate}}</span>
  </label>

    <label class="custom-control custom-radio cursor-hand">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" checked="checked" [value]="'ALL'" #allValue (change)="radioValue($event);filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{'ADMIN.ALL'| translate}}</span>
  </label>

    <input type="text" class="form-control mr-1" #NameFilter (keyup)="filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)"
      placeholder="{{'ADMIN.Name'| translate}}">

    <input type="text" class="form-control mr-1" #GroupFilter (keyup)="filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)"
      placeholder="{{'ADMIN.GroupC'| translate}}">

    <input type="text" class="form-control mr-1" #LevelFilter (keyup)="filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)"
      placeholder="{{'ADMIN.Level'| translate}}">

    <input type="text" class="form-control mr-1" #KeywordFilter (keyup)="filterInput(NameFilter.value,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)"
      placeholder="{{'ADMIN.ClassKeywordC'| translate}}">

    <input type="text" class="form-control mr-1" #CategoryFilter (keyup)="filterInput(NameFilter.ClassGroupIdalue,GroupFilter.value,LevelFilter.value,KeywordFilter.value,CategoryFilter.value)"
      placeholder="{{'ADMIN.ClassCategory'| translate}}">
  </div>
  <div>
    <us-icon-button (click)="loadCategories(newClassType)" [iconClass]="'icon-add'" [labelText]="'ADMIN.AddNewClassType' | translate "></us-icon-button>
  </div>

</div>

<div class="d-flex mt-1 mx-1">
  <us-data-table  [pagination]="false" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="loadCategories(newClassType,$event)"
   >

    <data-table-column [property]="'Id'" header="{{'ADMIN.ActivityHVDGCode'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Name'" header="{{'ADMIN.Name'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TimeDuration'" header="{{'ADMIN.Duration'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ClassGroup'" header="{{'ADMIN.ClassGroup'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ClassLevel'" header="{{'ADMIN.Level'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ClassCategoryString'" header="{{'ADMIN.ClassCategory'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>


  </us-data-table>
</div>

<ng-template #newClassType let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
           <span>{{'ADMIN.AddNewClassType' | translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="classTypeForm" #classTypeFrm>
          <div class="d-flex no-gutters">
            <div class="col-3 mr-2">
              <div class="form-group">
                <label>{{ 'ADMIN.ItemCode' | translate }}</label>
                <input class="form-control" type="text" [formControl]="classTypeForm.controls['Code']" us-error [errorMsg]="formErrors.Code"
                  readonly [displayError]="formSubmited && !classTypeForm.get('Code').valid">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.Name' | translate }}</label>
                <input class="form-control" type="text" [formControl]="classTypeForm.controls['Name']" us-error [errorMsg]="formErrors.Name"
                  [displayError]="formSubmited && !classTypeForm.get('Name').valid">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.ClassGroup' | translate }}</label>
                <select class="custom-select w-100" [formControl]="classTypeForm.controls['ClassGroupId']" us-error [errorMsg]="formErrors.ClassGroup"
                  [displayError]="formSubmited && !classTypeForm.get('ClassGroupId').valid">
                  <option *ngFor="let cType of classGroupCat" value="{{cType.Id}}"> {{cType.Name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.Level' | translate }}</label>
                <select class="custom-select w-100" [formControl]="classTypeForm.controls['ClassLevelId']" us-error [errorMsg]="formErrors.ClassLevelId"
                  [displayError]="formSubmited && !classTypeForm.get('ClassLevelId').valid">
                  <option *ngFor="let cType of classLevelCat" value="{{cType.Id}}">{{cType.Name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.Time' | translate }}</label>
                <select class="custom-select w-100" [formControl]="classTypeForm.controls['TimeCategoryId']" us-error [errorMsg]="formErrors.TimeCategoryId"
                  [displayError]="formSubmited && !classTypeForm.get('TimeCategoryId').valid">
                  <option *ngFor="let cType of timeCat" value="{{cType.Id}}">{{cType.Name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'COMMON.Color' | translate }}</label>
                <input class="form-control" [(colorPicker)]="currentColor" id="addCatColor" [style.background]="currentColor" [value]="currentColor" (colorPickerChange)="colorChange($event)"
                  [formControl]="classTypeForm.controls['Colour']" us-error [errorMsg]="formErrors.Colour" [displayError]="formSubmited && !classTypeForm.get('Colour').valid"
                  triggers="manual" container="body" placement="right">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [formControl]="classTypeForm.controls['ObsoleteLevel']" us-error [errorMsg]="formErrors.ObsoleteLevel"
                    [displayError]="formSubmited && !classTypeForm.get('ObsoleteLevel').valid">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.ObsoleteLevelC' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.TimeDurationC' | translate }}</label>
                <input class="form-control" type="text" [formControl]="classTypeForm.controls['TimeDuration']" us-error [errorMsg]="formErrors.TimeDuration"
                  [displayError]="formSubmited && !classTypeForm.get('TimeDuration').valid">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.HoursToBePaid' | translate }}</label>
                <input class="form-control" type="text" [formControl]="classTypeForm.controls['HoursToBePaid']" us-error [errorMsg]="formErrors.HoursToBePaid"
                  [displayError]="formSubmited && !classTypeForm.get('HoursToBePaid').valid">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.MaxNoBooking' | translate }}</label>
                <input class="form-control" type="text" [formControl]="classTypeForm.controls['MaxNoOfBookings']" us-error [errorMsg]="formErrors.MaxNoOfBookings"
                  [displayError]="formSubmited && !classTypeForm.get('MaxNoOfBookings').valid">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.TimeDescription' | translate }}</label>
                <textarea class="form-control" rows="3" [formControl]="classTypeForm.controls['Comment']" us-error [errorMsg]="formErrors.Comment"
                  [displayError]="formSubmited && !classTypeForm.get('Comment').valid"></textarea>
              </div>
            </div>
            <div class="col-4 mr-2">
                <div class="form-group">
                  <label>{{ 'ADMIN.TimeDescriptionEnglish' | translate }}</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" #localCheck (change)="localCheck.checked?isLocal=true:isLocal=false"
                  [checked]="isLocal">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'ADMIN.IsLocal' | translate }}</span>
              </label>
              <div class="d-flex justify-content-between">
                <label>{{ 'ADMIN.Gym' | translate }}</label>
                <button class="btn btn-primary" [disabled]="!isLocal" (click)="openSubModels(addBranches)">{{ 'ADMIN.Select' | translate }}</button>
              </div>
              <div class="d-flex mt-1">
                <table class="table table-sm table-hover table-default scroll-table gym-table">
                  <thead class="thead-primary">
                    <tr>
                      <th>{{ 'ADMIN.Name' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sBranch of branchesList; let i=index">
                      <td>{{ sBranch.BranchName }}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col">

              <div class="d-flex">
                <label>{{ 'ADMIN.ClassCategory' | translate }}</label>

                <div class="ml-auto form-inline">
                  <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'ADMIN.AddCategoryC' | translate" (click)="openCatModel(addNewCategory)"></us-icon-button>
                  <button class="btn btn-primary" (click)="openCatModels(selectCategories)">{{ 'ADMIN.Select' | translate }}</button>
                </div>
              </div>
              <div class="d-flex">
                <table class="table table-sm table-hover table-default scroll-table class-category-table my-2">
                  <thead class="thead-primary">
                    <tr>
                      <th>{{ 'ADMIN.Name' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <tr *ngFor="let cat of CatList; let i=index">
                        <td>{{ cat.Name }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex">
                <label>{{ 'ADMIN.KeyWordsC' | translate }}</label>

                <div class="ml-auto form-inline">
                  <button class="btn btn-primary" (click)="openKWModels(addKeyWords)">{{ 'ADMIN.Select' | translate }}</button>
                </div>
              </div>
              <div class="d-flex mt-1">
                <table class="table table-sm table-hover table-default scroll-table class-category-table my-2">
                  <thead class="thead-primary">
                    <tr>
                      <th>{{ 'ADMIN.Name' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let kw of kwList; let i=index">
                      <td>{{ kw.Name }}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1" [isDisabled]="!classTypeForm.valid" [iconClass]="'icon-done'" [labelText]="'COMMON.Save' | translate " (click)="submitForm(classTypeForm.value)">
    </us-icon-button>
    <us-icon-button class="mr-1" [isDisabled]="isAddNew" [iconClass]="'icon-cancel'"  [iconBgClass]="'bg-danger'" [labelText]="'COMMON.Delete' | translate " (click)="deleteClassType(classTypeForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'COMMON.Cancel' | translate " (click)="closeForm()"></us-icon-button>
  </div>

</ng-template>

<ng-template #addBranches let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
         <span>Select Branch</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body content-scroll-table">
    <us-data-table id="persons-grid" [items]="branches" [itemCount]="branchCount">
      <data-table-column [property]="" [header]="'Name'" [sortable]="true" [resizable]="true">

        <ng-template #dataTableCell let-item="item">
          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" [value]="item.BranchName" (change)="onCheckChange($event,item)" [checked]="item.IsCheck">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{item.BranchName}}</span>
          </label>

        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="adBranches()"> </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
  </div>

</ng-template>

<ng-template #addKeyWords let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
       <span>Select Class Keyword</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body  content-scroll-table">
    <us-data-table id="persons-grid" [items]="kw" [itemCount]="kwCount">
      <data-table-column [property]="" [header]="'Name'" [sortable]="true" >

        <ng-template #dataTableCell let-item="item">
          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" [value]="item.BranchName" (change)="onCheckChangeKw($event,item)" [checked]="item.IsCheck">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{item.Name}}</span>
          </label>

        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="adKw()"> </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
  </div>

</ng-template>


<ng-template #selectCategories let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
       <span>New Article Category</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body  content-scroll-table">
    <us-data-table id="persons-grid" [items]="cat" [itemCount]="catCount">
      <data-table-column [property]="" [header]="'Name'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" [value]="item.Name" (change)="onCheckChangeCat($event,item)" [checked]="item.IsCheck">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{item.Name}}</span>
          </label>
        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="adCat()"> </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
  </div>

</ng-template>


<ng-template #addNewCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.AddCategoryC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div >
    <exce-category [CategoryTypeCode]="'CLASS'" [branchId]="branchId" [isShowColorPicker]="'true'" (closed)="closeView()" (saved)="abc()">
    </exce-category>
  </div>

</ng-template>
