%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .table-default {
    height: calc(100vh - 118px);
    @extend %table-header-fixed-scroller;
}

.gym-table {
    height: 506px;
}

.class-category-table {
    height: 296px
}

.scroll-table {
    @extend %table-header-fixed-scroller;
}

.content-scroll-table {
    display: flex;
    flex-flow: column;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
}
