<form [formGroup]="addNewCategoryForm">
  <div class="modal-body">
    <div class="d-flex no-gutters">
      <div class="col-4">
        <div class="form-group">
          <label>{{'COMMON.Type'| translate}}</label>
          <div class="input-group">
            <!-- Data bind to the dropdown list-->
            <select class="custom-select w-100" formControlName="TypeId">
              <option *ngFor="let cType of categoryTypes" value={{cType.TypeId}} [selected]="'true'">{{cType.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>{{ 'COMMON.Name' | translate }} <strong class="text-danger">*</strong></label>
          <input class="form-control" type="text" #CategoryName formControlName="CategoryName" us-error [errorMsg]="formErrors.CategoryName"
            [displayError]="!addNewCategoryForm.get('CategoryName').valid" placement="right">
        </div>

        <div class="form-group" *ngIf="isShowColorPicker">
          <label>{{'COMMON.Color'| translate}}</label>
          <input class="form-control" [(colorPicker)]="currentColor" [style.background]="currentColor" (colorPickerChange)="colorChange($event)"
            formControlName="Color" />
        </div>

      </div>

      <div class="col-8">
        <div class="form-group ml-2">
          <label>{{'COMMON.AddCategoryDescText'| translate}}</label>
          <textarea class="form-control" type="text" formControlName="Description" rows="10"></textarea>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'COMMON.Save' | translate " (click)="addNewCategory(addNewCategoryForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="resetForm()" (click)="closeView()" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
  </div>
</form>