<div class="row no-gutters">
  <div class="col-12">

    <ol class="breadcrumb float-left">
      <li class="breadcrumb-item">
        <a role="button" (click)="navigateToHome()">
          <span class="icon-home"></span>
        </a>
      </li>
      <li *ngFor="let breadCrumb of breadCrumbs; let last = last; let i = index" class="breadcrumb-item" [ngClass]="{'active': last}">
        <a role="button" *ngIf="!last" (click)="navigateTo(breadCrumb, i)"> {{breadCrumb.name | translate}}</a>
        <span class="cursor-hand" *ngIf="last">{{breadCrumb.name | translate}}</span>
      </li>
    </ol>
    <ol class="breadcrumb float-right">
        <li class="breadcrumb-item breadcrumb-item-none">
            <a role="button" title="{{'MEMBERSHIP.Help' | translate}}">
              <span style="font-size: 1.098rem" class="icon-help text-info"></span>
            </a>
          </li>
      <li class="breadcrumb-item breadcrumb-item-none" *ngIf="breadCrumbs.length > 0">
        <a role="button" title="{{'COMMON.Close' | translate}}" (click)="closeClicked()">
          <span class="icon-close"></span>
        </a>
      </li>
    </ol>
  </div>
</div>
