<form>
    <div class="form-group mr-1">
        <label>{{ 'ADMIN.MGSMSMemSearchOrd' | translate }}</label>
        <input type="text" class="form-control" [value]="memberSearchOrder" readonly>
    </div>
    <div class="mr-1">
        <us-data-table id="persons-grid" [items]="categoryItems" [itemCount]="categoryCount" [rowTooltip]="rowTooltip">
            <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'up'" [header]="'ADMIN.UP' | translate"  [width]="80">
                <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-primary btn-icon-min" (click)="moveUp(item)">
                        <span class="icon-move-up"></span>
                    </button>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'down'" [header]="'ADMIN.DOWN' | translate"  [width]="80">
                <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-primary btn-icon-min" (click)="moveDown(item)">
                        <span class="icon-move-down"></span>
                    </button>
                </ng-template>
            </data-table-column>
        </us-data-table>
    </div>
</form>

<div class="mt-1">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings()" [isDisabled]="isDisabled"></us-icon-button>
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
