<!-- <div class="d-flex justify-content-start mb-1">
    <div class="mr-2">
            <input class="form-control" #numberFilterPipe  (keyup) = "filterTemplates(numberFilterPipe.value, nameFilterPipe.value,'NUMBER')" placeholder= "{{'MEMBERSHIP.Number' | translate}}" type="text">
        </div>
        <div>
            <input class="form-control" #nameFilterPipe (keyup) = "filterTemplates(numberFilterPipe.value, nameFilterPipe.value,'NAME')" placeholder="{{'MEMBERSHIP.Name' | translate}}" type="text">
        </div>
</div> -->

<!-- <us-data-table [items]="_contractTemplates" [itemCount]="_ItemCount" [limit]="limit" [offset]="offset" (reload)="reloadItems($event)" (rowDoubleClick)="selectTemplate($event)">
    <data-table-column [property]="'TemplateNumber'" header="{{'COMMON.Number' | translate}}" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'PackageName'" header="{{'COMMON.Name' | translate}}" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'ContractTypeValue.Name'" header="{{'COMMON.Category' | translate}}" [sortable]="true" [resizable]="true">
         <ng-template #dataTableCell let-item="item">
            <span>{{item.ContractTypeValue.Name}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'EndDate'" header="{{'COMMON.SalesTo' | translate}}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'NumOfVisits'" header="{{'COMMON.Punches' | translate}}" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'NumOfInstallments'" header="{{'COMMON.NoOfOrders' | translate}}" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'NoOfMonths'" header="{{'COMMON.NoOfMonths' | translate}}" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'StartUpItemPrice'" [alignment]="'right'" header="{{'COMMON.ItemPrice' | translate}}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.StartUpItemPrice |  amountConverter:locale}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'ServicePrice'" [alignment]="'right'" header="{{'COMMON.ServicePrice' | translate}}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.ServicePrice |  amountConverter:locale}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'PackagePrice'" [alignment]="'right'" header="{{'COMMON.TotalPrice' | translate}}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.PackagePrice |  amountConverter:locale}}</span>
        </ng-template>
    </data-table-column>

</us-data-table> -->

<ag-grid-angular
class="ag-theme-balham grid"
[rowData]="_contractTemplates"
[columnDefs]="templateDefs"
[enableSorting]="true"
[enableColResize]="true"
[enableFilter]="false"
[floatingFilter]="true"
[suppressCellSelection] ="true"
[suppressNoRowsOverlay]="true"
(gridReady)="onGridReady($event)"
(rowDoubleClicked)="selectTemplate($event)">

</ag-grid-angular>
