<form [formGroup]="requiredSettingsForm" #RequiredSettingsForm>

<div class="gym-req-set-scroller">


  <div class="d-flex mb-2">
    <p class="mr-2">{{ 'ADMIN.MGSREQREQMEMLISTFORSHOP' | translate }}</p>


    <label class="custom-control custom-radio">
      <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [formControl]="requiredSettingsForm.controls['MemberRequired']"
        [value]=true>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.YES' | translate }}</span>
    </label>

    <label class="custom-control custom-radio ">
      <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [formControl]="requiredSettingsForm.controls['MemberRequired']"
        [value]=false>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.NoS' | translate }}</span>
    </label>

  </div>

  <div class="d-flex justify-content-start mb-2">
    <label class="custom-control custom-checkbox checkbox-inline">
      <input type="checkbox" class="custom-control-input" [formControl]="requiredSettingsForm.controls['MobileRequired']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.MGSREQMobileNO' | translate }}</span>
    </label>
    <label class="custom-control custom-checkbox checkbox-inline">
      <input type="checkbox" class="custom-control-input" [formControl]="requiredSettingsForm.controls['AddressRequired']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.Address' | translate }}</span>
    </label>
    <label class="custom-control custom-checkbox checkbox-inline">
      <input type="checkbox" class="custom-control-input" [formControl]="requiredSettingsForm.controls['ZipCodeRequired']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.MGSREQZipCode' | translate }}</span>
    </label>

  </div>
</div>
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveSettings(requiredSettingsForm.value)"></us-icon-button>

</form>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >
</exce-fade-in-n-out>
