:host /deep/ .table-default {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 215px);
  width: 100%;
}

:host /deep/ .table-default tbody {
  display: block;
  overflow-y: scroll;
  flex: 1 1 auto;
}

:host /deep/ .table-default thead,
:host /deep/ .table-default tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  cursor: pointer;
}

:host /deep/ .table-default thead {
  width: calc( 100% - 1.3em);
}

:host /deep/ .table-default td.selected {
  background-color: #E4EDF9 !important;
}

.shop-modal-vh{
  height:calc(100vh - 100px);
}

.grid {
  height:calc(100vh - 100px);
}
