
<div class="{{!hideClose ? 'input-group' : ''}}">
    <input #input type="text" OnlyNumbers (input)="onChange($event)" (keyup.enter)="enterKeyEvent($event.target.value)" class="form-control text-right w-100" 
    [disabled]="disabled" (blur)="onBlur($event.target.value)"/>
  
    <span class="input-group-btn" *ngIf="!hideClose">
      <button class="btn btn-secondary" [disabled]="disabled" type="button" (click)="clearAmount()"><span class="icon-close"></span></button>
    </span>
 
  </div>
