<div [ngClass]="isDisabled ? ('input-group disabled ') : ('input-group cursor-hand')" [title]="toolTip" *ngIf="!hidden" >
  <span class="input-group-addon btn-addon btn-icon {{iconBgClass}}"*ngIf="iconClass?true:false" [ngClass]="isDisabled ? ('input-group disabled ') : ('input-group cursor-hand')">
    <span [ngClass]="iconClass" *ngIf="iconClass?true:false" ></span>
  </span>
  <button class="cursor-hand btn btn-primary {{customBtnColor}}" [disabled]="isDisabled" *ngIf="labelText?true:false" > {{ labelText }} </button>
</div>
