
<div *ngIf="getOnlyCameraInput">
  <div class="mb-1">
    <p class="mb-1">Take a snapshot of the current video stream </p>
    <button class="btn btn-primary" *ngIf="streaming" (click)="snapshot();">Take Snapshot</button>
  </div>
  <div class="d-flex" style="height: 226px; z-index: 1" *ngIf="!closePlayer">
    <video class="border" (click)="snapshot($event);" width="300" id="video" controls autoplay></video>
  </div>
</div>
<canvas *ngIf="!hideCanvas" class="canvas border" id="cropcanvas" #cropcanvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
  (mousemove)="onMouseMove($event)" (mouseleave)="onMouseUp($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)"
  (touchstart)="onTouchStart($event)">
</canvas>
<div *ngIf="getOnlyFileInput" >
  <input *ngIf="!settings.noFileInput" type="file" accept="image/*" (change)="fileChangeListener($event)">
</div>





<!-- <button (click)="startWebcam();">Take Photo from WebCam</button>
    <button (click)="stopWebcam();">Stop WebCam</button>
    
    <button (click)="testing()">testing</button>
 
      <canvas id="canvas" width="400" height="350"></canvas> -->