<form [formGroup]="searchFrom" #selectDate>
  <div class="d-flex justify-content-start w-100">
    <div class="col-4 p-0 mr-2">
      <!-- <form [formGroup]="dateForm" #selectDate> -->
      <div class="input-group">
        <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [formControl]="searchFrom.controls['fromDate']" [locale]="'COMMON.Locale'| translate">
        </us-date-picker>
        <span class="input-group-addon border-left-0">{{'MEMBERSHIP.To' | translate}}</span>
        <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [formControl]="searchFrom.controls['toDate']" [locale]="'COMMON.Locale'| translate">
        </us-date-picker>
      </div>
      <!-- </form> -->
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label>Type </label>
        <select class="custom-select" #typeSelect [formControl]="searchFrom.controls['type']" (change)="filterInput(typeSelect.value)">
          <option value="SMSEMAIL" [selected]="'true'">ALL</option>
          <option value="SMS">SMS</option>
          <option value="EMAIL">EMAIL</option>
        </select>
      </div>
      <div class="col-auto ml-0">
        <button class="btn btn-primary" (click)="dateFilter(searchFrom.value,typeSelect.value)">{{'MEMBERSHIP.View'| translate}}</button>

      </div>
    </div>

  </div>
</form>

<div class="mt-1">
  <us-data-table headerTitle="Manage Categories" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="rowDoubleClick($event)"
    (rowDoubleClick)="openCommModel(commLogM)" [showPageNumber]="false" [showLimit]="false"
    #bookingDatatable>
    <data-table-column [property]="'LastAttendDate'" header="{{'MEMBERSHIP.SentDate' | translate}}" [sortable]="true" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.LastAttendDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'LastAttendDate'" header="{{'MEMBERSHIP.SentTime' | translate}}" [sortable]="true" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.LastAttendDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'CreatedDate'" header="{{'MEMBERSHIP.CreatedDate' | translate}}" [sortable]="true" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'CreatedDate'" header="{{'MEMBERSHIP.CreatedTime' | translate}}" [sortable]="true" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Type'" header="{{'MEMBERSHIP.Type' | translate}}" [sortable]="true" [width]="100">
    </data-table-column>
    <data-table-column [property]="'CreatedUser'" header="{{'MEMBERSHIP.CreatedUser' | translate}}" [sortable]="true" [resizable]="true"
      [width]="220">
    </data-table-column>
    <data-table-column [property]="'Description'" header="{{'MEMBERSHIP.Content' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Status'" header="{{'MEMBERSHIP.Status' | translate}}" [sortable]="true" [width]="100">
    </data-table-column>
    <data-table-column [property]="''" [header]="''" [width]="45">

      <ng-template #dataTableCell let-item="item">

        <button class="btn btn-primary btn-icon-min" (click)="rowItemLoad(item)" (click)="openCommModel(commLogM)">
          <span class="icon-detail"></span>
        </button>

      </ng-template>
    </data-table-column>

  </us-data-table>
</div>


<ng-template #commLogM let-c="close" let-d="dismiss">

  <form [formGroup]="commLogFrom" #commLog>
    <div class="modal-header">
      <span class="modal-title">{{'MEMBERSHIP.DetailSmsChWinTitle' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>{{'MEMBERSHIP.CreatedDate' | translate}}</label>
            <div>
              <strong>{{rowItem.CreatedDate | date:('COMMON.DateFormat'|translate)}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.CreatedTime' | translate}}</label>
            <div>
              <strong>{{rowItem.CreatedDate | date:'HH:mm'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.PlannedSentDateC' | translate}}</label>
            <div>
              <strong>{{rowItem.DueDate | date:('COMMON.DateFormat'|translate)}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.PlannedSentTimeC' | translate}}</label>
            <div>
              <strong>{{rowItem.DueDate | date:'HH:mm'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.SentDate' | translate}}</label>
            <div>
              <strong>{{rowItem.LastAttendDate | date:('COMMON.DateFormat'|translate)}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.SentTime' | translate}}</label>
            <div>
              <strong>{{rowItem.LastAttendDate | date:'HH:mm'}}</strong>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label>{{'MEMBERSHIP.Content' | translate}}</label>
            <div>
              <strong>{{rowItem.Description }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.MobileNoC' | translate}}</label>
            <div>
              <strong>{{rowItem.MobileNo }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Type' | translate}}</label>
            <div>
              <strong>{{rowItem.Type }}</strong>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>{{'MEMBERSHIP.CreatedUser' | translate}}</label>
            <div>
              <strong>{{rowItem.CreatedUser }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.GymName' | translate}}</label>
            <div>
              <strong>{{rowItem.GymName }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Status' | translate}}</label>
            <div>
              <strong>{{rowItem.Status }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Comment' | translate}}</label>
            <div>
              <strong>{{rowItem.Comment }}</strong>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate" (click)="c()"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'MEMBERSHIP.Cancel' | translate"></us-icon-button>
    </div>
  </form>
</ng-template>
