:host {
  display: block;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.gym-settings-vertical-tab-wrapper{
  margin-left: 13rem;
}
.fake-v-tabs {
  background-color: #65a1ae;
  width: 13rem;
  height: 5rem;
  padding-top: 1rem;
}

.fake-panel-wraaper{
  min-width: 13rem;
  min-height: 3rem;
  background-color: #65a1ae;
  padding-top: 1rem;
}
