<div class="d-flex flex-row">
  <div class="fake-panel-wraaper"></div>
  <gym-list class="ml-1" ></gym-list>
</div>
<us-tab-verticle>
  <vtab-content [tabTitle]="'ADMIN.ManageGymSettingsGYMINFOBtn' | translate">
    <div *ngIf="selectedTab === 0">
      <gym-info></gym-info>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.GymOpenTimeC' | translate">
    <div *ngIf="selectedTab === 1">
      <gym-opentime></gym-opentime>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.ManageGymSettingsSMSSETTINGSBtn' | translate">
    <div *ngIf="selectedTab === 2">
      <sms-settings></sms-settings>
    </div>
  </vtab-content>

  <vtab-content [tabTitle]="'ADMIN.POSHWPROFILE' | translate">
    <div *ngIf="selectedTab === 3">
      <pos-hw-profile></pos-hw-profile>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.ManageGymSettingsRequiredSettingsBtn' | translate">
    <div class="scroll-content" *ngIf="selectedTab === 4">
      <required-settings></required-settings>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.ManageGymSettingsEconomySettingsBtn' | translate">
   
      <div *ngIf="selectedTab === 5">
        <ecconomy-settings></ecconomy-settings>
      </div>
   
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.SEARCHSETTINGS' | translate">
    <div  *ngIf="selectedTab === 6">
      <search-settings></search-settings>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.INTEGRATIONSETTINGS' | translate">
    <div *ngIf="selectedTab === 7">
      <integration-settings></integration-settings>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.ACCESSSETTINGS' | translate">
    <div  *ngIf="selectedTab === 8">
      <access-settings></access-settings>
    </div>
  </vtab-content>
  <vtab-content [tabTitle]="'ADMIN.ManageGymSettingsOtherSettingsBtn' | translate">
    <div *ngIf="selectedTab === 9">
      <other-gym-settings></other-gym-settings>
    </div>
  </vtab-content>
</us-tab-verticle>