:host /deep/ .scroll-content {
    display: block;
    overflow: auto;
    height: calc(100vh - 200px);
    width: 100%;
    margin-bottom: 10px;
  }

  label.padding{
    padding-left: 0.9cm
  }

  .indicateHyperlink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
