<div>
  <form [formGroup]="memberForm" (keydown.enter)="$event.preventDefault()">
    <div class="scroll-content">
      <div class="d-flex no-gutters ">

        <!-- ****************************** Common Info Section *********************************** -->
        <div class="col-2 mr-2 col-min-width">

          <div class="form-group">
            <label>{{'MEMBERSHIP.crBankAccount' | translate}}</label>
            <input type="text" class="form-control" (change)="changeMadeInForm()" formControlName='AccountNo' us-error [errorMsg]="formErrors.AccountNo" [displayError]="!memberForm.get('AccountNo').valid"
              placement="right" container="view">
          </div>

          <div class="form-group" style="margin-bottom: 0.7rem;">
            <label>{{'MEMBERSHIP.crInvoiceCharge' | translate}}</label>
            <label class= "ml-5 padding">{{'MEMBERSHIP.ecSmsInvoice' | translate}}</label>
            <div>
              <label class="custom-control custom-radio cursor-hand">
                <input id="radio1" name="InvoiceChage" type="radio" class="custom-control-input mx-2" formControlName='InvoiceChage' [value]="true"
                  [checked]="this.economyDetails?.InvoiceChage === true" (change)="invoiceChangeStatus(true)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'MEMBERSHIP.Yes' | translate}}</span>
              </label>

              <label class="custom-control custom-radio cursor-hand">
                <input id="radio2" name="InvoiceChage" type="radio" class="custom-control-input mx-2" formControlName='InvoiceChage' [value]="false"
                  [checked]="this.economyDetails?.InvoiceChage === false" (change)="invoiceChangeStatus(false)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'MEMBERSHIP.No' | translate}}</span>
              </label>


              <label class="custom-control custom-radio cursor-hand ml-5">
                <input id="radio1" name="SmsInvoice" type="radio" class="custom-control-input mx-2" formControlName='SmsInvoice' [value]="true"
                  [checked]="this.economyDetails?.SmsInvoice === true" (change)="smsInvoiceStatus(true)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'MEMBERSHIP.Yes' | translate}}</span>
              </label>
              <label class="custom-control custom-radio cursor-hand">
                <input id="radio2" name="SmsInvoice" type="radio" class="custom-control-input" formControlName='SmsInvoice' [value]="false"
                  [checked]="this.economyDetails?.SmsInvoice === false" (change)="smsInvoiceStatus(false)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'MEMBERSHIP.No' | translate}}</span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.NextDueDate' | translate}}</label>
            <div class="input-group">
              <us-date-picker  class="w-100" formControlName='NextDueDate' ></us-date-picker>
            </div>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecLastDueDate' | translate}}</label>
            <div class="input-group">
              <us-date-picker class="w-100"  formControlName='LastDueDate'></us-date-picker>
            </div>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecDueBalance' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='DueBalance'></us-amount-input>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.CreditBalance' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='CreditBalance'></us-amount-input>

          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecCreditPeriod' | translate}}</label>
            <input (change)="changeMadeInForm()" type="number" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName='CreditPeriod'>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecBilledToDate' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='BilledToDate'></us-amount-input>

          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecBilledLast365' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='BilledLast365'></us-amount-input>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ecShopPurchaseToDate' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='ShopPchtoDate'></us-amount-input>

          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ecShopPurchase365' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='ShoppchLast365'></us-amount-input>

          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ecOnAccountBalance' | translate}}</label>
            <us-amount-input [hideClose]="true" class="w-100" formControlName='OnAccountBalance'></us-amount-input>

          </div>

        </div>

        <!-- ************************ Guardian Info Section **************************************** -->

        <div class="col-3 mr-2 col-min-width" *ngIf="!(selectedMember?.Role==0)">

          <div class="form-group">

            <!-- Hidden field for MemberId -->
            <input class="form-control" type="hidden" formControlName="GuardianId">

            <label [ngClass]="{'indicateHyperlink' : economyDetails?.GuardianId !== -1}" (click)="economyDetails?.GuardianId !== -1 ? routeToGuardian() : return;" >{{'MEMBERSHIP.ecGuardian' | translate}}</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName='GuardianCustId' [(ngModel)]="selectedGuardianCustId" disabled>
              <button class="btn btn-primary" (click)="selectMember(newMemberModalView,'GUARDIAN')">{{'MEMBERSHIP.Select' | translate}}</button>
              <div *ngIf="IsDelBtnVisibleGur">
                <button class="btn btn-danger btn-icon-min ml-1" (click)="deleteSelectedGuardian(selectedGuardianCustId)">
                  <span class="icon-cancel"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.LastName' | translate}}</label>
            <input type="text" class="form-control" formControlName='GuardianLastName' [(ngModel)]="selectedGuardianLastName" disabled>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.FirstName' | translate}}</label>
            <input type="text" class="form-control" formControlName='GuardianFirstName' [(ngModel)]="selectedGuardianFirstName" disabled>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Address1' | translate}}</label>
            <textarea style="height: 90px;" class="form-control" rows="3" formControlName='GuardianAddress1' [(ngModel)]="selectedGuardianAddress1" disabled></textarea>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Address2' | translate}}</label>
            <textarea style="height: 90px;" class="form-control" rows="3" formControlName='GuardianAddress2' [(ngModel)]="selectedGuardianAddress2" disabled></textarea>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ecZip' | translate}}</label>
            <input type="text" class="form-control" formControlName='GuardianZipCode' [(ngModel)]="selectedGuardianZip" disabled>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.City' | translate}}</label>
            <input type="text" class="form-control" formControlName='GuardianZipName' [(ngModel)]="selectedGuardianCity" disabled>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.crMobile' | translate}}</label>
            <input type="text" class="form-control" formControlName='GuardianMobile' [(ngModel)]="selectedGuardianMobile" disabled>
          </div>

          <div class="form-group">
            <label>{{'MEMBERSHIP.ecLstGuardian' | translate}}</label>
            <div class="card">
              <div class="card-body p-1" style="min-height: 26px;">
                <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item py-1" *ngFor="let gud of selectedGuardianGuardianList"> -->
                    <input class="form-control" *ngFor="let gud of selectedGuardianGuardianList" type="text" value="{{gud.CustId}}: {{gud.Name}} " disabled/>
                  <!-- </li> -->
                </ul>
              </div>
            </div>

          </div>

        </div>

        <!-- *********************************** Sponsor Info Section ****************************** -->

        <div class="col-3 mr-2 col-min-width">

          <div class="form-group">

            <!-- Hidden field for SponserId -->
            <input class="form-control" type="hidden" formControlName="SponserId">

            <label [ngClass]="{'indicateHyperlink' : economyDetails.SponserId !== 0}" (click)="routeToSponsor()">
              {{'MEMBERSHIP.Sponsor' | translate}}
            </label>
            <div class="input-group">
              <input type="text" class="form-control col-3" formControlName='SponserCustId' [(ngModel)]="selectedSponserCustId" disabled>
              <input type="text" class="form-control" formControlName='SponserName' [(ngModel)]="selectedSponserName" disabled>
              <button class="btn btn-primary" (click)="selectMember(newMemberModalView,'SPONSORS')">
                {{'MEMBERSHIP.Select' | translate}}
              </button>
              <div *ngIf="IsDelBtnVisibleSpo">
                <button class="btn btn-danger btn-icon-min ml-1" (click)="deleteSelectedSponsor(selectedSponserCustId)">
                  <span class="icon-cancel"></span>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="economyDetails?.SponserId !== -1">
            <div class="form-group">
              <label>{{'MEMBERSHIP.SponsoringPeriod' | translate}}</label>
              <div class="input-group">
                <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='SponsorStartDate'>
                </us-date-picker>
                <span class="input-group-addon border-left-0">{{'MEMBERSHIP.To' | translate}}</span>
                <us-date-picker (dateChanged)="changeMadeInForm()" class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='SponsorEndDate' [disabled]="!isSponsorSelected">
                </us-date-picker>
              </div>
            </div>

            <div class="form-group">
              <label>{{'MEMBERSHIP.crSponsorCat' | translate}}</label>
              <div class="input-group">
                <select  class="custom-select w-100" [(ngModel)]="selectedCategory" formControlName="EmployeeCategoryForSponser">
                  <option *ngFor="let empCat of employeeCategoryList" [ngValue]="empCat">
                    {{empCat.Name}}
                  </option>
                </select>
              </div>
            </div>


          <div class="form-group">
            <label>{{'MEMBERSHIP.DiscountCategory' | translate}}</label>
            <input (change)="changeMadeInForm()" type="text" class="form-control" formControlName='DiscountCategoy' disabled>
          </div>
        </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.EmpNo' | translate}}</label>
            <input (change)="changeMadeInForm()" type="number" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName='EmployeeNo'>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Ref' | translate}}</label>
            <input (change)="changeMadeInForm()" type="text" class="form-control" formControlName='Ref'>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.DueDate' | translate}}</label>
            <input (change)="changeMadeInForm()" type="number" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName='DueDate'>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.PrepaidBalance' | translate}}</label>
            <div class="input-group">
              <us-amount-input [hideClose]="true" class="w-100" formControlName='PrepaidBalance' disabled></us-amount-input>
              <!-- <button class="btn btn-primary" (click)="changePrePaidBalance(changePrePaidBalanceView)">{{'MEMBERSHIP.Change' | translate}}</button> -->
            </div>
          </div>

          <div class="form-group" *ngIf="isUsingBrisIntegration">
            <label>{{'MEMBERSHIP.AgressoId' | translate}}</label>
            <input type="text" class="form-control" formControlName='AgressoId' disabled>
          </div>

        </div>

      </div>
    </div>
    <div class="d-flex no-gutters mt-1">
        <us-icon-button class="mr-1" [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveMemberEconomyDetails(memberForm.value)" ></us-icon-button>
        <us-icon-button class="mr-1" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Reset' | translate " (click)="resetEconomyDetails()" [isDisabled]="!isFormChanged"></us-icon-button>
        <!--<us-icon-button [iconClass]="'icon-home'" [labelText]="'MEMBERSHIP.Home' | translate " (click)="backToInfoWithNotes()"></us-icon-button>-->
    </div>
  </form>
</div>


<!-- ******************************************************************************************************* -->

<ng-template #changePrePaidBalanceView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.PrepaidBalance' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
            <label>{{ 'MEMBERSHIP.ChangePrepaidBalance' | translate }}</label>
            <div class="input-group">
              <div>
                  <label class="custom-control custom-radio w-75">
                      <input checked (change)="radioChange($event)" value="1" id="radio2" name="radio" type="radio" class="custom-control-input mr-2">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ 'MEMBERSHIP.Increase' | translate }}</span>
                    </label>
              </div>
              <div>
                    <label class="custom-control custom-radio w-75">
                      <input (change)="radioChange($event)" value="0" id="radio2" name="radio" type="radio" class="custom-control-input mr-2">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ 'MEMBERSHIP.Decrease' | translate }}</span>
                    </label>
              </div>
            </div>
        </div>
        <hr>
        <form [formGroup]="PPform">
        <div class="form-group">
            <label>{{'MEMBERSHIP.Amount' | translate}}:</label>
            <div class="input-group">
              <us-amount-input [hideClose]="true" value="0" class="w-50 ml-2" formControlName='PPval' #amount></us-amount-input>
            </div>
          </div>
        </form>
  </div>

  <div class="modal-footer">
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveNewPPAccountBalance(amount)" ></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "  (click)="d('Cross click')"></us-icon-button>
  </div>

</ng-template>

<!-- ************************************************************************************************************* -->


<ng-template #newMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchMember($event)" [itemList]="entityItems" (selectedItem)="memberSelected($event)"
      (addMemberEvent)="addMemberView(addMemberModalView)" [multipleSelect]="multipleRowSelect" [auotocompleteItems]="auotocompleteItems"
      [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDisabledRole" [defaultRole]="defaultRole"
      [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
      [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible" (closeViewEvent)="closeMemberSelectionView()">

    </exce-entityselection>
  </div>

</ng-template>

<!-- ************************************************************************************************************* -->

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" [IsFollowUp]="true" (addItemEvent)="addNewMember($event)" (canceleAddNewMember)="closeAddMemberView()">
    </exce-addmember>
  </div>
</ng-template>

<!-- ************************************************************************************************************** -->

<ng-template #newpostalModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewPostalArea' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-postalcode (addPostalCodeEvent)="d('Cross click'); addPostalCode($event)"></exce-postalcode>
  </div>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo" [information]="message"></exce-fade-in-n-out>
