:host .exor-scroller {
    display: block;
    overflow: auto;
    height: calc(100vh - 218px);
    width: 100%;
    background-color: #fff;
    .col-2{
        min-width: 250px
    }
}

.custom-checkbox{
  cursor: pointer;
}

.custom-radio{
  cursor: pointer;
}

.custom-select{
  cursor: pointer;
}
