:host.exce-validate-top .arrow, :host.exce-validate-bottom .arrow {
    left: 50%;
 }
 :host.exce-validate-left .arrow, :host.exce-validate-right .arrow {
   top: 50%;
 }

 :host.exce-validate-top .arrow, :host.exce-validate-bottom .arrow {
    left: 50%;
  }

  :host.exce-validate-top-left .arrow, :host.exce-validate-bottom-left .arrow {
    left: 2em;
  }

  :host.exce-validate-top-right .arrow, :host.exce-validate-bottom-right .arrow {
    left: auto;
    right: 2em;
  }

  :host.exce-validate-left .arrow, :host.exce-validate-right .arrow {
    top: 50%;
  }
  
  :host.exce-validate-left-top .arrow, :host.exce-validate-right-top .arrow {
    top: 0.7em;
  }

  :host.exce-validate-left-bottom .arrow, :host.exce-validate-right-bottom .arrow {
    top: auto;
    bottom: 0.7em;
  }
