
  <form [formGroup]="ecconomySettingsFrom" #ecconomyFrm>
    <div class="d-flex no-gutters gym-econ-set-scroller">

      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.ExportingAccountNoInvoicePayment' | translate }}</label>
          <div class="input-group">
            <input type="text" class="form-control mr-2" [formControl]="ecconomySettingsFrom.controls['InvoiceAccountNo']">
            <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['PaymentAccountNo']">
          </div>

        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.DebtCollectionPeriod' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['DebtCollectionPeriod']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.ReminderPeriod' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['RemainderPeriod']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.SMSReminderPeriod' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['SmsReminderPeriod']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.ReminderFee' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['RemainderFee']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.SMSReminderFee' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['SmsRemainderFee']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MGSECONInvoicecharge' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['InvoiceCharge']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.SMSInvoiceCharge' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['SmsInvoiceCharge']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.InvoiceCancellationPeriod' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['InvoiceCancellationPeriod']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MemberFeeGym' | translate }}</label>
          <select class="custom-select w-100" [formControl]="ecconomySettingsFrom.controls['MemberFeeBranchID']">
            <option selected id="">None</option>
            <option *ngFor="let gym of gymList" value={{gym.Id}}>
              {{gym.BranchName}}
            </option>

          </select>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MemberFeeGenerationDay' | translate }}</label>
          <select class="custom-select w-100" [formControl]="ecconomySettingsFrom.controls['MemberFeeGenerateDay']">
            <option *ngFor="let day of days" value={{day}}>
              {{day}}
            </option>


          </select>
        </div>
      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.SuspendedDays' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['SuspendedDays']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.NoOfOrdersWhenResign' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['NoOfOrdersWhenResign']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.OnNegativeAccount' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['OnNegativeAccount']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.NetsAssignmentNo' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['NetsAssignmentNo']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.NetsCancellationPeriod' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['NetsCancellationPeriod']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.CreditSaleLimit' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['CreditSaleLimit']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.CreditPaidDeviationSettableAmount' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ecconomySettingsFrom.controls['CreditPaidDeviationSettableAmount']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.PaidAccessPaymentMode' | translate }}</label>
          <label class="custom-control custom-radio w-75">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['PaidAccessMode']"
              [value]=1>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.OnAccount' | translate }}</span>
          </label>
          <label class="custom-control custom-radio w-75">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['PaidAccessMode']"
              [value]=2>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.OnAccountAndNextOrder' | translate }}</span>
          </label>
          <label class="custom-control custom-radio w-75">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['PaidAccessMode']"
              [value]=3>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.NextOrder' | translate }}</span>
          </label>
          <label class="custom-control custom-radio w-75">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['PaidAccessMode']"
              [value]=4>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.NoneS' | translate }}</span>
          </label>
        </div>

        <div class="form-group">
          <label>{{ 'ADMIN.MoveToPrepaidBalance' | translate }}</label>
          <div class="input-group"></div>
          <label class="custom-control custom-radio">
            <input id="radio3" name="radio3" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['MoveToPrepaidBalanace']"
              [value]=true>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrepaidBalance' | translate }}</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio3" name="radio3" type="radio" class="custom-control-input mr-2" [formControl]="ecconomySettingsFrom.controls['MoveToShopAccount']"
              [value]=false>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.ShopAccount' | translate }}</span>
          </label>

        </div>

      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['RestPlusMonth']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.AddNewTemplateCbRestPlusMonth' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['PostPay']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PostPay' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['EnrollmentFeeFirstOrderIfSponsor']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.EnrollmentFeeFirstOrderIfSponsor' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['CreditUnpaidInvoiceFee']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.CreditUnpaidInvoiceFee' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  ">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['CreditUnpaidRemainderFee']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.CreditUnpaidRemainderFee' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['ShopOnNextOrder']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.ShopOnNextOrder' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['OnAccount']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.OnAccount' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  ">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsDefaultCustomerAvailable']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.DefaultCustomerAvailable' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsPayButtonAvailable']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PayButtonAvailable' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsPettyCashAllowedOnUser']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PettyCashAllowedOnUser' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsBankTerminalIntegrated']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.BankTerminalIntegrated' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsCashSalesActivated']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.IsCashSalesActivated' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input disable type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsPrintInvoiceInShop']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrintInvoiceInShop' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsPrintReceiptInShop']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrintReceiptInShop' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsSmsInvoiceShop']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.SMSInvoiceShop' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsDailySettlementForAll']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.DailySettlementForAll' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['EditRemainingPunches']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.EditRemainingPunches' | translate }}</span>
          </label>
        </div>

      </div>
      <div class="col-2">
        <div class="form-group">
          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" #fee name="memberFee" [formControl]="ecconomySettingsFrom.controls['IsMemberFee']"
            (change)="onMemmberFeeChange($event.target.checked)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.IsMemberFee' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsMemberFeeMonth']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.MemberFeeMonth' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox  w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsMemberFeeAutoGenerate']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.MemberFeeAutomaticGeneration' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['IsMemberFeeATG']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.MemberFeeATG' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <!-- <input type="checkbox" class="custom-control-input" #basis name="basisX" [formControl]="ecconomySettingsFrom.controls['BasisX']"
              (change)="onBasisChangwe($event.target.checked)"> -->
            <input type="checkbox" class="custom-control-input" #basis name="basisX" [formControl]="ecconomySettingsFrom.controls['BasisX']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.BasicX' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['CCXEnabled']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.CCXEnabled' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['PrintIpccx']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrintIPwithCCX' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['PrintPpccx']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrintPPwithCCX' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['PrintSpccx']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.PrintSPwithCCX' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
            <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['NotEditableVoucher']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.NotEditableVoucher' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox   w-100">
              <input type="checkbox" class="custom-control-input" [formControl]="ecconomySettingsFrom.controls['ShopReturnOnSelectedBranchOnly']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.ShopReturnOnSelectedBranchOnly' | translate }}</span>
            </label>
        </div>
      </div>

    </div>
</form>
    <div >
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings(ecconomySettingsFrom.value)"
        [isDisabled]="!ecconomySettingsFrom.valid"></us-icon-button>
    </div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
