<div class="d-flex no-gutters mb-1">
  <div class="col mr-1">
    <us-icon-button class="float-right" [iconClass]="'icon-add'" (click)="openNewVatCodeModel(newVatCodeModal)" [labelText]="'ADMIN.NewVatCode' | translate "></us-icon-button>
  </div>
</div>
<div class="system-set-vat-scroller">
  <us-tree-table [value]="files" (onRowDblclick)="rowClick($event)" (onRowDblclick)="openDetailsVatCodeModel(newVatCodeModal)">
    <us-tree-header>Checkbox Selection</us-tree-header>
    <us-tree-column field="VatCode" header="Vat Code"></us-tree-column>
    <us-tree-column field="Name" header="Name"></us-tree-column>
    <us-tree-column field="" header="VAT Account Name">

      <ng-template #dataTableCell let-item="item">
        <span>{{item?.VatAccount?.Name}}</span>
      </ng-template>

    </us-tree-column>
    <us-tree-column field="Rate" header="Rate"></us-tree-column>
    <us-tree-column field="" header="Start Date">

      <ng-template #dataTableCell let-item="item">
        <span>{{item?.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </us-tree-column>
    <us-tree-column field="" header="End Date">
      <ng-template #dataTableCell let-item="item">
        <span>{{item?.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </us-tree-column>
    <us-tree-column field="Description" header="Description"></us-tree-column>
    <us-tree-column field="" header="">

      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="rowClick(item,true);openDetailsVatCodeModel(newVatCodeModal)">
          <span class="icon-detail"></span>
        </button>

        <button class="btn btn-danger btn-icon-min" (click)="rowClick(item,true);deleteVatCode(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>

    </us-tree-column>

  </us-tree-table>
</div>


<ng-template #newVatCodeModal let-cVatCode="close" let-d="dismiss">
  <form [formGroup]="newVatCodeVersionForm">
    <div class="modal-header">
      <span class="modal-title" [hidden]="isUpdateVatVersion">{{ 'ADMIN.NewVatCodeVersionView' | translate }}</span>
      <span class="modal-title" [hidden]="!isUpdateVatVersion">{{ 'ADMIN.UpdateVatCodeViewTitle' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <div class="from-group">
            <label>{{ 'ADMIN.VatCodeC' | translate}} </label>
            <div class="form-inline">
              <select class="custom-select w-75" [disabled]="isUpdateVatVersion" [hidden]="!isViewVatCodeList" formControlName="VatCode"
                (change)="fillPopup($event.target.value)" us-error [errorMsg]="formErrors.VatCode" [displayError]="(myFormSubmited && !newVatCodeVersionForm.get('VatCode').valid)">
                <option></option>
                <option *ngFor="let i of uniqueVatCodeList" [disabled]="isUpdateVatVersion" [selected]="i.VatCode==selectedVatCode">{{i.VatCode}}</option>
              </select>
              <input class="form-control w-75" formControlName="VatCodeNew" type="number" [hidden]="isViewVatCodeList">
              <button class="btn btn-primary w-25" [hidden]="!isNewVatCode" (click)="setNewVatCodeView()" type="button">{{ 'ADMIN.NewC' | translate }}</button>
              <button class="btn btn-primary w-25" [hidden]="isNewVatCode" (click)="setUpdateVatCodeView()" [disabled]="isUpdateVatVersion"
                type="button">{{ 'ADMIN.SelectC' | translate }}</button>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'ADMIN.NameC' | translate}} </label>
            <input formControlName="Name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <label>{{ 'ADMIN.VATCodeLookupRateC' | translate}} </label>
                <input formControlName="Rate" class="form-control" type="number" min="0" placeholder="0.00">
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'ADMIN.VATCodeLookupStartDateC' | translate}} </label>
                <us-date-picker class="w-25" formControlName="StartDate" [options]="fromDatePickerOptions" [locale]="'COMMON.Locale'| translate"
                  name="startDate" #startDate us-error [errorMsg]="formErrors.StartDate" (dateChanged)="onStartDateChange($event, startDate)"
                  [displayError]="(myFormSubmited && !newVatCodeVersionForm.get('StartDate').valid)">
                </us-date-picker>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'ADMIN.VATCodeLookupEndDateC' | translate}} </label>
                <us-date-picker class="w-25" name="endtDate" #endDate [options]="toDatePickerOptions" formControlName="EndDate" [locale]="'COMMON.Locale'| translate"
                  us-error [errorMsg]="formErrors.EndDate" [displayError]="(myFormSubmited && !newVatCodeVersionForm.get('EndDate').valid)"
                  (dateChanged)="onEndDateChange($event,endDate)">
                </us-date-picker>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-4 pr-1">
              <div class="form-group">
                <label>{{'ADMIN.VatAccNoC' | translate}} </label>
                <input formControlName="VatAccountNo" class="form-control" type="text">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>{{ 'ADMIN.VatAccNameC' | translate}} </label>
                <div class="input-group">
                  <input formControlName="VatAccountName" class="form-control" type="text">
                  <button type="button" class="btn btn-primary" [disabled]="isNewVatCode" (click)="openRevAccountModel(selectRevAccountModal)">{{ 'ADMIN.SelectC' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>{{ 'ADMIN.DescriptionC' | translate}}</label>
                <textarea formControlName="Description" class="form-control" type="text" rows="6"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [hidden]="isUpdateVatVersion" (click)="preAddNewVatCodeVersion()" [labelText]="'ADMIN.ADD' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-done'" [hidden]="!isUpdateVatVersion" (click)="updateVatVersion()" [labelText]="'ADMIN.Update' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeVatDetailsForm()" [labelText]="'ADMIN.CancelC' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #selectRevAccountModal let-cRev="close" let-d="dismiss">
  <form [formGroup]="selectRevAccountForm">
    <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.RegisterNewArtSearchRevenueAccount' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex no-gutters">
        <div class="col-4 mr-2">
          <div class="form-group">
            <label>{{ 'ADMIN.AccountNumberC' | translate}} </label>
            <input class="form-control" formControlName="AccountNo" type="text">
          </div>
        </div>
        <div class="col-6">
          <label>{{ 'ADMIN.AccountNameC' | translate}} </label>
          <div class="input-group">
            <input class="form-control mr-1" formControlName="AccountName" type="text">
            <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'ADMIN.Update' | translate "></us-icon-button>
            <us-icon-button (click)="cancelUpdateRevAccount()" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CancelC' | translate "></us-icon-button>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="form-inline mb-1">
        <input #AccountNamePipeFilter (keyup)="filterInput(AccountNamePipeFilter.value,AccountNoPipeFilter.value)" class="form-control form-control-sm mr-1"
          type="text" placeholder="{{ 'ADMIN.AccountNameC' | translate}}">
        <input #AccountNoPipeFilter (keyup)="filterInput(AccountNamePipeFilter.value,AccountNoPipeFilter.value)" class="form-control form-control-sm"
          type="text" placeholder="{{ 'ADMIN.AccountNumberC' | translate}}">
      </div>
      <div class="d-flex">

        <us-data-table class="rev-acc-table" [pagination]="false" (reload)="reloadRevAccItems($event)" (rowClick)="rowClickAccount($event)"
          [rowTooltip]="rowTooltip" [items]="revenueItems">
          <data-table-column [property]="'AccountNo'" [width]="120" [header]="'ADMIN.AccountNumber' | translate" [sortable]="true"
            [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'Name'" [header]="'ADMIN.AccountNameC' | translate" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'active'" [width]="50">
            <ng-template #dataTableCell let-item="item">
              <button (click)="editRevAccountGrid(selectRevAccountForm)" class="btn btn-primary btn-icon-min">
                <span class="icon-edit"></span>
              </button>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'active'" [width]="50">
            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-danger btn-icon-min">
                <span class="icon-cancel"></span>
              </button>
            </ng-template>
          </data-table-column>
        </us-data-table>

      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button id="closeBtn" (click)="revAccountSelected()" [iconClass]="'icon-done'" [labelText]="'ADMIN.Select' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeRevAccountForm()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>
