<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
    <ng-content></ng-content>
  </div>
</div>