<div class="d-flex no-gutters mx-1">
  <div class="scroll-content border mr-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action py-1">name</li>
    </ul>
  </div>

  <div class="col">
    <div class="d-flex mb-1">
      <input class="form-control mr-2 col-2" placeholder="{{'REPORT.PropertyName' | translate}}" type="text">
      <h5>Title</h5>
    </div>

    <us-data-table [pagination]="false" >
      <data-table-column [header]="'REPORT.ReportingHomeWtmName' | translate" [sortable]="true">
      </data-table-column>
      <data-table-column [header]="'REPORT.DisplayName' | translate">
        <ng-template>
          <span>
            <input class="form-control form-control-sm" type="text">
          </span>
        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
</div>
<div class="d-flex mx-1 mt-1">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'REPORT.SelectionScreenBtnSave' | translate"></us-icon-button>
</div>
