<div class="d-flex no-gutters mx-1">
  <div class="col-2">
    <div class="form-group">
      <label>{{'ADMIN.ClassKeywordC' | translate}}</label>
      <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="newCategoryName">
        <button class="btn btn-primary" type="button" (click)="addCategory()"> {{ 'ADMIN.AddS' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex no-gutters mx-1 key-words-wrapper p-1">
  <div class="key-word-item mr-1" *ngFor="let item of keyWords">
    {{item.Name}}
    <span>
      <button type="button" class="close modal-close ml-2" aria-label="Close">
        <span aria-hidden="true" (click)="deleteCategory(item)" class="icon-close" style="font-size: 12px;"></span>
      </button>
    </span>
  </div>
</div>
