.toolbar {
    .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
    .toobar-icon {
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
}

.full-dropdown {
    position: initial;
    .dropdown-menu {
        width: 100%;
    }
    .scrollable-menu {
        height: 100vh;
        max-height: 90vh;
        overflow-x: hidden;
    }
    .sitemap-item {
        font-size: .8rem;
    }
}

//language switch styles
.flag-icon-background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.flag-icon {
    @extend .flag-icon-background;
    position: relative;
    display: inline-block;
    width: 1.5em;
    line-height: 1em;
    &:before {
        content: '\00a0';
    }
}

$flag-icon-rect-path: 'icon' !default;
@mixin flag-icon($country) {
    .flag-icon-#{$country} {
        background-image: url(#{$flag-icon-rect-path}/#{$country}.svg);
    }
}

@include flag-icon(no);
@include flag-icon(en);