<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-calender" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.Calender' | translate}}</title>
      <path d="M29 4h-2v-1.5c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5v1.5h-12v-1.5c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5v1.5h-2c-1.65 0-3 1.35-3 3v22c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-22c0-1.65-1.35-3-3-3zM28 28h-24v-17h24v17zM7 17v-2c0-0.55 0.45-1 1-1h2c0.55 0 1 0.45 1 1v2c0 0.55-0.45 1-1 1h-2c-0.55 0-1-0.45-1-1zM14 17v-2c0-0.55 0.45-1 1-1h2c0.55 0 1 0.45 1 1v2c0 0.55-0.45 1-1 1h-2c-0.55 0-1-0.45-1-1zM21 17v-2c0-0.55 0.45-1 1-1h2c0.55 0 1 0.45 1 1v2c0 0.55-0.45 1-1 1h-2c-0.55 0-1-0.45-1-1zM7 24v-2c0-0.55 0.45-1 1-1h2c0.55 0 1 0.45 1 1v2c0 0.55-0.45 1-1 1h-2c-0.55 0-1-0.45-1-1zM14 24v-2c0-0.55 0.45-1 1-1h2c0.55 0 1 0.45 1 1v2c0 0.55-0.45 1-1 1h-2c-0.55 0-1-0.45-1-1z"></path>
    </symbol>
    <symbol id="icon-gym-list" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.GymList' | translate}}</title>
      <path d="M27.55 20.95c0.2 0 0.35 0.050 0.5 0.2l3.8 3.8c0.25 0.25 0.25 0.7 0 0.95l-3.85 3.75c-0.15 0.15-0.3 0.2-0.5 0.2s-0.35-0.050-0.5-0.2c-0.25-0.25-0.25-0.7 0-0.95l3.3-3.3-3.3-3.3c-0.25-0.25-0.25-0.7 0-0.95 0.2-0.15 0.35-0.2 0.55-0.2zM24.1 20.95c0.2 0 0.35 0.050 0.5 0.2 0.25 0.25 0.25 0.7 0 0.95l-3.3 3.3 3.3 3.3c0.25 0.25 0.25 0.7 0 0.95-0.15 0.15-0.3 0.2-0.5 0.2s-0.35-0.050-0.5-0.2l-3.8-3.75c-0.25-0.25-0.25-0.7 0-0.95l3.8-3.8c0.15-0.15 0.35-0.2 0.5-0.2zM19.5 1.5c0.25 0 0.5 0.1 0.7 0.3l3.050 3.050 1.2-1.2c0.2-0.25 0.6-0.25 0.8 0l0.15 0.15 2.050-2.050c0.25-0.25 0.6-0.25 0.8 0l0.5 0.5c0.25 0.25 0.25 0.6 0 0.8l-2.050 2.050 0.15 0.15c0.25 0.25 0.2 0.6 0 0.8l-1.2 1.2 3.050 3.050c0.4 0.4 0.4 1 0 1.35l-0.5 0.5c-0.25 0.25-0.55 0.3-0.85 0.25l1.3 1.3c0.4 0.4 0.4 1 0 1.35l-0.5 0.5c-0.25 0.25-0.6 0.35-0.9 0.25 0.050 0.3 0 0.65-0.25 0.9l-0.5 0.5c-0.4 0.4-1 0.4-1.35 0l-4.7-4.7-9.5 9.5 4.7 4.7c0.4 0.4 0.4 1 0 1.35l-0.5 0.5c-0.25 0.25-0.55 0.3-0.85 0.25 0.1 0.3 0 0.65-0.25 0.9l-0.5 0.5c-0.4 0.4-1 0.4-1.35 0l-1.25-1.25c0.050 0.3-0.050 0.55-0.25 0.75l-0.5 0.5c-0.4 0.4-1 0.4-1.35 0l-3.050-3.050-0.95 0.95c-0.25 0.25-0.6 0.25-0.8 0l-0.15-0.15-2.1 2.050c-0.25 0.25-0.6 0.25-0.8 0l-0.5-0.5c-0.25-0.25-0.25-0.6 0-0.8l2.050-2.050-0.2-0.15c-0.2-0.2-0.2-0.6 0-0.8l0.95-0.95-3.050-3.050c-0.4-0.4-0.4-1 0-1.35l0.5-0.5c0.2-0.2 0.5-0.3 0.75-0.25l-1.25-1.25c-0.4-0.4-0.4-1 0-1.35l0.5-0.5c0.25-0.25 0.55-0.3 0.85-0.25-0.1-0.3 0-0.65 0.25-0.9l0.5-0.5c0.4-0.4 1-0.4 1.35 0l4.75 4.75 9.5-9.5-4.75-4.75c-0.4-0.4-0.4-1 0-1.35l0.5-0.5c0.25-0.25 0.6-0.35 0.9-0.25-0.050-0.3 0-0.65 0.25-0.9l0.5-0.5c0.4-0.4 1-0.4 1.35 0l1.3 1.3c0-0.3 0.1-0.65 0.3-0.85l0.5-0.5c0.2-0.2 0.45-0.3 0.7-0.3z"></path>
    </symbol>
    <symbol id="icon-logout" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.Logout' | translate}}</title>
      <path d="M13.447 7.899h5.106v16.204h-5.106zM16 3.575c-6.863 0-12.426 5.563-12.426 12.425s5.563 12.426 12.426 12.426c6.863 0 12.426-5.563 12.426-12.426s-5.563-12.425-12.426-12.425zM16 0c8.837 0 16 7.164 16 16s-7.163 16-16 16c-8.836 0-16-7.164-16-16s7.164-16 16-16z"></path>
    </symbol>
    <symbol id="icon-shop" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.Shop' | translate}}</title>
      <path d="M30.45 9.35h-5.45c0-5-4.050-9-9-9-5 0-9 4.050-9 9h-5.45l1.25 13.55-0.75 8.75h27.95l-0.5-8.75 0.95-13.55zM8.65 9.15c0-4.050 3.3-7.35 7.35-7.35s7.35 3.3 7.35 7.35h-14.7z"></path>
    </symbol>
    <symbol id="icon-sitemap" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.SiteMap' | translate}}</title>
      <path d="M16.5 22.6c2.25 0 4.1 1.85 4.1 4.1s-1.85 4.1-4.1 4.1c-2.25 0-4.1-1.85-4.1-4.1-0.050-2.25 1.8-4.1 4.1-4.1zM4.1 22.6c2.25 0 4.1 1.85 4.1 4.1s-1.85 4.1-4.1 4.1c-2.25 0-4.1-1.8-4.1-4.1 0-2.25 1.85-4.1 4.1-4.1zM27.9 22.6c2.25 0 4.1 1.85 4.1 4.1s-1.85 4.1-4.1 4.1c-2.25 0-4.1-1.85-4.1-4.1-0.050-2.25 1.8-4.1 4.1-4.1zM15.4 11.8h2.4v1.9h11.4v6.15h-2.4v-3.7h-9v3.7h-2.4v-3.7h-9.95v3.7h-2.45v-6.15h12.4v-1.9zM16.5 1.2c2.25 0 4.1 1.85 4.1 4.1s-1.85 4.1-4.1 4.1c-2.25 0-4.1-1.85-4.1-4.1-0.050-2.3 1.8-4.1 4.1-4.1z"></path>
    </symbol>
    <symbol id="icon-switch-user" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.SwitchUser' | translate}}</title>
      <path d="M21.5 15.65l9.9 6.75-9.75 6.55v-3.1h-12.4v-6.85h12.3l-0.050-3.35zM10.35 3.050v3.1h12.4v6.85h-12.3l0.050 3.35-9.9-6.75 9.75-6.55z"></path>
    </symbol>
    <symbol id="icon-user" viewBox="0 0 32 32">
      <title>{{'MEMBERSHIP.user' | translate}}</title>
      <path d="M24.7 19.2c1.5 0.050 5.5 3.1 5.85 12.55l-29.050 0.25c0 0-0.8-12.1 8.45-12.7 3.65-0.55 7.3 3.1 9.35 2.75 2.1-0.35 3.9-2.9 5.4-2.85zM18.050 0c4.15 0 7.55 3.85 7.55 8.55 0 4.75-3.4 8.55-7.55 8.55s-7.55-3.85-7.55-8.55c0-4.7 3.4-8.55 7.55-8.55z"></path>
    </symbol>

  </defs>
</svg>

<nav class="navbar navbar-expand-lg navbar-bg py-0 px-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
        <path class="toobar-icon" d="M3.5,6.8h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5c-0.9,0-1.6,0.7-1.6,1.6S2.6,6.8,3.5,6.8z M16.5,17.2H3.5
	c-0.9,0-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6S17.5,17.2,16.5,17.2z M20.7,10.4H3.5c-0.9,0-1.6,0.7-1.6,1.6
	s0.7,1.6,1.6,1.6h17.2c0.9,0,1.6-0.7,1.6-1.6S21.6,10.4,20.7,10.4z" />
      </svg>

    </span>
  </button>

  <a class="navbar-brand cursor-hand" role="button" (click)="gotoHome()">
    <img src="assets/images/exceline-logo.svg" height="40" class="d-inline-block align-top" alt="Exceline">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <span class="mr-auto">

    </span>
    <ul class="navbar-nav toolbar">
      <li>
        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
          <div>
            <small>
              <strong>{{ 'COMMON.Version' | translate }}</strong>
            </small>
          </div>
          <small>{{versionNo}}</small>
        </a>

      </li>
      <li class="d-flex align-items-center">


        <a class="nav-link d-flex align-items-center" href="javascript:" (click)="open(profileModal)" role="button" aria-haspopup="true"
          aria-expanded="false">
          <svg class="toobar-icon">
            <use xlink:href="#icon-user"></use>
          </svg>
          <span class="pl-1">
            <strong>{{userInfo?.DisplayName}}</strong>
          </span>
        </a>

      </li>
      <li class="d-flex align-items-center">
        <div class="dropdown">
          <a class="nav-link d-flex align-items-center dropdown-toggle " href="javascript:" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <svg class="toobar-icon">
              <use xlink:href="#icon-gym-list"></use>
            </svg>
            <span class="pl-1">
              <strong> {{selectedBranch?.BranchName}}</strong>
            </span>

          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button *ngFor="let gym of userGyms" class="dropdown-item" (click)="selectGym(gym)">{{gym.BranchName}}</button>
          </div>
        </div>
      </li>
      <li class="d-flex align-items-center cursor-hand">
        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" (click)="navigateToCalandar()">
          <svg class="toobar-icon">
            <use xlink:href="#icon-calender"></use>
          </svg>
        </a>

      </li>
      <li class="d-flex align-items-center cursor-hand">
        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" (click)="navigateToShop()">
          <svg class="toobar-icon">
            <use xlink:href="#icon-shop"></use>
          </svg>
        </a>

      </li>
      <li class="nav-item dropdown full-dropdown open cursor-hand">
        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <svg class="toobar-icon">
            <use xlink:href="#icon-sitemap"></use>
          </svg>
        </a>
        <div class="dropdown-menu scrollable-menu p-3">
          <div class="card-columns p-1">
            <div class="card" *ngFor="let module of modules">
              <div class="card-header" >
                {{module.DisplayName}}
              </div>
              <ng-container *ngIf="module.Operations.length >0">
                <a class="dropdown-item sitemap-item" role="button" (click)="navigateModule(module)" *ngFor="let operation of module.Operations">{{operation.DisplayName}}</a>
              </ng-container>
              <ng-container *ngIf="module.Features.length >0">
                <div class="mb-2" *ngFor="let feature of module.Features">

                  <h6 class="dropdown-header">
                    <strong>{{feature.DisplayName}}</strong>
                  </h6>

                  <ng-container *ngIf="feature.Operations.length >0">

                    <a class="dropdown-item sitemap-item" role="button" (click)="navigate(operation)" *ngFor="let operation of feature.Operations">{{operation.DisplayName}}</a>

                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </li>
      <li class="d-flex align-items-center cursor-hand">
        <a class="nav-link d-flex align-items-center" role="button" (click)="changeLanguage()" aria-haspopup="true" aria-expanded="false">
          <span class="flag-icon flag-icon-{{lang.id}}" title="{{lang.title}}" id="{{lang.id}"></span>
          <small class="pl-1">{{lang.title}}</small>
        </a>
      </li>
      <li class="d-flex align-items-center cursor-hand">
        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
          <svg class="toobar-icon">
            <use xlink:href="#icon-switch-user"></use>
          </svg>
        </a>
      </li>
      <li class="d-flex align-items-center cursor-hand">
        <a class="nav-link" role="button" id="logout" aria-haspopup="true" aria-expanded="false" (click)="logout()">
          <svg class="toobar-icon">
            <use xlink:href="#icon-logout"></use>
          </svg>
        </a>
      </li>

    </ul>
  </div>
</nav>


<!-- <us-breadcrumb></us-breadcrumb> -->
<app-exce-breadcrumb></app-exce-breadcrumb>

<ng-template #profileModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.UPSTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userProfileForm" (ngSubmit)="submitForm()">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label> {{ 'COMMON.UserName' | translate }}</label>
            <input class="form-control" type="text" formControlName="userName">
          </div>
          <div class="form-group ">
            <label>{{ 'COMMON.DisplayName' | translate }}</label>
            <input class="form-control" type="text" formControlName="displayName"
             us-error [errorMsg]="formErrors.displayName" [displayError]="isFormSubmited && !userProfileForm.get('displayName').valid"
              placement="bottom">
          </div>
          <div class="form-group ">
            <label>{{ 'COMMON.Email' | translate }}</label>
            <input class="form-control" type="text" formControlName="email">
          </div>
        </div>
        <div class="col">
          <div class="form-group ">
            <label class="checkbox-inline">
              <input type="checkbox" formControlName="isResetPassword" (change)="isPasswordChangeHandle($event.target.checked)"> {{ 'COMMON.ResetPassword' | translate }}
            </label>
          </div>
          <div class="form-group ">
            <label>{{ 'COMMON.Password' | translate }}</label>
            <input class="form-control" type="password" formControlName="password"
            us-error [errorMsg]="formErrors.password" [displayError]="isResetPassword && isFormSubmited && !userProfileForm.get('password').valid" placement="bottom">
          </div>
          <div class="form-group ">
            <label>{{ 'COMMON.newPassword' | translate }}</label>
            <input class="form-control" type="password" formControlName="newPassword"
            us-error [errorMsg]="formErrors.newPassword" [displayError]="isResetPassword && isFormSubmited && !userProfileForm.get('newPassword').valid" placement="bottom">
          </div>
          <div class="form-group ">
            <label>{{ 'COMMON.RePassword' | translate }}</label>
            <input class="form-control" type="password" formControlName="reTypePassword"
            us-error [errorMsg]="formErrors.reTypePassword" [displayError]="isResetPassword && isFormSubmited && !userProfileForm.get('reTypePassword').valid" placement="bottom">
          </div>

        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitForm(userProfileForm.value)">{{ 'COMMON.Save' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="closeModel();">{{ 'COMMON.Cancel' | translate }}</button>
  </div>
</ng-template>
