
<ul class="nav nav-tabs us-tabs" role="tablist">
  <li class="nav-item" *ngFor="let tab of tabs; let i = index" [attr.data-index]="i" (click)="selectTab(tab,i)">
    <a [class.active]="tab.active" class="nav-link us-tabs-nav-link" data-toggle="tab" href="#" role="tab">{{tab.title}}</a>
  </li>
</ul>
<div>
<ng-content></ng-content>

