:host .gym-pos-set-scroller {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-y: auto;
    height: calc(100vh - 150px);
    width: 95%;
}

.table-height {
  ::ng-deep .data-table {
      height: calc(100vh - 500px);
      @extend %table-header-fixed-scroller
  }
}

:host .columns {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
:host .addFooter {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 5px;
  align-items: baseline;
}

.custom-checkbox{
  cursor: pointer;
}

%table-header-fixed-scroller {
  display: flex;
  flex-flow: column;
  width: 100%;
  tbody {
      display: block;
      overflow-y: scroll;
      flex: 1 1 auto;
  }
  thead {
    display: table;
      width: 100%;
      table-layout: fixed;
  }
  tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      cursor: pointer;
  }
  thead {
      width: calc( 100% - 1.3em);
  }
}
