<form [formGroup]="otherSettingsFrom" #othrFrm>
  <div class="d-flex no-gutters gym-other-set-scroller">

    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.MGSOSLockedSystemAfter' | translate }}</label>
        <div class="form-inline">
          <input type="number" class="form-control mr-2 w-50" [formControl]="otherSettingsFrom.controls['TimeOutAfter']" [exceError]="otherSettingsFrom.controls['TimeOutAfter']"
            min="0" step="1" pattern="\d*">
          <label>{{ 'ADMIN.SECONDS' | translate }}</label>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.DeleteAnonymizingData' | translate }}</label>
        <div class="form-inline">
          <input type="number" class="form-control mr-2 w-50" [formControl]="otherSettingsFrom.controls['AnonymizingTimePeriod']" [exceError]="otherSettingsFrom.controls['AnonymizingTimePeriod']"
            min="0" step="1" pattern="\d*">
          <label>{{ 'ADMIN.YEARS' | translate }}</label>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.MGSOSPhoneCode' | translate }}</label>
        <input type="text" class="form-control" [formControl]="otherSettingsFrom.controls['PhoneCode']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.GmtC' | translate }}</label>
        <input type="text" class="form-control" [formControl]="otherSettingsFrom.controls['Gmt']">
      </div>

    </div>

    <div class="col-2 mr-2">
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsShopAvailable']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.MGSOSIsShopAvailable' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsLogoutFromShopAfterSale']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsLogoutFromShopAfterSale' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsAntiDopingRequired']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.MGSOSIsAntiDopingReq' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['CategoryFollowUpNoVisits']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.CategoryFollowUpNoVisits' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['FollowUpNewPerson']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.FollowUpNewPerson' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsPrintATGAuthorization']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsPrintATGAuthorization' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsFreezeConfirmationPopUp']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsFreezeConfirmationPopUp' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsLoginShop']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsLoginShop' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsPrieviewWhenPrint']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsPrieviewWhenPrint' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsBookingBackDate']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.BookingBackDate' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsCalendarPriority']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsCalendarPriority' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsIBookingIntegrated']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsIbookingIntegrated' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsValidateShopGymId']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsValidateShopGymId' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsUsingIntroducedBy']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsUsingIntroducedBy' | translate }}</span>
        </label>


        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['SortBranchesById']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.SortBranchesById' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="otherSettingsFrom.controls['IsUsingGantner']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsUsingGantner' | translate }}</span>
        </label>

      </div>
    </div>


  </div>
</form>

<div>
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings(otherSettingsFrom.value)"
    [isDisabled]="!otherSettingsFrom.valid"></us-icon-button>
</div>

  <!-------------------------------------------------------------------------------------------->

  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
  [information]="message"></exce-fade-in-n-out>
