:host .gym-other-set-scroller {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 186px);
    width: 100%;
    margin-bottom: 10px;
    .col-2{
        min-width: 250px
    }
}

.custom-checkbox{
  cursor: pointer;
}

.custom-select{
  cursor: pointer;
}
