<div class="autocomplete">
  <input type="text" class="form-control w-100" placeholder="{{ placeholder }}" (blur)="showAutoComplete = false;" (focus)="focusEvent()"
    [value]="value" [(ngModel)]="textValue" (keyup)="enterText($event)">
  <ul *ngIf="showAutoComplete && candidates?.length > 0">
    <li *ngFor="let candidate of candidates; let idx = index" [ngClass]="{ active: (idx === selectedIndex) }" (mouseover)="selectedIndex = idx;"
      (mousedown)="onSelect(idx)">
      {{candiatesLabels[idx]}}
    </li>
  </ul>
</div>
