:host /deep/table {
  display: flex;
  flex-flow: column;
  height:calc(100vh - 190px);
  width: 100%;
}
:host /deep/ tbody {
  display:block;
  overflow-y:scroll;
  flex: 1 1 auto;
}
:host /deep/ thead, :host /deep/ tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  cursor: pointer;
}
:host /deep/ thead {
  width: calc( 100% - 1.3em )
}
