<div class="d-flex flex-row p-4">
    <div class="mr-2">
        <div class="mc-basicinfo-pic mr-pic d-flex justify-content-center align-items-center">
            <svg *ngIf="!data1.image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <path class="fill-primary" d="M17.5,36.7c4,3,9,4.8,14.5,4.8c5.4,0,10.4-1.8,14.5-4.8c9.4,1.2,16.7,9.2,16.7,19V64H0.8v-8.3
      C0.8,45.9,8.1,37.9,17.5,36.7z M32,0c9.6,0,17.5,7.8,17.5,17.5C49.5,27.1,41.7,35,32,35c-9.6,0-17.5-7.8-17.5-17.5S22.4,0,32,0z"
                />

            </svg>
            <img width="64px" height="64px" *ngIf="data1.image" [src]="data1.image" >
        </div>
    </div>
    <div class="w-100">
        <us-form-wizard [isContractVisible]="false">
            <wizard-step [number]="1" [title]="'ADMIN.AddEmEmInformation' | translate" (onComplete)="submitUserForm(empInfoForm.value)" (onCancel)="onCancel()">
                <form [formGroup]="empInfoForm" #empInfoFrm>
                    <div class="d-flex no-gutters mt-2">
                        <div class="col-md-3 mr-2">
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmGender' | translate}}
                                    <strong class="text-danger">*</strong>
                                </label>
                                <div class="form-inline">
                                    <div>
                                        <label class="custom-control custom-radio">
                                            <input id="male" name="gender" type="radio" class="custom-control-input"  [formControl]="empInfoForm.controls['Gender']"
                                                [checked]="selectedGender==='MALE'" (change)="$event.target.value?selectedGender='MALE':selectedGender='FEMALE'"
                                                us-error [errorMsg]="formErrors.Gender" [displayError]="formSubmited && !empInfoForm.get('Gender').valid">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{{'ADMIN.AddEmMale' | translate}}</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="custom-control custom-radio">
                                            <input id="female" name="gender" type="radio" class="custom-control-input"  [formControl]="empInfoForm.controls['Gender']"
                                                [checked]="selectedGender==='FEMALE'" (change)="$event.target.value?selectedGender='FEMALE':selectedGender='MALE'"
                                                us-error [errorMsg]="formErrors.Gender" [displayError]="formSubmited && !empInfoForm.get('Gender').valid">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{{'ADMIN.AddEmFemale' | translate}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmLastName' | translate}}</label>
                                <strong *ngIf="isLastNameRequired" class="text-danger">*</strong>
                                <div class="form-inline">
                                    <input type="text" class="form-control w-75" [formControl]="empInfoForm.controls['LastName']" us-error [errorMsg]="formErrors.LastName"
                                        [displayError]="formSubmited && !empInfoForm.get('LastName').valid">
                                    <button class="btn btn-primary w-25" (click)="openMemberSelectionModel(MemberSelectionModal)">{{'ADMIN.Select' | translate}}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmFirstName' | translate}}</label>
                                <strong *ngIf="isFirstNameRequired" class="text-danger">*</strong>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['FirstName']" us-error [errorMsg]="formErrors.FirstName"
                                    [displayError]="formSubmited && !empInfoForm.get('FirstName').valid">
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.Description' | translate}}</label>
                                <textarea type="text" class="form-control" [formControl]="empInfoForm.controls['Description']"> </textarea>
                            </div>

                            <div class="form-group">
                                <div class="d-flex no-gutters">
                                    <div class="col-md-6 mr-2">
                                        <div class="form-group">
                                            <label>{{'ADMIN.IsBirthday' | translate}}</label>

                                            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" #birthDay [formControl]="empInfoForm.controls['BirthDay']"
                                                (dateChanged)="getAge($event)">
                                            </us-date-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mr-2">
                                            <label>{{'ADMIN.Age' | translate}}</label>
                                            <!-- <input type="text" class="form-control"  value="{{ageValue}}" readOnly> -->
                                            <label class="form-control">{{ageValue}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mr-2">
                            <div class="form-group">
                                <label>{{'ADMIN.Address1' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['Address1']" us-error [errorMsg]="formErrors.Address1"
                                    [displayError]="formSubmited && !empInfoForm.get('Address1').valid">
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.Address2' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['Address2']">
                            </div>
                            <div class="form-group">
                                <div class="d-flex no-gutters">
                                    <div class="col-md-6 mr-2">
                                        <div class="form-group mb-0 mr-2">
                                            <label>{{'ADMIN.AddEmPostCode' | translate}}</label>
                                            <strong *ngIf="isZipRequired" class="text-danger">*</strong>
                                            <input type="text" class="form-control" [formControl]="empInfoForm.controls['PostCode']" us-error [errorMsg]="formErrors.PostCode"
                                                [displayError]="formSubmited && !empInfoForm.get('PostCode').valid">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-0 mr-2">
                                            <label>{{'ADMIN.AddEmCity' | translate}}</label>
                                            <input type="text" class="form-control" [formControl]="empInfoForm.controls['PostPlace']">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmMobile' | translate}}</label>
                                <strong *ngIf="isMobileRequired" class="text-danger">*</strong>
                                <div class="form-inline">
                                    <!-- <input type="text" class="form-control w-25" [formControl]="empInfoForm.controls['MobilePrefix']">
                                    <input type="text" class="form-control w-75" [formControl]="empInfoForm.controls['Mobile']" us-error [errorMsg]="formErrors.Mobile"
                                        [displayError]="formSubmited && !empInfoForm.get('Mobile').valid"> -->

                                    <intl-tel-input [intlOptions]="intlOptions" [id]="'intel'" (fullValueChange)="mobileChange($event)" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile"
                                        [displayError]="formSubmited && !empInfoForm.get('Mobile').valid" placement="right"></intl-tel-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmPrivate' | translate}}</label>
                                <div class="form-inline">
                                    <!-- <input type="text" class="form-control w-25" [formControl]="empInfoForm.controls['PrivateTeleNoPrefix']">
                                    <input type="text" class="form-control w-75" [formControl]="empInfoForm.controls['Private']"> -->
                                    <intl-tel-input [intlOptions]="intlOptions" [id]="'intel2'" (fullValueChange)="privateChange($event)" formControlName="Private" us-error [errorMsg]="formErrors.Private"
                                        [displayError]="formSubmited && empInfoForm.get('Private').invalid" placement="right"></intl-tel-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmWork' | translate}}</label>
                                <div class="form-inline">
                                    <!-- <input type="text" class="form-control w-25" [formControl]="empInfoForm.controls['WorkTeleNoPrefix']"> -->
                                    <!-- <input type="text" class="form-control w-75" [formControl]="empInfoForm.controls['Work']"> -->
                                    <intl-tel-input [intlOptions]="intlOptions" [id]="'intel3'" (fullValueChange)="workChange($event)" formControlName="Work" us-error [errorMsg]="formErrors.Work"
                                        [displayError]="formSubmited && empInfoForm.get('Work').invalid" placement="right"></intl-tel-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.Email' | translate}}</label>
                                <strong *ngIf="isEmailRequired" class="text-danger">*</strong>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['Email']" us-error [errorMsg]="formErrors.Email"
                                    [displayError]="formSubmited && !empInfoForm.get('Email').valid" placement="right">
                            </div>
                        </div>
                        <div class="col-md-3 mr-2">
                            <div class="form-group">
                                <label>{{'ADMIN.StartDate' | translate}}</label>

                                <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="empInfoForm.controls['StartDate']">
                                </us-date-picker>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.EndDate' | translate}}</label>

                                <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="empInfoForm.controls['EndDate']">
                                </us-date-picker>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.AddEmCardNo' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['EmployeeCardNo']">
                            </div>
                            <div class="form-group mr-2">
                                <label>{{'ADMIN.AddEmMemberNumber' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['CustId']">
                            </div>
                            <div class="form-group mr-2">
                                <label>{{'ADMIN.AddEmPayrollNumber' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="empInfoForm.controls['PayrollNumber']">
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.Roles' | translate}}</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control w-25" readonly value="{{selectedRoles}}">
                                    <button class="btn btn-primary" type="button" (click)=" rolesPop.open()" container="body" placement="top" [usPopover]="rolesPopOver"
                                        popoverWidth="650" #rolesPop="usPopover" triggers="manual">{{'ADMIN.AddS' | translate}}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{'ADMIN.HomeGym' | translate}}</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control w-75" readonly [formControl]="empInfoForm.controls['HomeGymName']">
                                    <button class="btn btn-primary" type="button" (click)=" homeGymPop.open()" container="body" placement="top" [usPopover]="homeGymPopOver"
                                        popoverWidth="350" #homeGymPop="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </wizard-step>
            <wizard-step [number]="2" [title]="'ADMIN.AddEmSetProfile' | translate" (onComplete)="submitUserForm(empInfoForm.value)"
                (onCancel)="onCancel()">
                <div class="text-center w-25">
                    <div *ngIf="atDecition" class="text-center">
                        <button class="btn btn-primary w-50 mt-3" type="button" (click)="wantToUploadFile()">{{'ADMIN.AddEmUploadPhoto' | translate}}</button>
                        <p class="mt-2">{{'ADMIN.AddEmFromYourComputer' | translate}}</p>
                        <div class="divider"></div>
                        <button class="btn btn-primary w-50 " type="button" (click)="wantToUseWebCam()">{{'ADMIN.AddEmTakePhoto' | translate}}</button>
                        <p class="mt-2">{{'ADMIN.AddEmWithYourWebCam' | translate}}</p>
                    </div>
                </div>
                <!-- ///////////////////////////////for the cropping seen///////////////////////////// -->

                <div *ngIf="useWebcam"  class="mt-2">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>
                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyCameraInput]="useWebcam" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>
                </div>

                <div *ngIf="useFileUpload"  class="mt-2">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>
                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyFileInput]="useFileUpload" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////////////end of cropping seen/////////////////////////// -->


            </wizard-step>
        </us-form-wizard>

    </div>


</div>




<ng-template #MemberSelectionModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">
            <span class="modal-title">MEMBER SELECTION</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>

    <div class="modal-body">
        <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectMember($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
            [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount"
            [isDisabledRole]="false" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="true"
            [isStatusVisible]="true" [isRoleVisible]="true" [isAddBtnVisible]="true" [isBasicInforVisible]="true">

        </exce-entityselection>
    </div>

</ng-template>

<!-- <ng-template #rolesPopOver>

    <div class="d-flex no-gutters">
        <div class="col mr-2">
            <div class="border popover-scroller">
                    <strong class="p-1">{{'ADMIN.Roles' | translate}}</strong>
                    <table class="table table-sm">
                        <tbody>
                            <tr *ngFor="let empRole of exceEmpRoles">
                                <td>
                                    <label class="custom-control custom-checkbox checkbox-inline">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="empRole.isSelected" (change)="$event.target.checked?empRole.IsActive=true:empRole.IsActive=false;showGyms=false;$event.target.checked?selectedRoles=selectedRoles+1:selectedRoles=selectedRoles-1;">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">{{empRole.RoleName}}</span>
                                    </label>
                                </td>
                                <td>
                                    <us-icon-button [isDisabled]="!empRole.isSelected" [labelText]="'ADMIN.ButtonAddGyms' | translate" (click)="selectedRole=empRole;showGyms=true">
                                    </us-icon-button>
                                </td>
                            </tr>
                       </tbody>
                    </table>
            </div>
        </div>
        <div class="col">
            <div class="border popover-scroller">
                <strong class="p-1">{{'ADMIN.LblGyms' | translate}}</strong>
                <table class="table table-sm" *ngIf="showGyms">
                    <tbody>
                        <tr *ngFor="let branch of branches">
                            <td>
                                <label class="custom-control custom-checkbox checkbox-inline w-100">
                                    <input type="checkbox" class="custom-control-input" [value]="branch.Id" (change)="changerRoles($event)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{branch.BranchName}}</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

    <div class="d-flex justify-content-end mt-2">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="rolesPop.close();showGyms=false"></us-icon-button>
    </div>
</ng-template> -->

<ng-template #rolesPopOver>

    <div class="d-flex no-gutters">
        <div class="col mr-2">
            <div class="border popover-scroller">
                <strong class="p-1">{{'ADMIN.Roles' | translate}}</strong>
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let empRole of exceEmpRoles; let index = index" [ngClass]="(index==selectedIndex)?{'table-active':true}:{'table-active':false}">
                            <td>
                                <label class="custom-control custom-checkbox checkbox-inline">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="empRole.isSelected" (change)="$event.target.checked?empRole.IsActive=true:empRole.IsActive=false;showGyms=false;$event.target.checked?selectedRoles=selectedRoles+1:selectedRoles=selectedRoles-1;$event.target.checked?selectedIndex=index:selectedIndex=selectedIndex;">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{empRole.RoleName}}</span>
                                </label>
                            </td>
                            <td>
                                <us-icon-button [isDisabled]="!empRole.isSelected" [labelText]="'ADMIN.ButtonAddGyms' | translate" (click)="showGyms=false;selectedRole=empRole;showGyms=true;selectedIndex=index">
                                </us-icon-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="border popover-scroller">
                <strong class="p-1">{{'ADMIN.LblGyms' | translate}}</strong>
                <table class="table table-sm" *ngIf="showGyms">
                    <tbody>
                        <tr *ngFor="let branch of exceEmpRoles[selectedIndex].branches">
                            <td>
                                <label class="custom-control custom-checkbox checkbox-inline w-100">
                                    <input type="checkbox" class="custom-control-input" [value]="branch.Id" [(ngModel)]="branch.IsCheck">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{branch.BranchName}}</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-2">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="rolesPop.close()"></us-icon-button>
    </div>
</ng-template>


<ng-template #homeGymPopOver>

    <div class="d-flex no-gutters">
        <div class="col">
            <div class="border popover-scroller">
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let branch of branches">
                            <td>
                                <label class="custom-control custom-radio">
                                    <input id="branch" name="gym" type="radio" class="custom-control-input" (change)="changeHomeGym($event,branch)" [checked]="homeGym?homeGym.Id==branch.Id:false">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{branch.BranchName}}</span>
                                </label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-end mt-2">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="homeGymPop.close();"></us-icon-button>
    </div>
</ng-template>
