
  <div class="modal-body">
          <form [formGroup]="userSettingsForm" #userSettingsFrm>
     <!-- <div class="row">
          <label>Password</label>
     </div> -->
     <!-- <div class="row">
          <input type="password" [formControl]="userSettingsForm.controls['oldPassword']" #oldPw us-error [errorMsg]="formErrors.oldPassword"
          [displayError]="isSubmitChangePw && !userSettingsForm.get('oldPassword').valid">
          <!-- (blur)="PwValidator(oldPw.value)" - - >
      </div> -->
      <div class="row">
          <label>New Password</label>
     </div>
     <div class="row">
          <input type="password" [formControl]="userSettingsForm.controls['newPassowrd']" us-error [errorMsg]="formErrors.newPassowrd"
          [displayError]="isSubmitChangePw && !userSettingsForm.get('newPassowrd').valid">
      </div>
      <div class="row">
          <label>Re type Password</label>
     </div>
     <div class="row">
          <input type="password" [formControl]="userSettingsForm.controls['confirmPassowrd']" us-error [errorMsg]="formErrors.confirmPassowrd"
          [displayError]="isSubmitChangePw && !userSettingsForm.get('confirmPassowrd').valid">
      </div>
</form>
  </div>
  <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'Save'" (click)="submitPwChange(userSettingsForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="canceledMethod()"></us-icon-button>
  </div>

