<div style="background-color: #fff;">
  <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-profile-tab" data-toggle="tab" name="ord" href="#nav-basicInfo"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'ADMIN.BasicInfomation' | translate}}</a>
    <a class="nav-link"id="nav-profile-tab" data-toggle="tab" name="inv" href="#nav-monthlyService"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'ADMIN.AddNewTemplateTabItemMonthlyService' | translate}}</a>
    <a class="nav-link"id="nav-profile-tab" data-toggle="tab" name="inv" href="#nav-startUpItems"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'ADMIN.AddNewTemplateTabItemStartupItems' | translate}}</a>
    <a class="nav-link"id="nav-profile-tab" data-toggle="tab" name="inv" href="#nav-settings"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'ADMIN.AddNewTemplateTabItemTemplateSettings' | translate}}</a>
    <a class="nav-link"id="nav-profile-tab" data-toggle="tab" name="inv" href="#nav-access"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'ADMIN.AddNewTemplateTabItemAvailabilityAndAccess' | translate}}</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-basicInfo" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="content-scroller mt-2">
    <form [formGroup]="BasicInfoForm" #BasicInfofrm>
      <div class="d-flex">
        <div class="col-2">
          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbTemplateNo' | translate }}</label>
            <input class="form-control" type="text" [(ngModel)]="newTemplateNo" [formControl]="BasicInfoForm.controls['TemplateNumber']"
              disabled>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbTemplateName' | translate }}<strong class="text-danger">*</strong></label>
            <input class="form-control" type="text" [formControl]="BasicInfoForm.controls['PackageName']" us-error [errorMsg]="formErrors.PackageName"
              [displayError]="formSubmited && !BasicInfoForm.get('PackageName').valid">
          </div>

          <div class="form-group activ">
            <label>{{ 'ADMIN.Activity' | translate }}<strong class="text-danger">*</strong></label>
              <input  class="form-control" type="text" [formControl]="BasicInfoForm.controls['ActivityName']" us-error [errorMsg]="formErrors.ActivityName"
              [displayError]="formSubmited && !BasicInfoForm.get('ActivityName').valid" disabled type="text" class="w-50">
          </div>
          <!-- <div class="form-group activ">
              <label>{{ 'ADMIN.Article' | translate }}</label>
              <input disabled type="text" class="w-50" value="{{ArticleDesc}}">
          </div> -->
          <div class="form-group activ">
              <button class="w-25 btn btn-primary" type="button" (click)="scrollPopOverContent(excludingCategoriesGroup)"
                triggers="manual">{{'ADMIN.Select' | translate}}</button>

          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.Type' | translate }}</label>
          </div>

          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" #isContract class="custom-control-input mx-2" [value]="'CONTRACT'" [checked]="contType=='CONTRACT'?true:false"
              (change)="changeContType($event.target.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'ADMIN.ContractC' | translate}}</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" #isPunch class="custom-control-input mx-2" [value]="'PUNCHCARD'" [checked]="contType=='PUNCHCARD'?true:false"
              (change)="changeContType($event.target.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'ADMIN.punchCard' | translate}}</span>
          </label>

          <div class="form-group">
            <label>{{ 'ADMIN.Category' | translate }}<strong class="text-danger">*</strong></label>
            <select class="custom-select w-100" [(ngModel)]="selectedContractType" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let packCat of packageCategories" [ngValue]="packCat.Id">{{packCat.Name}}</option>
            </select>
          </div>

          <label>{{'ADMIN.discountRateC' | translate}}</label>
          <div class="form-group m-0">
            <label class="custom-control custom-radio">
              <input id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="0" [formControl]="BasicInfoForm.controls['DiscountRate']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.highC' | translate}}</span>
            </label>
          </div>

          <div class="form-group m-0">
            <label class="custom-control custom-radio">
              <input id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="1" [formControl]="BasicInfoForm.controls['DiscountRate']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.lowC' | translate}}</span>
            </label>
          </div>
          <div class="form-group m-0">
            <label class="custom-control custom-radio">
              <input id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="2" [formControl]="BasicInfoForm.controls['DiscountRate']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.NoneS' | translate}}</span>
            </label>
          </div>

        </div>
        <div class="col-2">
          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbSalesFrom' | translate }}<strong class="text-danger">*</strong></label>
            <us-date-picker #SalesFromDate class="w-100" [locale]="'COMMON.Locale'| translate" formControlName="StartDate">
            </us-date-picker>
          </div>
          <div class="form-group">
            <label>{{ 'ADMIN.MngTemplatesHeaderSalesTo' | translate }}<strong class="text-danger">*</strong></label>
            <us-date-picker #SalesToDate class="w-100" [locale]="'COMMON.Locale'| translate" formControlName="EndDate">
            </us-date-picker>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbAmountForAtg' | translate }}</label>
            <input class="form-control" type="text" [formControl]="BasicInfoForm.controls['AmountForATG']">
          </div>
          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbSorting' | translate }}</label>
            <input class="form-control" type="number" [formControl]="BasicInfoForm.controls['SortingNo']">
          </div>
          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateTxbAtgStatus' | translate }}</label>
            <input class="form-control" type="number" [formControl]="BasicInfoForm.controls['ATGStatus']">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <label class="custom-control custom-checkbox checkbox-inline w-100">
              <input type="checkbox" class="custom-control-input" [formControl]="BasicInfoForm.controls['IsATG']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbAtg' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline w-100">
              <input type="checkbox" class="custom-control-input" [formControl]="BasicInfoForm.controls['IsShownOnNet']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbShowOnTheNet' | translate}}</span>
            </label>
            <div *ngIf="contType=='CONTRACT'?true:false">
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [formControl]="BasicInfoForm.controls['RestPlusMonth']">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbRestPlusMonth' | translate}}</span>
              </label>
            </div>
            <label class="custom-control custom-checkbox checkbox-inline w-100">
              <input type="checkbox" class="custom-control-input" [formControl]="BasicInfoForm.controls['IsInvoiceDetail']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbInvoiceDetails' | translate}}</span>
            </label>
            <div *ngIf="contType=='CONTRACT'?true:false">
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [formControl]="BasicInfoForm.controls['AutoRenew']">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbAutoRenew' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="tab-pane fade" id="nav-monthlyService" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="d-flex mt-2 ml-2">
      <button class="btn btn-primary" type="button" (click)="openMonthlyServiceModal(monthlyServiceModal,'SERVICE',false)">{{ 'ADMIN.AddS' | translate }}</button>
    </div>
    <div class="border m-2">
      <us-data-table class="contract-tem-tab-table" [pagination]="false" id="" [items]="everyMonthItems" [itemCount]="everyMonthItemCount"
        >
        <data-table-column [property]="''" header="" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="item.isSelected" [checked]="item.isSelected">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span>
            </label>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'ArticleNo'" header="{{ 'ADMIN.ArticleNo' | translate }}" [width]="120">
        </data-table-column>
        <data-table-column [property]="'ItemName'" header="{{ 'ADMIN.DescriptionText' | translate }}">
        </data-table-column>
        <data-table-column [property]="'Price'" header="{{ 'ADMIN.Price' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm text-right" type="number"   [(ngModel)]="item.Price" (ngModelChange)="claculateEveryMonthItemPrice()">
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'StartOrder'" header="{{ 'ADMIN.StartOrder' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm" type="number" [(ngModel)]="item.StartOrder">
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'EndOrder'" header="{{ 'ADMIN.EndOrder' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm" type="number" [(ngModel)]="item.EndOrder">
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Quantity'" header="{{ 'ADMIN.Quantity' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm" type="number" [(ngModel)]="item.Quantity" (ngModelChange)="claculateEveryMonthItemPrice()">
          </ng-template>
        </data-table-column>
        <data-table-column [property]="''" header="{{ 'ADMIN.Copy' | translate }}" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-primary btn-icon-min" (click)="copyEveryMonthItem(item)">
              <span class="icon-copy"></span>
            </button>

          </ng-template>
        </data-table-column>
        <data-table-column [property]="''" header="" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-danger btn-icon-min" title="{{ 'ADMIN.Delete' | translate }}" (click)="deleteEveryMonthItem(item)">
              <span class="icon-cancel"></span>
            </button>
          </ng-template>
        </data-table-column>
      </us-data-table>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-startUpItems" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="d-flex mt-2 ml-2">
      <button class="btn btn-primary" type="button" (click)="openMonthlyServiceModal(monthlyServiceModal,'ITEM',false)">{{ 'ADMIN.AddS' | translate }}</button>
    </div>
    <div class="border m-2">

      <us-data-table class="contract-tem-tab-table" id="" [pagination]="false" [items]="startUpItems" [itemCount]="startUpItemCount"
        >
        <data-table-column [property]="''" header="" [sortable]="true" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="item.isSelected" [checked]="item.isSelected">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span>
            </label>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'ArticleNo'" header="{{ 'ADMIN.ArticleNo' | translate }}" [width]="120">
        </data-table-column>
        <data-table-column [property]="'ItemName'" header="{{ 'ADMIN.DescriptionText' | translate }}">
        </data-table-column>
        <data-table-column [property]="'Price'" header="{{ 'ADMIN.Price' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm text-right" type="number" [(ngModel)]="item.Price" [(ngModel)]="item.Price" (ngModelChange)="calculateStartUpItemPrice()" >
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Quantity'" header="{{ 'ADMIN.Quantity' | translate }}">
          <ng-template #dataTableCell let-item="item">
            <input class="form-control form-control-sm" type="number" [(ngModel)]="item.Quantity" (ngModelChange)="calculateStartUpItemPrice()">
          </ng-template>
        </data-table-column>
      </us-data-table>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="content-scroller mt-2">
      <form [formGroup]="TempSettingsForm" #TempSettingsfrm>
        <div class="d-flex">
          <div class="col-2">
            <div class="form-group">
              <label>{{ 'ADMIN.NoOfOrders' | translate }}</label>
              <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['NumOfInstallments']" [(ngModel)]="_numberOfOrders" (ngModelChange)="SetStartEndOrders()"  >
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.MemberFee' | translate }}</label>
              <div class="input-group">
                <input type="text" class="form-control w-75" [(ngModel)]="selectedTemplate.MemberFeeArticle.ItemName" [ngModelOptions]="{standalone: true}">
                <button class="btn btn-primary w-25" type="button" (click)="openMonthlyServiceModal(monthlyServiceModal,'ITEM',true)">{{ 'ADMIN.Select' | translate }}</button>
              </div>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateTxbServicePrice' | translate }}</label>
              <input class="form-control" type="text" [formControl]="TempSettingsForm.controls['EveryMonthItemsPrice']" hidden>
              <label class="form-control">{{everyMonthItemsPrice}}</label>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.startUpItemPrice' | translate }}</label>
              <input class="form-control" type="text" [formControl]="TempSettingsForm.controls['StartUpItemPrice']" hidden>
              <label class="form-control">{{startUpItemPrice}}</label>

            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.MngTemplatesHeaderTotalPrice' | translate }}</label>
              <input class="form-control" type="text" [formControl]="TempSettingsForm.controls['PackagePrice']" hidden>
              <label class="form-control">{{packagePrice}}</label>
            </div>
          </div>
          <div class="col-2">
            <div *ngIf="contType=='PUNCHCARD'?true:false">
              <div class="form-group">
                <label>Number of Visits</label>
                <input class="form-control" type="text" [formControl]="TempSettingsForm.controls['NumOfVisits']">
              </div>
            </div>


            <div class="form-group">
              <label>{{ 'ADMIN.MngTemplatesHeaderNoOfMonths' | translate }}</label>
              <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['NoOfMonths']">
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.NumberOfDays' | translate }}</label>
              <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['NoOfDays']">
            </div>
            <div *ngIf="contType=='CONTRACT'?true:false">
              <div class="form-group">
                <label>{{ 'ADMIN.lockInPeriod' | translate }}</label>
                <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['LockInPeriod']">
              </div>

              <div class="form-group">
                <label>{{ 'ADMIN.AddNewTemplateTxbPriceGuranty' | translate }}</label>
                <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['PriceGuaranty']">
              </div>

              <div class="form-group">
                <label>{{ 'ADMIN.MaximumAge' | translate }}</label>
                <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['MaxAge']">
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>{{ 'ADMIN.creditDueDays' | translate }}</label>
              <input class="form-control" type="number" [formControl]="TempSettingsForm.controls['CreditDueDays']">
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateTxbFirstDueDate' | translate }}</label>
              <us-date-picker #FirstDueDate class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="TempSettingsForm.controls['FirstDueDate']">
              </us-date-picker>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateTxbSecondDueDate' | translate }}</label>
              <us-date-picker #SecondDueDate class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="TempSettingsForm.controls['SecondDueDate']">
              </us-date-picker>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateFixStartDateOfContract' | translate }}</label>
              <us-date-picker #StartDateContract class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="TempSettingsForm.controls['FixStartDateOfContract']">
              </us-date-picker>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateFixEndDateOfContract' | translate }}</label>
              <us-date-picker #EndDateContract class="w-100" [locale]="'COMMON.Locale'| translate" [formControl]="TempSettingsForm.controls['FixDateOfContract']">
              </us-date-picker>
            </div>
            <div *ngIf="contType=='CONTRACT'?true:false">
              <div class="form-group">
                <label>{{ 'ADMIN.AddNewTemplateTxbNextTemplate' | translate }}</label>
                <div class="input-group">
                  <input type="text" class="form-control w-75" [(ngModel)]="this.selectedTemplate.NextContractTemplateName" [ngModelOptions]="{standalone: true}">
                  <button class="btn btn-primary w-25" type="button" (click)="openNextTemplateeModal(nextTemplateModal)">{{ 'ADMIN.Select' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.ContractConditions' | translate}}</label>
              <div class="input-group">
                <input type="text" class="form-control w-75" [(ngModel)]="this.selectedTemplate.ContractCondition" [ngModelOptions]="{standalone: true}">
                <button class="btn btn-primary w-25" type="button" (click)="openContractConditionModal(contractConditionModal)">{{ 'ADMIN.Select' | translate }}</button>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-access" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="content-scroller mt-2">
      <form [formGroup]="AvailableAccessForm" #AvailableAccessFrm>
        <div class="d-flex">
          <div class="col-2">
            <div class="form-group">
              <label>&nbsp;</label>
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [formControl]="AvailableAccessForm.controls['IsInStock']" [checked]="selectedItem?.IsInStock">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.Instock' | translate}}</span>
              </label>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateTxbNoInStock' | translate }}</label>
              <input class="form-control" type="number" [formControl]="AvailableAccessForm.controls['InStock']">
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.ManageGymSettingsAccessProfileBtn' | translate }}<strong class="text-danger">*</strong></label>
              <select class="custom-select w-100" [formControl]="AvailableAccessForm.controls['AccessProfileId']">
                <option *ngFor="let aProf of accesProfiles" [value]="aProf.Id">{{aProf.AccessProfileName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>&nbsp;</label>
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [formControl]="AvailableAccessForm.controls['IsNoClasses']" [checked]="selectedItem?.IsNoClasses">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbNoClasses' | translate}}</span>
              </label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>{{ 'ADMIN.AddNewTemplateTxbGymAvailable' | translate }}</label>
              <div class="input-group">
                <label class="form-control w-25">{{selectedTemplate.BranchIdList.length}}</label>
                <button class="btn btn-primary" type="button" (click)="branchesPop.open();regionsPop?.close();countriesPop?.close()" container="body"
                  placement="right" [usPopover]="BranchesListPop" popoverWidth="350" #branchesPop="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.RegionAvailable' | translate }}</label>
              <div class="input-group">
                <label class="form-control w-25">{{selectedTemplate.RegionIdList.length}}</label>
                <button class="btn btn-primary" type="button" (click)="regionsPop.open();countriesPop?.close();branchesPop?.close()" container="body"
                  placement="right" [usPopover]="RegionListPop" popoverWidth="350" #regionsPop="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.CountryAvailable' | translate }}</label>
              <div class="input-group">
                <label class="form-control w-25">{{selectedTemplate.CountryIdList.length}}</label>
                <button class="btn btn-primary" type="button" (click)="countriesPop.open();regionsPop?.close();branchesPop?.close()" container="body"
                  placement="right" [usPopover]="CountryListPop" popoverWidth="350" #countriesPop="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
              </div>
            </div>
            <div class="form-group">
              <label>&nbsp;</label>
              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [formControl]="AvailableAccessForm.controls['ExpressAvailable']" [checked]="selectedItem?.ExpressAvailable">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.AddNewTemplateCbExpressAvailable' | translate}}</span>
              </label>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

  <div class="d-flex">
    <div class="input-group mb-2">
      <us-icon-button class="mr-2 ml-2" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="validateUserForm(BasicInfoForm.value,TempSettingsForm.value,AvailableAccessForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="closeModal()"></us-icon-button>
    </div>
  </div>

</div>

<ng-template #monthlyServiceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title" *ngIf="!isMemberFee&&articleType=='ITEM'">{{ 'ADMIN.SelectStartupItems'|translate}}</span>
    <span class="modal-title" *ngIf="!isMemberFee&&articleType=='SERVICE'">{{ 'ADMIN.SelectEveryMonthItems'|translate}}</span>
    <span class="modal-title" *ngIf="isMemberFee">{{ 'ADMIN.SelectMemberFeeArticle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <contract-item-select (onClickOk)="selectItems($event)" [articleType]="articleType" [isMemberFee]="isMemberFee" (canceled)="closeMonthlyServiceModel()"></contract-item-select>
  </div>
</ng-template>

<ng-template #nextTemplateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.TemplateSelectionTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-start mb-1">
      <input type="text" class="mr-2 form-control col-3" placeholder="Number" #templateNumberValue (change)="filterTemplates(templateNumberValue.value,templateNameValue.value)">
      <input type="text" class="form-control col-3" placeholder="Name" #templateNameValue (change)="filterTemplates(templateNumberValue.value,templateNameValue.value)">
    </div>

    <div class="template-select-table">
      <us-data-table id="" [pagination]="false" [items]="contractItems" [itemCount]="contractCount" (rowDoubleClick)="nextTemplateSelect($event)"
        >
        <data-table-column [property]="'TemplateNumber'" header="{{ 'ADMIN.ContractNo' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'PackageName'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'EndDate'" header="{{ 'ADMIN.EndDate' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'NumOfVisits'" header="{{ 'ADMIN.MngTemplatesHeaderPunches' | translate }}" [sortable]="true"
          [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'NumOfInstallments'" header="{{ 'ADMIN.NoOfOrders' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'NoOfMonths'" header="{{ 'ADMIN.MngTemplatesHeaderNoOfMonths' | translate }}" [sortable]="true"
          [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'ServicePrice'" [alignment]="'right'" header="{{ 'ADMIN.MngTemplatesHeaderMonthlyServicePrice' | translate }}"
          [sortable]="true" [resizable]="true">
          <span>{{item.ServicePrice | amountConverter:locale}}
            </span>
        </data-table-column>
        <data-table-column [property]="'PackagePrice'" [alignment]="'right'" header="{{ 'ADMIN.MngTemplatesHeaderTotalPrice' | translate }}"
          [sortable]="true" [resizable]="true">
          <span>{{item.PackagePrice | amountConverter:locale}}
            </span>
        </data-table-column>
      </us-data-table>
    </div>

  </div>
  <div class="modal-footer pt-0">
    <us-icon-button (click)="d('Cross click')" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate"></us-icon-button>
  </div>


</ng-template>

<ng-template #contractConditionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.SelectContractCondition' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <div class="contract-condition-table">
      <us-data-table id="" [pagination]="false" [items]="conditionItems" [itemCount]="conditionCount" (rowDoubleClick)="conditionSelect($event)"
        >
        <data-table-column [property]="'Id'" header="{{ 'ADMIN.NO' | translate }}" [sortable]="true" [width]="80">
        </data-table-column>
        <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
      </us-data-table>
    </div>
  </div>

  <div class="modal-footer pt-0">
    <us-icon-button (click)="d('Cross click')" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate"></us-icon-button>
  </div>
</ng-template>

<ng-template #excludingCategoriesGroup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.TemplateSelectionTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body body">
    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="activityCats"
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableColResize]="false"
    [enableFilter]="true"
    [floatingFilter]="true"
    [suppressNoRowsOverlay]="true"
    [rowSelection]="single"

    (gridReady)="onGridReady($event)"
    (cellClicked)="changeActivity($event)"
    > </ag-grid-angular>

    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="articles"
    [columnDefs]="columnArticles"
    [enableSorting]="true"
    [enableColResize]="false"
    [enableFilter]="true"
    [floatingFilter]="true"
    [suppressNoRowsOverlay]="true"
    [rowSelection]="single"

    (gridReady)="onGridReady($event)"
    (cellClicked)="changeSelectedArticle($event)"
    >  </ag-grid-angular>
  </div>
  <!-- <div class="d-flex no-gutters">
    <div class="col mr-2 mt-2 ml-2 border">
      <form>
        <li style="list-style-type: none" *ngFor="let activity of activityCats" (click)="getArticles(activity.Id);changeActivity(activity.Id)">
            <label class="custom-control custom-radio mb-0">
                <input id="radioPop" name="radioPop" type="radio" class="custom-control-input mx-2" [value]="activity.Id" [checked]="selectedItem?selectedItem.ActivityId==activity.Id?true:false:false"
                  (change)="getArticles(activity.Id);changeActivity(activity.Id)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{activity.Name}}</span>
            </label>
        </li>
      </form>
    </div>
    <div class="col border">
      <form>
        <li style="list-style-type: none" *ngFor="let article of articles">
          <label class="custom-control custom-radio mb-0">
            <input id="radioPop" name="radioPop" type="radio" class="custom-control-input mx-2" [value]="article.Id" [checked]="selectedItem?selectedItem.ArticleId==article.Id?true:false:false"
              (change)="changeSelectedArticle(article.Id)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{article.Description}}</span>
          </label>
        </li>
      </form>
    </div>
  </div> -->

  <div class="modal-footer pt-0">
      <us-icon-button class="mr-2" [isDisabled]="okDisabled" [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="activityArticleSelect();d('Cross click')"></us-icon-button>
    </div>
</ng-template>


<ng-template #BranchesListPop>
  <div class="popover-content-scroll" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1" *ngFor="let branch of branches">
        <label class="custom-control custom-checkbox mb-0">
          <input id="checkBranch" type="checkbox" class="custom-control-input mx-2" [value]="branch.Id" [checked]=" selectedTemplate.BranchIdList.includes(+branch.Id)"
            (change)="addBranch($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{branch.BranchName}}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="branchesPop?.close()"></us-icon-button>
  </div>
</ng-template>

<ng-template #CountryListPop>
  <div class="popover-content-scroll" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1" *ngFor="let country of countries">
        <label class="custom-control custom-checkbox mb-0">
          <input id="checkCountry" type="checkbox" class="custom-control-input mx-2" [value]="country.Id" [checked]="selectedTemplate.CountryIdList.includes(country.Id.toString())"
            (change)="addCountry($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{country.Name}}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="countriesPop?.close()"></us-icon-button>
  </div>
</ng-template>

<ng-template #RegionListPop>
  <div class="popover-content-scroll" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1" *ngFor="let region of regions">
        <label class="custom-control custom-checkbox mb-0">
          <input id="checkRegion" type="checkbox" class="custom-control-input mx-2" [value]="region.Id" [checked]="selectedTemplate.RegionIdList.includes(region.Id)"
            (change)="addRegion($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{region.Name}}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-end">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate " (click)="regionsPop?.close()"></us-icon-button>
  </div>
</ng-template>
