:host .content-scroller {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 226px);
    width: 100%;
    margin-bottom: 10px;
    .col-2 {
        min-width: 280px
    }
}

%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .contract-tem-tab-table {
    .table-default {
        height: calc(100vh - 261px);
        @extend %table-header-fixed-scroller;
    }
}

.template-select-table {
     ::ng-deep .data-table {
        height: calc(100vh - 228px);
        @extend %table-header-fixed-scroller;
    }
}

.contract-condition-table {
     ::ng-deep .data-table {
        height: 300px;
        @extend %table-header-fixed-scroller;
    }
}

.popover-content-scroll {
    height: 240px;
    width: 324px;
}

.grid {
  height: 400px;
  width: 50%;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.activ {
  display: flex;
  flex-direction: column;
}
