%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host .scroll-content {
  display: block;
  overflow: auto;
  height: calc(100vh - 200px);
  width: 100%;
  margin-bottom: 10px;
}

:host /deep/ .table-default {
    height: 115px;
    @extend %table-header-fixed-scroller;
}

::ng-deep .popover-table {
    height: 216px;
    @extend %table-header-fixed-scroller;
}

::ng-deep .atgbranch-table{
  height: 320px;
  @extend %table-header-fixed-scroller;
}

.indicateHyperlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
