<div class="form-inline w-100">
    <input type="text" class="form-control col-2 mr-1" placeholder="Resource"  #resourceVal (keyup)="filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp)"/>

    <input type="text" class="form-control col-2 mr-1" placeholder="Day"  #dayVal (keyup)="filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp)"/>

    <us-date-picker style="width: 150px;" #fromDate (dateChanged)="filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp,$event)" [locale]="'ADMIN.Locale'| translate">
      </us-date-picker>

  <select class="custom-select col-2 ml-1" #branchSelect (change)="filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp)">
      <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
    </select>

  <label class="ml-2">{{'ADMIN.Approved' | translate}}</label>

  <button class="btn btn-success ml-1"   *ngIf="isThumbsUp" (click)="isThumbsUp=!isThumbsUp;filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp)"><span class="icon-thumbs-up"></span></button>
  <button class="btn btn-primary ml-1"  *ngIf="!isThumbsUp"  (click)="isThumbsUp=!isThumbsUp;filterInput(resourceVal.value,dayVal.value,branchSelect.value,isThumbsUp)" ><span class="icon-thumbs-down"  ></span></button>

  <button class="btn btn-primary ml-1" (click)="isThumbsUp=false;getWorkItems()"><span class="icon-reload" title="{{ 'ADMIN.Reload' | translate }}"></span></button> 
  <div class="ml-auto">
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.addWork' | translate " (click)="openAddWorkView(addNewTimeView)"></us-icon-button>
  </div>
</div>

<div class="mt-1">
  <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount" 
    [rowTooltip]="rowTooltip">
    <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.FromTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.StartTime | date:'HH:mm'}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.ToTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.EndTime | date:'HH:mm'}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'Resource'" header="{{ 'ADMIN.ResourceInfo' | translate }}" [sortable]="ResourceInfo" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">

              <button class="btn btn-success btn-icon-min"   *ngIf="item.IsApproved" (click)="item.IsApproved=!item.IsApproved; AdminApproveEmployeeWork(item)"><span class="icon-thumbs-up"></span></button>
              <button class="btn btn-primary btn-icon-min"  *ngIf="!item.IsApproved"  (click)="item.IsApproved=!item.IsApproved; AdminApproveEmployeeWork(item)" ><span class="icon-thumbs-down"  ></span></button>
         
          </ng-template>
      </data-table-column>
  </us-data-table>
</div>



<ng-template #addNewTimeView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.addWork' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="resourceForm" #resourceFrm>
      <div class="d-flex no-gutters">
        <div class="col mr-2">
          <div class="input-group">
            <input class="form-control" type="text" formControlName="resource" value="{{selectedResource?.Name}}" us-error [errorMsg]="formErrors.resource"
              [displayError]="formSubmited && !resourceForm.get('resource').valid">
            <button class="btn btn-primary" type="button" (click)="openEntitySelectionView(resourceSelection)">{{ 'ADMIN.Select' | translate }}</button>
          </div>
        </div>
        <div class="col-4" >
          <us-date-picker #resDate (dateChanged)="resDateChanged($event)" [locale]="'ADMIN.Locale'| translate"
            formControlName="StartDate" us-error [errorMsg]="formErrors.StartDate" [displayError]="formSubmited && !resourceForm.get('StartDate').valid">
          </us-date-picker>
        
        </div>
      </div>
    </form>
    <div class="d-flex my-2">
      <us-data-table class="new-class-select-table" [pagination]="false" [items]="scheduleItems" [itemCount]="scheduleItemCount">
        <data-table-column [property]="''" header="">
          <ng-template #dataTableCell let-item="item">
            <label class="custom-control custom-radio">
              <input id="radioDate" name="radioD" type="radio" class="custom-control-input" [checked]="item.isSelected" [value]="true"
                (change)="$event.target.value?item.isSelected=true:item.isSelected=false">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ item.Day }}</span>
            </label>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'StartTime'" header="" >
          <ng-template #dataTableCell let-item="item">
            <span>{{item.StartTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="''" header="" >
          <ng-template #dataTableCell let-item="item">
            <span>{{item.EndTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="''" header="" >
          <ng-template #dataTableCell let-item="item">
            <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="''" header="" >
          <ng-template #dataTableCell let-item="item">
            <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'EmpName'" header="" >
        </data-table-column>
      </us-data-table>
    </div>

    
  </div>
  <div class="modal-footer pt-0">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="submitForm(resourceForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeModal()"></us-icon-button>
  </div>
</ng-template>


<ng-template #resourceSelection let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span class="modal-title">{{'ADMIN.ResourcesSelectionTitle' | translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDetail($event)" (selectedItem)="selectResource($event)" (closeViewEvent)="c()"
      [showOkButton]="false" [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
      [itemcount]="entityItemCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false">

    </exce-entityselection>
  </div>

</ng-template>