
  <div class="d-flex justify-content-start w-100 no-gutters mx-1">

    <div class="col-2 mr-2">
      <label>{{'ECONOMY.From' | translate}}</label>
      <us-date-picker class="w-100" formControlName="EndDate" #endDate [locale]="'ECONOMY.Locale'| translate"
        placeholder="M/dd/yyyy" container="body">
      </us-date-picker>
    </div>
    <div class="col-2 mr-2">
      <label>{{'ECONOMY.To' | translate}}</label>
      <us-date-picker class="w-100" formControlName="EndDate" #endDate [locale]="'ECONOMY.Locale'| translate"
        placeholder="M/dd/yyyy" container="body">
      </us-date-picker>
    </div>
    <div class="col-2 mr-2">
      <label>{{'ECONOMY.Gym' | translate}}</label>
      <select class="custom-select w-100 cursor-hand">
        <option selected value="">All</option>
      </select>
    </div>
    <div class="col-2 mr-2">
      <label>{{'ECONOMY.Employee' | translate}}</label>
      <select class="custom-select w-100 cursor-hand">
        <option selected value="">All</option>
      </select>
    </div>
    <div class="col-2">
      <label>{{'ECONOMY.Category' | translate}}</label>
      <div class="input-group">
        <select class="custom-select mr-2 w-75 cursor-hand">
          <option selected value="">All</option>
        </select>
        <us-icon-button class="w-25" [iconClass]="'icon-generate'" [labelText]="'ECONOMY.Generate' | translate "></us-icon-button>
      </div>
    </div>
  </div>


<div class="d-flex px-1 mt-1">
  <us-data-table id="" [pagination]="false" >
    <data-table-column header="{{ 'ECONOMY.Date' | translate }}" >
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.FileName' | translate }}">
    </data-table-column>
    <data-table-column [width]="40">
      <ng-template>
        <button class="btn btn-primary btn-icon-min" title="Download">
          <span class="icon-download"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table>
</div>
