<div class="d-flex justify-content-start px-1">

  <div class="col-2 p-0 mr-2 ">
    <div class="input-group">
      <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="resourceSearch()"
        (selectEvent)="onSelect($event)"> </us-autocomplete>
      <div class="input-group-btn">
        <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closeSearch()">
          <span class="icon-close"></span>
        </button>
        <button class="btn btn-primary btn-icon" type="button" (click)="resourceSearch()">
          <span class="icon-search"></span>
        </button>
      </div>
    </div>
  </div>

  <input type="text" class="form-control col-1 mr-2" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value)" placeholder="{{ 'ADMIN.EmployeeNameC' | translate }}"
  />

  <select class="custom-select mr-2 col-1" #CategoryPipeFilter (change)="filterInputByCategory(CategoryPipeFilter.value)">
    <option value="ALL">{{'ADMIN.ALL'| translate}}</option>
    <option *ngFor="let cat of categoryTypes" [value]="cat.Id">{{ cat.Name }}</option>
  </select>

  <select class="custom-select mr-2 col-1" #ActivityPipeFilter (change)="filterInputByActivity(ActivityPipeFilter.value)">
    <option selected value="ALL">{{'ADMIN.ALL'| translate}}</option>
    <option *ngFor="let act of activityTypes" [value]="act.Id">{{ act.Name }}</option>
  </select>

  <label class="custom-control custom-checkbox checkbox-inline">
    <input type="checkbox" class="custom-control-input" (change)="changeEquipmentStatus($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.EQUIPMENT' | translate }}</span>
  </label>

  <div class="ml-auto d-flex">
    <us-icon-button class="mr-1" [iconClass]="'icon-calendar-month'" [labelText]="'ADMIN.EmHomeCalender' | translate " (click)="goToResourceBooking()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.ResourceNewResource' | translate " (click)="openNewResource(newResourceView)"></us-icon-button>
  </div>

</div>

<div class="d-flex justify-content-start px-1 mt-2">

  <label class="custom-control custom-radio">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="true" [checked]="activeStatus==true?true:false"
      (change)="changeActiveStatus($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.Active' | translate }}</span>
  </label>

  <label class="custom-control custom-radio ">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="false" [checked]="activeStatus==false?true:false"
      (change)="changeActiveStatus($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.InactiveC' | translate }}</span>
  </label>

</div>


<!-- *********************************************************************************************************** -->

<div class="d-flex justify-content-start px-1 mt-1">

  <us-data-table [items]="resourcesList" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClick($event)" [pagination]="true">

    <!-- <data-table-column [property]="" header="" [width]="50">
      <ng-template #dataTableCell let-item="item">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"></span>
        </label>
      </ng-template>
    </data-table-column> -->

    <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'Category'" header="{{ 'ADMIN.ResourceHomeCategory' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ResourceCategory.Name}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'ActivityName'" header="{{ 'ADMIN.ActivityS' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'EquipmentText'" header="{{ 'ADMIN.EQUIPMENT' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="''" header="{{ 'ADMIN.Employees' | translate }}">
      <ng-template #dataTableCell let-item="item">
        <div class="form-group m-0 ">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">{{item.EmpCount}}</span>
            <div *ngIf="item.IsHasEmp">
              <button class="btn btn-primary btn-sm w-100" type="button" (click)="viewLoad(item,aProfilePopOver)" container="body" placement="bottom"
                [usPopover]="employeeList" popoverWidth="350" popoverHeight="130" #aProfilePopOver="usPopover" triggers="manual">{{'ADMIN.View' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-template>
    </data-table-column>
  </us-data-table>

</div>

<!-- ********************************************************************************************************************* -->

<ng-template #employeeList let-c="close" let-d="dismiss">
  <div class="d-flex justify-content-end">
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="popover-scroller" *ngFor="let emp of empList" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-1" *ngFor="let key of objectKeys(emp)">{{emp[key]}}</li>
    </ul>
  </div>
</ng-template>

<!-- *********************************************************************************************************************** -->

<ng-template #newResourceView let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.AddResource' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <form [formGroup]="NewResourceForm">
    <div class="modal-body">
      <div class="d-flex">
        <div class="col-4 pl-0">

          <div class="form-group">
            <label>{{'ADMIN.Name' | translate}}
              <strong class="text-danger">*</strong>
            </label>
            <input type="text" class="form-control" formControlName='Name' us-error [errorMsg]="formErrors.Name" [displayError]="myFormSubmited && !NewResourceForm.get('Name').valid"
              placement="right">
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Description' | translate}}</label>
            <textarea class="form-control" formControlName='Description' rows="2"></textarea>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Category' | translate}}
              <strong class="text-danger">*</strong>
            </label>

            <select class="custom-select w-100" formControlName='ResourceCategory' us-error [errorMsg]="formErrors.ResourceCategory"
              [displayError]="myFormSubmited && !NewResourceForm.get('ResourceCategory').valid" placement="right">

              <option *ngFor="let cat of categoryTypes" [ngValue]="cat">{{ cat.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" formControlName='IsEquipment' (change)="equipmentChange($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.EQUIPMENT' | translate }}</span>
            </label>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.TimeCategory' | translate}}
            </label>
            <select class="custom-select w-100" formControlName='TimeCategory'>
              <option *ngFor="let tc of timeCategory" [ngValue]="tc">{{ tc.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" formControlName='IsSalaryPerBooking'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.SalaryPerBooking' | translate }}</span>
            </label>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Activity' | translate}}</label>

            <select class="custom-select w-100" formControlName='ActivityId' #activitySelect (change)="selectedActivity=activitySelect.value"
              us-error [errorMsg]="formErrors.ActivityId" [displayError]="!NewResourceForm.get('ActivityId').valid" placement="right"
              container="view">
              <option *ngFor="let act of activityTypes" [value]="act.Id">{{ act.Name }}</option>
            </select>

          </div>

        </div>

        <div class="col pr-0">

          <div class="form-group w-50">
            <label>{{ 'ADMIN.ResourcePurchasedDate' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="w-100" #fromDate [locale]="'COMMON.Locale'| translate" formControlName='PurchasedDate' [options]="fromDatePickerOptions"
                (dateChanged)="fromDateChange($event, toDate)"> </us-date-picker>
            </div>
          </div>

          <div class="form-group w-50">
            <label>{{ 'ADMIN.ResourceHomeServiceDate' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="w-100" #toDate [locale]="'COMMON.Locale'| translate" formControlName='MaintenanceDate' [options]="toDatePickerOptions">
              </us-date-picker>
            </div>
          </div>

          <div class="d-flex">
            <label>{{ 'ADMIN.EMPLOYEESNAME' | translate }}</label>
            <div class="ml-auto">
              <button class="btn btn-primary" type="button" (click)="employeeSelectionModal(entitySelectionTemplate)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

          <div class="bg-white mt-1 mb-2 p-1 border content-scroll-table">
            <table class="table table-sm">
              <tbody>
                <tr *ngFor="let empl of employeesList">
                  <td>{{ empl.Name }}</td>
                  <td>
                    <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' |translate}}" (click)="removeEmployee(empl)">
                      <span class="icon-cancel"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.article' | translate }}</label>
            <div class="input-group">
              <input class="form-control" type="text" formControlName='ArticleName' [(ngModel)]="selectedArticle">
              <button class="btn btn-primary" type="button" (click)="articleSelectionModal(articleSelection)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" formControlName='ActiveStatus'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.ActiveC' | translate }}</span>
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveResource(NewResourceForm.value)">
      </us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
    </div>

  </form>

</ng-template>


<!-- ******************************************************************************************************************* -->

<ng-template #entitySelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.SelectEmployee' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchEmployee($event)" (selectedItem)="selectedEmployee($event)" (selectedItems)="selectedRowItems($event)"
      [multipleSelect]="false" [itemList]="items" [auotocompleteItems]="auotocompleteItemsForEmpSelection" [columns]="columns"
      [itemcount]="itemCount" [defaultRole]="defaultRole" [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isDisabledRole]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeEmployeeSelectionView()">
    </exce-entityselection>

  </div>

</ng-template>


<!-- ********************************************************************************************************************* -->

<ng-template #articleSelection let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.ArticleSelectionC' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <div class="d-flex justify-content-start no-gutters my-1">

      <us-data-table [pagination]="false" [items]="articles" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClickSelectArticle($event)">

        <data-table-column [property]="'ArticleNo'" [header]="'ADMIN.Number' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Description'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>

      </us-data-table>

    </div>

  </div>
</ng-template>
