<div class="d-flex no-gutters justify-content-start">

    <div class="col-3 mr-2 ">
      <form [formGroup]="searchTypeForm" (keydown.enter)="$event.preventDefault()">
        <label>&nbsp;</label>
        <div class="input-group">
          <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="articleSearch(searchTypeForm.value)"
            (selectEvent)="onSelect($event,searchTypeForm.value)"> </us-autocomplete>
          <div class="input-group-btn">
            <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closedSearch()">
              <span class="icon-close"></span>
            </button>
            <button class="btn btn-primary btn-icon" type="button" (click)="articleSearch(searchTypeForm.value)">
              <span class="icon-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  
  <div class="col-2 mr-2">
    <label>{{ 'ADMIN.Type' | translate }}</label>
    <select class="custom-select w-100" #categoryTypeSelect (change)="filterInput(categoryTypeSelect.value,categorySelect.value)">
      <option [value]="articleType">{{articleType}}</option>
    </select>
  </div>
  <div class="col-2 mr-2">
    <label>{{ 'ADMIN.Category' | translate }}</label>
    <select class="custom-select w-100" #categorySelect (change)="filterInput(categoryTypeSelect.value,categorySelect.value)">
      <option selected [value]="">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let catgory of categories" [value]="catgory.Id">{{catgory.Name}}</option>
    </select>
  </div>
</div>
<div class="d-flex my-2">
  <us-data-table [pagination]="false" [items]="items" [itemCount]="itemCount">
    <data-table-column [property]="''" header="" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="item.isSelected" [checked]="item.isSelected">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"></span>
        </label>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ArticleNo'" header="{{ 'ADMIN.ArticleNo' | translate }}" [sortable]="true" [width]="120">
    </data-table-column>
    <data-table-column [property]="'ItemName'" header="{{ 'ADMIN.Description' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'UnitPrice'" header="{{ 'ADMIN.Price' | translate }}" [sortable]="true" [alignment]="'right'">
    </data-table-column>
    <data-table-column [property]="'Quantity'" header="{{ 'ADMIN.Quantity' | translate }}" [width]="100" >
      <ng-template #dataTableCell let-item="item">
        <input class="form-control form-control-sm" type="number" [(ngModel)]="item.Quantity">
      </ng-template>
    </data-table-column>
  </us-data-table>
</div>

<div class="d-flex">
  <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate" (click)="getSelectedItems()"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="canceledEvent()" ></us-icon-button>
</div>