<div class="d-flex">
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.SMCVNewMemContct' | translate " (click)="openNewMemberContract()"></us-icon-button>

</div>
<ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="_contractSummeries"
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="true"
        [floatingFilter]="true"
        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="selectContract($event)"
>
</ag-grid-angular>
<!-- <div class="mt-1">
    <us-data-table [rowColors]="getRowColors" [pagination]="false" #contractsList id="contracts" [items]="_contractSummeries"
        [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="selectContract($event.row.item)" [rowColors]="rowColors" >

        <data-table-column [property]=" 'ContractNo' " [header]=" 'MEMBERSHIP.ContractNo' | translate " [sortable]="true " [resizable]="true ">
        </data-table-column>
        <data-table-column [property]="'IsATG'" [header]=" 'MEMBERSHIP.SMCVAtg' | translate " [sortable]="true " [resizable]="true "
            [width]='100'>
            <ng-template #dataTableCell let-item="item">
                <span>{{(item.IsATG == true ? 'MEMBERSHIP.Yes' : 'MEMBERSHIP.No') | translate}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'TemplateName' " [header]=" 'MEMBERSHIP.SMCVTemplate' | translate " [sortable]="true " [resizable]="true ">
        </data-table-column>
        <data-table-column [property]=" 'ActivityName' " [header]=" 'MEMBERSHIP.Activity' | translate " [sortable]="true " [resizable]="true ">
        </data-table-column>
        <data-table-column [property]=" 'SignedDate'" [header]=" 'MEMBERSHIP.SMCVSignedDate' | translate " [sortable]="true " [resizable]="true "
            [width]='120'>
            <ng-template #dataTableCell let-item="item">
                <span>{{item.SignedDate | date:('COMMON.DateFormat'|translate)}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'EndDate' " [header]=" 'MEMBERSHIP.EndDate' | translate " [sortable]="true " [resizable]="true "
            [width]='120'>
            <ng-template #dataTableCell let-item="item">
                <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'RenewedDate' " [header]=" 'MEMBERSHIP.SMCVRenevedDate' | translate " [sortable]="true "
            [resizable]="true ">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.RenewedDate | date:('COMMON.DateFormat'|translate)}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'NoOfOrders' " [header]=" 'MEMBERSHIP.SMCVNoOfOrders' | translate " [sortable]="true " [resizable]="true ">
        </data-table-column>
        <data-table-column [property]=" 'IsGroup' " [header]=" 'MEMBERSHIP.GroupContract' | translate " [sortable]="true " [resizable]="true ">
            <ng-template #dataTableCell let-item="item">
                <span>{{(item.IsGroup == true ? 'MEMBERSHIP.Yes' : 'MEMBERSHIP.No') | translate}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'StartUpItemsPrice' " [header]=" 'MEMBERSHIP.SMCVStartUpItmsPrice' | translate " [sortable]="true "
            [resizable]="true " [alignment]="'right'">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.StartUpItemsPrice | amountConverter:locale}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'ServiceAmount' " [header]=" 'MEMBERSHIP.SMCVMonItmsPrice' | translate " [sortable]="true "
            [resizable]="true " [alignment]="'right'">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.ServiceAmount | amountConverter:locale}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'TotalPrice' " [header]=" 'MEMBERSHIP.TotalPrice' | translate " [sortable]="true " [resizable]="true "
            [alignment]="'right'">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.TotalPrice | amountConverter:locale}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column [property]=" 'GymName' " [header]=" 'MEMBERSHIP.Gym' | translate " [sortable]="true " [resizable]="true ">
        </data-table-column>
        <!-- <data-table-column>
            <ng-template #dataTableCell let-item="item">
                <svg *ngIf = "item.IsGroup" version="1.1" id="icon-GroupContract" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <path class="fill-primary" d="M16.7,7.5V0H7.4H7.3L5.4,1.9L3.5,3.7L1.7,5.6v0.2v0.6v1.9v5h3.8V24h16.9V7.5H16.7z M7.9,2v4.3H3.6L7.9,2z
        M3.5,11.3V8.2h4.4h1.9V1.9h5v9.4L3.5,11.3L3.5,11.3z M20.5,22.1H7.3v-1.5h6.2v-1.6H7.3v-1.7h6.2v-1.6H7.3v-2.6h9.4V9.4h3.8
       L20.5,22.1L20.5,22.1z" />
                </svg>
            </ng-template>
        </data-table-column> -->
        <!-- <data-table-column [property]="''" [width]="40">
          <ng-template #dataTableCell let-item="item">
              <button class="btn btn-primary btn-icon-min" (click)="selectContract(item)"
                  title="{{'MEMBERSHIP.Detail' | translate}}">
                  <span class="icon-detail"></span>
              </button>
          </ng-template>
      </data-table-column>
    </us-data-table>


</div> -->
