<div class="us-tp">
  <div class="input-group">
    <input #time type="text" disabled class="form-control" [(ngModel)]="value" [ngModelOptions]="{ standalone: true }" [value]="value" maxlength="5" (keydown.ArrowUp)="onKeyDownUp($event);"
      (keyup.ArrowUp)="onKeyUp($event);" (keydown.ArrowDown)="onKeyDownDown($event);" (keyup.ArrowDown)="onKeyUp($event);"
      (ngModelChange)="setCurser()" (blur)="onBlur()" [disabled]="isDisabled"/>
    <div class="btn-group-vertical">
      <button class="btn btn-light tp-btn" [disabled]="(!value)" (click)="onUpKeyPress($event,time)"> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12px" height="8px" viewBox="0 0 12 8" style="enable-background:new 0 0 12 8;" xml:space="preserve">
<path class="fill-primary" d="M1.3,5.4l4-4c0.4-0.4,1-0.4,1.4,0l4,4c0.4,0.4,0.4,1,0,1.4s-1,0.4-1.4,0L6,3.5L2.7,6.8c-0.4,0.4-1,0.4-1.4,0
C1.1,6.6,1,6.3,1,6.1S1.1,5.6,1.3,5.4z"/>
</svg></button>
      <button class="btn btn-light tp-btn" [disabled]="(!value)" (click)="onDownKeyPress($event,time)"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="12px" height="8px" viewBox="0 0 12 8" style="enable-background:new 0 0 12 8;" xml:space="preserve">
<path class="fill-primary" d="M10.7,2.5l-4,4c-0.4,0.4-1,0.4-1.4,0l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L6,4.4l3.3-3.3c0.4-0.4,1-0.4,1.4,0
C10.9,1.3,11,1.6,11,1.8S10.9,2.3,10.7,2.5z"/>
</svg></button>
    </div>

    <button class="btn btn-primary p-1" (click)="onTriggerClicked()" [disabled]="disableButton">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="18px" height="18px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
   <path fill="#fff" d="M9,1.2C4.7,1.2,1.2,4.7,1.2,9s3.5,7.8,7.8,7.8s7.8-3.5,7.8-7.8C16.8,4.7,13.3,1.2,9,1.2z M9,15.4c-3.5,0-6.4-2.9-6.4-6.4
     c0-3.5,2.9-6.4,6.4-6.4s6.4,2.9,6.4,6.4C15.4,12.5,12.5,15.4,9,15.4z M9.7,8.7V6c0-0.4-0.3-0.7-0.7-0.7S8.3,5.6,8.3,6v3
     c0,0.2,0.1,0.4,0.2,0.5L10,11c0.3,0.3,0.7,0.2,1,0c0.3-0.3,0.3-0.7,0-1L9.7,8.7z"/>
   </svg>
    </button>

  </div>


  <div class="tp-selector tp-selectorarrow tp-selectorarrowlef"  #options
    *ngIf="showSelector">

    <ul class="tp-list" (scroll)="onScroll($event)" >
      <li class="tp-item" (keydown.ArrowDown)="handleDownKeyEvent( $event, option )" #item{{idx}} id="item{{idx}}" (keydown.ArrowUp)="handleUpKeyEvent( $event, option )"
        *ngFor="let option of timeOptions; let idx = index" tabIndex="{{idx}}" [ngClass]="targetCls" (mousedown)="optionSelected(idx, option)"
        (keydown.Enter)="optionSelected(idx, option)" [style.height.px]="'25'">
        <span>{{option.hour}} : {{option.minute}}</span>
      </li>
    </ul>
  </div>


</div>
