:host /deep/ .off-canvas-panel{
top: 119px;
padding-top: 0px;
}

:host /deep/.scroll-content-nav{
  width: 100%;
   height: calc(100vh - 130px);

}

:host /deep/.btn-open-pannel
{
  position: absolute;
  right: 28px;
  top: 0px;
}

.mc-header{
  position: relative;
}