<div class="d-block member-card-header p-1 clearfix">
    <div class="mc-pic d-flex justify-content-center align-items-center" [ngStyle]="isleftPanelCollapsed ? {'height': '32px', 'width': '32px','left': '0px'} : {}">
        <img [src]="memberImage" [ngStyle]="isleftPanelCollapsed ? {'height': '30px', 'width': '30px'} : {}">
        <span class="edit-pic" *ngIf="!isleftPanelCollapsed">
            <button class="btn btn-primary btn-icon-min " *ngIf="_editMode" (click)="editImage(imageUploaderModal)">
                <span class="icon-edit"></span>
            </button>
        </span>
    </div>
    <div class="float-left">
        <span class="mc-title" [ngStyle]="isleftPanelCollapsed ? {'margin-left': '36px'} : {}">{{selectedMember?.CustId}} {{selectedMember?.Name}}</span>
    </div>
    <div class="float-right d-flex justify-content-start">
        <us-icon-button [iconClass]="'icon-notification'" [labelText]="'MEMBERSHIP.NotificationC' | translate " (click)="setCardState('MEMBEREVENTLOG')"></us-icon-button>
        <us-icon-button class="ml-1" [iconClass]="'icon-visit'" [labelText]="'MEMBERSHIP.Visits' | translate " (click)="setCardState('VISITS')"></us-icon-button>

    </div>
</div>
<div class="member-card">
    <div class="mc-left-pane align-self-stretch align-self-baseline" [ngStyle]="isleftPanelCollapsed ? {'max-width': '30px', 'min-width': '30px'} : {}">
        <span class="mc-binf-edit" *ngIf="!isleftPanelCollapsed">
            <button class="btn btn-primary btn-icon-min " (click)="editCustomer()" *ngIf="!_editMode">
                <span class="icon-edit"></span>
            </button>
        </span>
        <strong class="basic-info-title" *ngIf="!isleftPanelCollapsed">{{'MEMBERSHIP.BasicInfo' | translate}}</strong>
        <mc-basic-info *ngIf="!isleftPanelCollapsed"></mc-basic-info>
        <a class="p-1 btn-open-pannel cursor-hand" *ngIf="!_editMode" (click)="isleftPanelCollapsed = !isleftPanelCollapsed; _editMode = false"
            [ngStyle]="isleftPanelCollapsed ? {'right': '0px'} : {}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path class="fill-primary" d="M22.3,5.2c0-0.9-0.7-1.6-1.6-1.6H7.6C6.7,3.6,6,4.3,6,5.2s0.7,1.6,1.6,1.6h13.1C21.6,6.8,22.3,6.1,22.3,5.2z M6,18.8
               c0,0.9,0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-13C6.7,17.2,6,17.9,6,18.8z M1.9,12c0,0.9,0.7,1.6,1.6,1.6
               h17.2c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5C2.6,10.4,1.9,11.1,1.9,12z" />
            </svg>
        </a>

    </div>
    <div class="off-canvas-panel-ani mc-right-pane align-self-stretch align-self-baseline" id="mc-rightpane" style="margin-right: 200px">
        <div class="mc-header">
            <span class="ml-2">{{title | translate}}</span>

            <a class="p-1 float-right align-items-end cursor-hand" (click)="openNav()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <path class="fill-primary" d="M3.5,6.8h13.1c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6H3.5c-0.9,0-1.6,0.7-1.6,1.6S2.6,6.8,3.5,6.8z M16.5,17.2H3.5
	c-0.9,0-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6h13.1c0.9,0,1.6-0.7,1.6-1.6S17.5,17.2,16.5,17.2z M20.7,10.4H3.5c-0.9,0-1.6,0.7-1.6,1.6
	s0.7,1.6,1.6,1.6h17.2c0.9,0,1.6-0.7,1.6-1.6S21.6,10.4,20.7,10.4z" />
                </svg>
            </a>
        </div>

        <div class="p-1">
            <router-outlet></router-outlet>
        </div>
        <!--customer card right menu navigation Panel  -->
        <div id="mc-menu-slide" class="off-canvas-panel" style="width: 200px">
            <div class="scroll-content-nav" usScroll>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('INFOWITHNOTE')">{{'MEMBERSHIP.miwnInfoWithNotes' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('ECCONOMY')">{{'MEMBERSHIP.Economy' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERSPONSORING')">{{'MEMBERSHIP.Sponsoring' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERCONTRACTS')">{{'MEMBERSHIP.Contract' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('ORDERS')">{{'MEMBERSHIP.Orders' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('INVOICES')">{{'MEMBERSHIP.INVInvoices' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERPAYMENT')">{{'MEMBERSHIP.Payments' | translate}}</button>
                <!-- removing from menu for now. Ref. jira HT-150 - Martin.
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('FREEZE')">{{'MEMBERSHIP.Freeze' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('RESIGN')">{{'MEMBERSHIP.Resign' | translate}}</button> -->
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('SHOP')">{{'MEMBERSHIP.Shop' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('FOLLOWUP')">{{'MEMBERSHIP.Followup' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('INTERESTS')">{{'MEMBERSHIP.Interests' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('VISITS')">{{'MEMBERSHIP.Visits' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('COMMUNICATIONLOG')">{{'MEMBERSHIP.CommunicationLogTitle' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('INTRODUCEDMEMBERS')" *ngIf="isIntroducedBy">{{'MEMBERSHIP.IntroducedMembersTitle' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('DOCUMENTS')">{{'MEMBERSHIP.DocumentsTitle' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERXTRALOG')">{{'MEMBERSHIP.XtraLogTitle' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBEREVENTLOG')">{{'MEMBERSHIP.EventLogTitle' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERBOOKING')">{{'MEMBERSHIP.Booking' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('MEMBERCLASSES')">{{'MEMBERSHIP.Classes' | translate}}</button>
                <button class="btn btn-primary btn-block text-right m-0" (click)="setCardState('TRAINING')">{{'MEMBERSHIP.TrainingPrograms' | translate}}</button>
            </div>
        </div>
    </div>

</div>

<ng-template #imageUploaderModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">{{'MEMBERSHIP.UploadPhoto' | translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col" style="min-height: 280px;">
                <!--======Edit Member Basic Info Profile picture==========-->

                <div class="mc-basic-info text-center" style="min-width: 285px;" *ngIf="atDecition">
                    <button class="btn btn-primary w-50 mt-3" type="button" (click)="wantToUploadFile()">{{'MEMBERSHIP.UploadPhoto' | translate}}</button>
                    <p class="mt-2">{{'MEMBERSHIP.Fromyourcomputer' | translate}}</p>
                    <div class="divider"></div>
                    <button class="btn btn-primary w-50" type="button" (click)="wantToUseWebCam()">{{'MEMBERSHIP.TakeaPhoto' | translate}}</button>
                    <p class="mt-2">{{'MEMBERSHIP.WithYourwebcam' | translate}}</p>
                </div>

                <!-- ///////////////////////////////for the cropping seen///////////////////////////// -->

                <div *ngIf="useWebcam">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>
                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyCameraInput]="useWebcam" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>
                    <!-- <span class="result" *ngIf="data1.image">
                                      <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                                    </span> -->

                </div>

                <div *ngIf="useFileUpload">
                    <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

                    <div class="card">
                        <div class="card-body">
                            <us-crop-image [getOnlyFileInput]="useFileUpload" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
                        </div>
                    </div>
                    <!-- <span class="result" *ngIf="data1.image">
                      <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                    </span> -->
                </div>
                <!-- ////////////////////////////////////end of cropping seen/////////////////////////// -->

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <us-icon-button *ngIf="data1.image" [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Save' | translate "
            (click)="saveImage()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="d('Cross click')"></us-icon-button>

    </div>

</ng-template>

<ng-template #PopUp let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title pl-1">{{'COMMON.FollowUpMember'| translate }}</span>
  </div>
  <div class="modal-body">
    <div class="m-3">
      <div class="form-group">
        <label>{{'COMMON.Category'| translate }}</label>
        <input disabled type="text" class="form-control w-100" value="{{selectedPopUp.Name}}">
      </div>
    </div>
    <div class="m-3">
      <div class="form-group">
        <label>{{ 'COMMON.Description' | translate }}</label>
        <textarea disabled type="text" class="form-control w-100" value="{{selectedPopUp.Description}}"></textarea>
      </div>
      <!-- <div class="d-flex mx-3">
        <div class="d-flex align-items-center">
          <p class="m-0">{{selectedPopUp.Comment}}</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal-footer justify-content-center">

    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleOk" (click)="btnOkHandler()">{{'COMMON.Ok'| translate}}</button>

  </div>
</ng-template>
