%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
  }
  
  
  :host /deep/ .table-default {
    height: calc(100vh - 122px);
    @extend %table-header-fixed-scroller;
  }
  :host /deep/ .shop-dis-table {
      .table-default {
          height: calc(100vh - 158px);
          @extend %table-header-fixed-scroller;
      }
  }

  ::ng-deep .item-popover-scroller{
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.new-dis-sponsor-tb{
    ::ng-deep .table-default {
        height: 280px;
        @extend %table-header-fixed-scroller;
    } 
}

.select-item-tabel{
    ::ng-deep .table-default {
        height: 400px;
        @extend %table-header-fixed-scroller;
    } 
}