<div class="modal-header">
    <span class="modal-title">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectContract' | translate }}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn  data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
</div>

<div class="modal-body">
    <div class="d-flex mb-2 justify-content-start">
        <div class="mr-2">
            <input class="form-control" #numberFilterPipe  (keyup) = "filterTemplates(numberFilterPipe.value, nameFilterPipe.value,'NUMBER')" placeholder= "{{'MEMBERSHIP.Number' | translate}}" type="text">
        </div>
        <div>
            <input class="form-control" #nameFilterPipe (keyup) = "filterTemplates(numberFilterPipe.value, nameFilterPipe.value,'NAME')" placeholder="{{'MEMBERSHIP.Name | translate}" type="text">
        </div>
    </div>

    <div class="d-flex justify-content-start w-100">
        <us-data-table id="templates" [items]="_contractTemplates" >
            <data-table-column [property]="'TemplateNumber'" header="{{ 'MEMBERSHIP.Number' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'PackageName'" header="{{ 'MEMBERSHIP.Name' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'Category'" header="{{ 'MEMBERSHIP.Category' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'SalesTo'" header="{{ 'MEMBERSHIP.SalesTo' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'Punches'" header="{{ 'MEMBERSHIP.Punches' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'Orders'" header="{{ 'MEMBERSHIP.Orders' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'Months'" header="{{ 'MEMBERSHIP.Months' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'ItemPrice'" header="{{ 'MEMBERSHIP.StartupItemPrice' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
            <data-table-column [property]="'ServicePrice'" header="{{ 'MEMBERSHIP.MonthlyServicePrice' | translate }}" [sortable]="true" [resizable]="true">
            </data-table-column>
        </us-data-table>
    </div>
</div>

<div class="modal-footer">
    <div class="d-flex">
        <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'SAVE'"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'"  [labelText]="'Cancel'"></us-icon-button>
    </div>
</div>
