%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

.age{
  cursor: no-drop;
}

:host/deep/ .exce-validate-content {
    white-space: nowrap;
}

:host {
    ::ng-deep .nav-wizard-content {
        height: calc(100vh - 245px);
        overflow-x: auto;
    }
}

:host .introduce-mem-table {
    ::ng-deep .table-default {
        height: calc(100vh - 292px);
        @extend %table-header-fixed-scroller;
    }
}
.bris-mem-table {
    ::ng-deep .table-default {
        height: calc(100vh - 212px);
        @extend %table-header-fixed-scroller;
    }
}


:host add-follow-up {
    ::ng-deep .modal-body, ::ng-deep .modal-footer {
        padding: 0px;
    }
}

.prefix {
  width: 20%;
  text-align: center;
}

.mob {
  width: 80%;
  text-align: center;
}
