<strong>Data annonymization</strong>
<div class="row">
  <div class="col-6">
    <select class="custom-select mr-sm-2" #TypeSelect [(ngModel)]="selectedItem">
    <option *ngFor="let aType of annonymizingTypes" [ngValue]="aType" >
      {{aType.Name}}
    </option>      
  </select>
  </div>
  

</div>
<div class="col-3">
    <us-icon-button [iconClass]="'icon-cancel'" (click)="annonimize()" [labelText]="'Delete'"></us-icon-button>
    </div>