.custom-width {
    width: 12rem;
}

%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}


.fixed-col{
  .col-2{min-width: 250px;}
}

:host /deep/ .table-default {
    height: calc(100vh - 118px);
    @extend %table-header-fixed-scroller;
}

.table-tsk-category {
    height: calc(100vh - 458px);
    @extend %table-header-fixed-scroller;
}
