<access-control-type></access-control-type>

  <div class="gym-inti-set-content">
    <us-tab>
      <tab-content [tabTitle]="'ADMIN.GatIntegration' | translate">
          <div *ngIf="selectedTab === 0">
        <gat-integration></gat-integration>
          </div>
      </tab-content>
      <tab-content [tabTitle]="'ADMIN.AccessControleIntegration' | translate">
          <div *ngIf="selectedTab === 1">
       <access-control-integration></access-control-integration>
          </div>
      </tab-content>
      <tab-content [tabTitle]="'ADMIN.Wellness' | translate">
          <div  *ngIf="selectedTab === 2">
      <wellness></wellness>
          </div>
      </tab-content>
      <tab-content [tabTitle]="'ADMIN.ExorLive' | translate">
          <div  *ngIf="selectedTab === 3">
       <exorlive></exorlive>
          </div>
      </tab-content>
      <tab-content [tabTitle]="'ADMIN.InfoGym' | translate">
          <div  *ngIf="selectedTab === 4">
        <info-gym></info-gym>
          </div>
      </tab-content>
      <tab-content [tabTitle]="'ADMIN.ARX' | translate">
          <div class="scroll-content" *ngIf="selectedTab === 5">
        <arx></arx>
          </div>
      </tab-content>
    </us-tab>
  </div>

