<ng-template #pdfViewer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title pl-1">{{ Title }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()">
                <span aria-hidden="true" class="icon-close"></span>
              </button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <div class="d-flex mx-3">

      <div class="d-flex  align-items-center">
        <iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame"  frameborder="1" scrolling="auto" height="1100" width="850" [src]='sanitizer.bypassSecurityTrustResourceUrl(filePath)' 
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
  </div>
</ng-template>