<div class="creditContainer">
  <div class="w-50 colum" [ngClass]="(saveIsDisabled)?'remOPA':'addOPA'">
      <div class="article-summery-table" *ngIf="isAddView">
        <h3>{{ 'MEMBERSHIP.CreateCreditNote' | translate }}</h3>
        <ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="articleSummaryList"
        [columnDefs]="articleDefs"

        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="false"
        [floatingFilter]="false"

        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"
        [suppressRowClickSelection]="true"

        (cellValueChanged)="cellValueChanged($event)"

        (gridReady)="articleGridReady($event)"
        >
        </ag-grid-angular>
        </div>
        <div class="mt-1 w-50 mt-3" *ngIf="isAddView">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
            <textarea class="form-control" type="text" rows="3"  [(ngModel)]="addNote"></textarea>
          </div>
          <div class="d-flex">
            <us-icon-button [isDisabled]="!saveIsDisabled" (click)="addCreditNoteEvent()" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.Add' | translate "></us-icon-button>
            <div class="ml-auto">
              <span class="mr-1">{{ 'MEMBERSHIP.CreditNotebalance' | translate }}</span> <strong>{{creditNoteBalance | amountConverter:locale}}</strong>
              <span class="mx-3">|</span>
              <span class="mr-1">{{ 'MEMBERSHIP.NewInvoiceBalance' | translate }}</span> <strong>{{newInvoiceBalance | amountConverter:locale}}</strong>
            </div>
          </div>
        </div>
        <h3 *ngIf="!isAddView">{{ 'MEMBERSHIP.PaymentSummary' | translate }}</h3>
        <div class="mt-1" *ngIf="!isAddView">
            <ag-grid-angular
            class="ag-theme-balham grid"
            [rowData]="selectedCreditNote?.Paymentlist"
            [columnDefs]="paymentlistDefs"

            [enableSorting]="true"
            [enableColResize]="true"
            [enableFilter]="false"
            [floatingFilter]="false"

            [suppressCellSelection] ="true"
            [suppressNoRowsOverlay]="true"
            [suppressRowClickSelection]="true"

            (gridReady)="paypementsGridReady($event)"
            > </ag-grid-angular>
          <!-- <table class="table table-sm table-hover table-default my-1 note-add-table">
              <thead class="thead-primary">
                  <tr>
                      <th>{{ 'MEMBERSHIP.Date' | translate }}</th>
                      <th>{{ 'MEMBERSHIP.Type' | translate }}</th>
                      <th class="text-right">{{ 'MEMBERSHIP.Amount' | translate }}</th>
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let item of selectedCreditNote?.Paymentlist; let index = index">
                      <td>{{item.PaymentDate | date:('COMMON.DateFormat'|translate)}}</td>
                      <td>{{item.Type}}</td>
                      <td class="text-right">{{item.PaymentAmount | amountConverter:locale}}</td>
                  </tr>
              </tbody>
          </table> -->
        </div>
        <div class="mt-1" *ngIf="!isAddView">
          <div class="form-group">
              <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
              <textarea class="form-control" type="text" rows="3" disabled  [(ngModel)]="selectedCreditNote.Note"></textarea>
          </div>
      </div>
  </div>
  <div class="w-50 colum">
      <div class="">
          <h3>{{ 'MEMBERSHIP.CN' | translate }}</h3>
          <ag-grid-angular
          class="ag-theme-balham grid"
          [rowData]="selectedCreditNote.Details"
          [columnDefs]="detailsDefs"

          [enableSorting]="true"
          [enableColResize]="true"
          [enableFilter]="false"
          [floatingFilter]="false"

          [suppressCellSelection] ="true"
          [suppressNoRowsOverlay]="true"
          [suppressRowClickSelection]="true"

          (gridReady)="cnoteGridReady($event)"
          >
          </ag-grid-angular>
      </div>
      <div class="mt-1">
        <us-icon-button [isDisabled]="saveIsDisabled" *ngIf="isAddView" (click)="clearGrid()" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Delete' | translate "></us-icon-button>
      </div>
  </div>

</div>
<hr mt-1 mb-1>
<div class="d-flex mt-1">
    <us-icon-button class="mr-1" *ngIf="!isAddView" (click)="okClick()" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>
    <us-icon-button class="mr-1" *ngIf="!isAddView" [iconClass]="'icon-checkout'" [labelText]="'MEMBERSHIP.CheckOut' | translate "
        [isDisabled]="!chekoutIsEnabled" (click)="openShopPayment(shopPaymentModal)"></us-icon-button>
    <us-icon-button [isDisabled]="saveIsDisabled || hasGiftVoucher" class="mr-1" *ngIf="isAddView" (click)="createCreditNote()" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
    <us-icon-button class="mr-1" *ngIf="isAddView" (click)="closeCreditNote()" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>
</div>

