// %table-header-fixed-scroller {
//     display: flex;
//     flex-flow: column;
//     width: 100%;
//     tbody {
//         display: block;
//         overflow-y: scroll;
//         flex: 1 1 auto;
//     }
//     thead,
//     tbody tr {
//         display: table;
//         width: 100%;
//         table-layout: fixed;
//     }
//     thead {
//         width: calc( 100% - 1.3em);
//     }
//   }




// .article-summery-table{
//     ::ng-deep .data-table{
//         height: 180px;
//         @extend %table-header-fixed-scroller;
//       }
//   }

//   :host .note-add-table{
//     height: 180px;
//     @extend %table-header-fixed-scroller;
//   }

.creditContainer {
  overflow: auto;
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  max-width: 2000px;
  // height: 500px;
}

.colum {
  margin: 2px;
}

.grid {
  font-size: 1em;
  height: 200px;
  width: 100%;
}

.addOPA {
  opacity: 0.7;
}

.remOPA {
  opacity: 1;
}
