<div class="d-flex justify-content-start no-gutters">
  <div class="col mb-2">
    <div class="form-inline">
      <label class="custom-control custom-checkbox checkbox-inline">
        <input type="checkbox" class="custom-control-input" [checked]="isGAT" #gat (change)= "changeTypes(gat.checked,exc.checked,arx.checked)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">GAT</span>
      </label>
      <label class="custom-control custom-checkbox checkbox-inline">
        <input type="checkbox" class="custom-control-input"  [checked]="isExc" #exc (change)= "changeTypes(gat.checked,exc.checked,arx.checked)" >
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Exceline</span>
      </label>
      <label class="custom-control custom-checkbox checkbox-inline">
        <input type="checkbox" class="custom-control-input"  [checked]="isArx" #arx  (change)= "changeTypes(gat.checked,exc.checked,arx.checked)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">ARX</span>
      </label>
    </div>
  </div>
</div>
