<div class="arx-scroller">
<form [formGroup]="ArxForm" #ExorLiveFrm>
  <div class="d-flex no-gutters m-1">
    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.Type' | translate }}</label>
        <select class="custom-select mr-sm-2 w-100" [formControl]="ArxForm.controls['FormatTypeId']" [exceError]="ArxForm.controls['FormatTypeId']"
          (change)="TypeChange($event)">

          <option *ngFor="let arx of arxFormats" value={{arx.Id}}>
            {{arx.Name}}
          </option>

        </select>
      </div>
    </div>
    <div class="col-1 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.Min' | translate }}</label>
        <input type="text" class="form-control" #minV [formControl]="ArxForm.controls['MinLength']" [exceError]="ArxForm.controls['MinLength']"
          [(ngModel)]="minValue" (blur)="onBlurMethod(minV.value,true)">
      </div>
    </div>
    <div class="col-1 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.Max' | translate }}</label>
        <input type="text" class="form-control" [formControl]="ArxForm.controls['MaxLength']" #maxV [exceError]="ArxForm.controls['MaxLength']"
          [(ngModel)]="maxValue" (blur)="onBlurMethod(maxV.value,false)">
      </div>
    </div>
    <div class="col-3 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.DeleteTempCode' | translate }}</label>
        <input type="number" class="form-control" [formControl]="ArxForm.controls['TempCodeDeleteDate']" [exceError]="ArxForm.controls['TempCodeDeleteDate']">
      </div>
    </div>
  </div>

</form>
<div class="d-flex m-1">
  <us-icon-button [iconClass]="'icon-done'" (click)="saveSettings(ArxForm.value)" [labelText]="'ADMIN.Save' | translate" [isDisabled]="!ArxForm.valid"></us-icon-button>
</div>
</div>
