<div class="d-flex justify-content-start no-gutters w-100">
    <div class="mr-1">
      <div class="input-group">

        <us-date-picker style="width: 150px;" #fromDate (dateChanged)="filterInput($event,toDate.value,catSelect.value,branchSelect.value)" [locale]="'ADMIN.Locale'| translate">
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
        <us-date-picker style="width: 150px;" class="mr-2" #toDate  (dateChanged)="filterInput(fromDate.value,$event,catSelect.value,branchSelect.value)" [locale]="'ADMIN.Locale'| translate">
        </us-date-picker>


      </div>
    </div>
    <div class="form-inline col">
        <label>{{'ADMIN.Category' | translate}}</label>
        <select class="custom-select col-3 mx-2" #catSelect (change)="filterInput(fromDate.value,toDate.value,catSelect.value,branchSelect.value)">
            <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
            <option *ngFor="let cat of Categories" value={{cat.Id}}>{{cat.Name}}</option>
          </select>

        <label>{{'ADMIN.GymName' | translate}}</label>

 
      <select class="custom-select col-3 ml-2" #branchSelect (change)="filterInput(fromDate.value,toDate.value,catSelect.value,branchSelect.value)">
          <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
          <option *ngFor="let branch of branches" value={{branch.BranchName}}>{{branch.BranchName}}</option>
        </select>
    </div>

    <div class="ml-auto">
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.addTime' | translate " (click)="openaddNewTimeView(addNewTimeView)"></us-icon-button>
    </div>

  </div>



<div class="d-flex mt-1">
  <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount"  [rowTooltip]="rowTooltip">
    <data-table-column [property]="'WorkDate'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.WorkDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.Time' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.STATUS' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TimeInMinutes'" header="{{ 'ADMIN.ChangeDone' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TimeCategoryName'" header="{{ 'ADMIN.ActivityHVDGCode' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Comment'" header="{{ 'ADMIN.Comment' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
  </us-data-table>
</div>


<ng-template #addNewTimeView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.addTime' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="NewTimeForm" #newTimeFrm>
    <div class="d-flex no-gutters">
      <div class="col-5 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.Date' | translate}} </label>
          <us-date-picker class="w-100" formControlName="WorkDate"  (dateChanged)="changeDate($event)"  us-error [errorMsg]="formErrors.WorkDate" [displayError]="formSubmited && !NewTimeForm.get('WorkDate').valid">
          </us-date-picker>
        </div>

        <div class="input-group mr-2">
          <div class="form-group">
            <label>{{ 'ADMIN.StartTime' | translate }}</label>
            <us-time-picker  formControlName="StartTime" > </us-time-picker>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.EndTime' | translate }}</label>
            <us-time-picker  formControlName="EndTime" > </us-time-picker>
          </div>
        </div>

        <div class="form-group">
          <label>{{ 'ADMIN.Gym' | translate }}</label>
          <select class="custom-select w-100"  formControlName="BranchId"  #newBranchSelect (change)="changeBranch(newBranchSelect.value)"  us-error [errorMsg]="formErrors.BranchId" [displayError]="formSubmited && !NewTimeForm.get('BranchId').valid">
            <!-- <option selected value=-1> None</option> -->
            <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>{{ 'ADMIN.TimeCategory' | translate }}</label>
          <select class="custom-select w-100"  formControlName="TimeCategoryId" #newCatSelect (change)="changeCategory(newCatSelect.value)"  us-error [errorMsg]="formErrors.TimeCategoryId" [displayError]="formSubmited && !NewTimeForm.get('TimeCategoryId').valid"> 
            <!-- <option selected value="">None</option> -->
            <option *ngFor="let cat of Categories" value={{cat.Id}}>{{cat.Name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{ 'ADMIN.ContractNo' | translate}} </label>
          <div  class="card scroll-newtime-contract">
            <ul class="list-group list-group-flush">
              <li class="list-group-item px-2 py-1" *ngFor="let contract of contractList">
                <label class="custom-control custom-checkbox checkbox-inline w-100">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="contract.IsGroup" [checked]="contract.IsGroup" [ngModelOptions]="{standalone: true}">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{contract.ContractNo}}</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="form-group">
          <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.ADD' | translate " [isDisabled]="selectedCategoryString=='CONTRACT'?false:true" (click)="addClick()"></us-icon-button>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label>{{ 'ADMIN.Comment' | translate}} </label>
      <textarea type="text" rows="3" class="form-control" formControlName="Comment" [(ngModel)]="textComment" us-error [errorMsg]="formErrors.Comment"  [displayError]="formSubmited && !NewTimeForm.get('Comment').valid"></textarea>
    </div>




  </form>
  </div>
  <div class="modal-footer pt-1">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="submitForm(NewTimeForm.value)">  </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeModal()"></us-icon-button>
  </div>
</ng-template>