

<div  class="center">
    <table cellspacing="10" cellpadding="10">
      <thead>
        <tr>
          <th >{{'ECONOMY.KeyVersion' | translate}}</th>
          <th>{{'ECONOMY.HasKey' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datalist">
          <td>{{ item.KeyVersion }}</td>
          <td>{{ (item.PublicKey === "") ? ('ECONOMY.No' | translate): ('ECONOMY.Yes' | translate)}}</td>
          <button class= "btn btn-primary mr-1" [disabled]="!item.PublicKey" (click)= "exportKey()" (click)= "openGenerateMessageModal(MessagewindowViewKey)" type="button">{{'ECONOMY.ViewKey' | translate}}</button>
        </tr>
      </tbody>
    </table>
  </div>



<ng-template #MessagewindowViewKey let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'ECONOMY.PublicKey' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
      <div class="modal-body">
        <div>Register the key on website: https://www.altinn.no/skjemaoversikt/skatteetaten/systemleverandorers-produkterklaring-av-kassasystemer/ </div>
        <hr>
         <div align="center">-----BEGIN PUBLIC KEY-----<br>
          {{this.answer}}<br>
          -----END PUBLIC KEY-----
      </div>
      </div>
</ng-template>

