<div class="calendar-tool-bar d-flex p-1">
  <div *ngIf="isDisplayDateNavPanel" class="btn-group mr-1" (click)="onButtonGroupClick($event)">
    <button type="button" (click)="selectDateRange('TODAY')" title="{{'CLASS.Today' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-today active"></button>
    <!-- <button type="button" (click)="selectDateRange('BACK')" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button> -->
    <button type="button" (click)="selectDateRange('DAYVIEW')" title="{{'CLASS.DayView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-day"></button>
    <button type="button" (click)="selectDateRange('WEEKVIEW')" title="{{'CLASS.WeekView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-week"></button>
    <button type="button" (click)="selectDateRange('MONTHVIEW')" title="{{'CLASS.MonthView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-month"></button>
    <!-- <button type="button" (click)="selectDateRange('')" class="btn btn-primary btn-icon-cal icon-calendar-timeline"></button> -->
  </div>

  <div class="form-group col-2 m-0 p-0">
    <input type="text" class="form-control border-0 bg-light" style="height:43px;" placeholder="{{'CLASS.FilterbyClassType' | translate }}"
      #filterTextCtrl="ngModel" [(ngModel)]="filterText" (keyup)="filterByClassType()">
  </div>

  <div class="ml-auto" >
    <div class="btn-group">
      <button type="button" [disabled]="!isFixed" (clAick)="selectDateRange('BACK')" title="{{'CLASS.Back' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button>
      <span class="input-group-addon cal-input-group-addon" style="width:312px;">
        <span class="group-addon-mt">
          <form [formGroup]="dateFilterForm">
            <span class="input-group">
              <us-date-picker style="width: 200px;" formControlName="fromDate" [disabled]="!isFixed" [locale]="'COMMON.Locale'| translate" (dateChanged)="fromDateChanged($event)"> </us-date-picker>
              <span class="px-2 pt-1 text-primary">{{ 'CLASS.To' | translate }}</span>
              <us-date-picker style="width: 200px;" formControlName="toDate"  [disabled]="!isFixed" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
            </span>
          </form>
        </span>
      </span>
      <button type="button" (click)="selectDateRange('NEXT')"  [disabled]="!isFixed" title="{{'CLASS.Next' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-nextrange"></button>
      <us-icon-button class="d-flex ml-1" [iconClass]="'icon-add'" [labelText]="'CLASS.NewC' | translate" (click)="openAddNewModal(addNewClassModal)"></us-icon-button>
    </div>
  </div>
</div>

<ag-grid-angular
  class="ag-theme-balham grid"
  [rowData]="classActiveTimes"
  [columnDefs]="classDefs"
  [enableSorting]="true"
  [enableColResize]="true"
  [enableFilter]="false"
  [floatingFilter]="false"
  [suppressCellSelection] ="true"
  [suppressNoRowsOverlay]="true"
  [suppressRowClickSelection]="true"

  (gridReady)="onGridReady($event)"
  (cellClicked)="cellClicked($event)"
  (rowDoubleClicked)="selectRowDblClick($event.data)"

  >
</ag-grid-angular>

<!-- <us-data-table [items]="classActiveTimes" [itemCount]="itemCount" (reload)="reloadActiveTimes($event)" [limit]="itemCount"
  [pagination]="false">
  <data-table-column [property]="'ClassType'" [header]="'CLASS.ClassTypeC'| translate" [sortable]="true">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.ClassType.Name}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'MaxNoOfBookings'" [header]="'CLASS.MaxNoOfBookings'| translate" [sortable]="true" [width]="180">
  </data-table-column>
  <data-table-column [property]="'Day'" [header]="'CLASS.Day'| translate" [sortable]="true" [width]="70">
  </data-table-column>
  <data-table-column [property]="'StartDateTime'" [header]="'CLASS.StartTime'| translate" [sortable]="true" [width]="100">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.StartDateTime | date:'hh:mm'}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'EndDateTime'" [header]="'CLASS.EndTime'| translate" [sortable]="true" [width]="100">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.EndDateTime | date:'hh:mm'}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'StartDate'" [header]="'CLASS.StartDate'| translate" [sortable]="true" [width]="120">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'EndDate'" [header]="'CLASS.EndDate'| translate" [sortable]="true" [width]="120">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'InstructorNameListStr'" [header]="'CLASS.InstructorNameC'| translate" [sortable]="true">
    <ng-template #dataTableCell let-item="item">
      <ul class="m-0 p-0 fc-exc-list fc-exc-list-instructor">
        <li *ngFor="let ins of item.InstructorList">{{ins.DisplayName }}</li>
      </ul>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'LocationNameListStr'" [header]="'CLASS.LocationNameC'| translate" [sortable]="true">
    <ng-template #dataTableCell let-item="item">
      <ul class="m-0 p-0 fc-exc-list fc-exc-list-location">
        <li *ngFor="let res of item.ResourceLst">{{res.DisplayName }}</li>
      </ul>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="''" [width]="70">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min" (click)="openClassDetailModel(classDetailModal, item)" title="{{'CLASS.Detail' |translate}}">
        <span class="icon-detail"></span>
      </button>
      <button [disabled]="item.IsDeleted" (click)="deleteClassActiveTime(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.Delete' |translate}}">
        <span class="icon-cancel"></span>
      </button>
    </ng-template>
  </data-table-column>
</us-data-table> -->

<ng-template #addNewClassModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.AddNewClass' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <add-new-calss [isDisableDateChange]="isDisableDateChange" [isDisableToTimeChange]="isDisableToTimeChange" [isNewBooking]="true"
    [fromDate]="fromDate" [toDate]="toDate" [startTime]="startTime" [day]="dayOfWeek" [isFixed]="isFixed" [scheduleType]="'WEEKLY'"
    (cancelAddingNewCls)="cancelAddingNewCls()" (saveNewClassEvent)="saveNewClassSuccess($event)"></add-new-calss>
</ng-template>

<ng-template #classDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <span class="modal-title">{{ 'CLASS.ClassInstanceDetail' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div >
  <div class="modal-body ">
    <class-schedule [isDisableToTimeChange]="true" [schedule]="selectedClass" [isFixed]="isFixed" (cancelUpdatingCls)="cancelUpdatingCls()" (updateClassEvent)="updateClassEvent($event)"></class-schedule>
  </div>
</ng-template>



<ng-template #classTimeDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.DateOverview' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body ">
<table style="width: 600px">
<tr>
  <th>Dato</th>
  <th>Start</th>
  <th>Slutt</th>
  <th>Bruker</th>
  <th>Endringsdato</th>
  <th>Endringer</th>
</tr>
<tr *ngFor = "let item of classTimeDetailDataList">
  <td [ngClass]='{isAltered : item.Altered}'>{{item.Dato}}</td>
  <td [ngClass]='{isAltered : item.Altered}'>{{item.Start}}</td>
  <td [ngClass]='{isAltered : item.Altered}'>{{item.Slutt}}</td>
  <td [ngClass]='{isAltered : item.Altered}'>{{item.LastModifiedUser}}</td>
  <td [ngClass]='{isAltered : item.Altered}'>{{item.LastModifiedDate}} {{item.LastModifiedTime}}</td>
  <button [ngClass]='{isAltered : item.Altered}' class= "btn btn-primary mr-1" [hidden]="!item.Altered" (click) ="openAlterationDetailsWindow(alterationDetailModal,item)"  type="button">Detaljer</button>
</tr>

</table>
  </div>
</ng-template>


<ng-template #alterationDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'CLASS.DateOverview' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body " [innerHtml] = "htmltext">
  </div>
</ng-template>
<!-- Moved the info box to the parent element, class-home -->
<!-- <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
  [information]="message" >
</exce-fade-in-n-out> -->
