<div class="form-inline">
  <label>{{'ADMIN.FollowUpCategoryC' | translate}}</label>
  <select class="custom-select col-2 ml-1" #catSelect (change)="filterInput(catSelect.value,statusVal.value,branchSelect.value)">
      <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let followUpCats of followUpCategories" value={{followUpCats.Id}}>{{followUpCats.Name}}</option>
    </select>
  <input type="text" class="form-control col-2 ml-1" placeholder="{{ 'ADMIN.STATUS' | translate }}"  #statusVal (keyup)="filterInput(catSelect.value,statusVal.value,branchSelect.value)"/>

  <select class="custom-select col-2 ml-1" #branchSelect (change)="filterInput(catSelect.value,statusVal.value,branchSelect.value)">
      <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
    </select>
</div>

<div class="mt-1">
  <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount" (rowDoubleClick)="openFollowUpModal(followUpModal,$event)"
    [rowTooltip]="rowTooltip">
    <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'PlannedDate'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.PlannedDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.StartTime | date:'HH:mm'}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.EndTime | date:'HH:mm'}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'TaskCategoryName'" header="{{ 'ADMIN.FollowUpCategory' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Name'" header="{{ 'ADMIN.Text' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Member'" header="{{ 'ADMIN.Member' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Status'" header="{{ 'ADMIN.STATUS' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>

<ng-template #followUpModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{'ADMIN.FollowupDetails' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
        <div class="d-flex no-gutters">
          <div class="col">
            <div class="form-group">
              <label>{{ 'ADMIN.Day' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.Day}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Date' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.PlannedDate | date:('COMMON.DateFormat'|translate)}}
              </strong>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.StartTime' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.StartTime | date:'HH:mm'}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.EndTime' | translate }}</label>
              <strong class="d-block">{{selectedItem?.EndTime | date:'HH:mm'}}</strong>

            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Text' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.Name}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Member' | translate }}</label>
              <strong class="d-block">{{selectedItem?.Member}}</strong>
            </div>
          </div>
          <div class="col mx-2">
            <div class="form-group">
              <label>{{ 'ADMIN.STATUS' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.Status}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Description' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.Description}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.AutomatedSms' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.AutomatedSMS}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.FollowUpCategory' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.TaskCategoryName}}
              </strong>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>{{ 'ADMIN.AutomatedEmail' | translate }}</label>
              <strong class="d-block">
                  {{selectedItem?.AutomatedEmail}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.COMPLETEDDATE' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.CompletedDate | date:('COMMON.DateFormat'|translate)}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.COMPLETEDUSER' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.CompletedEmpName}}
              </strong>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Comment' | translate }}</label>
              <strong class="d-block">
                {{selectedItem?.Comment}}
              </strong>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate" (click)="d('Cross click')"> </us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="d('Cross click')"></us-icon-button>
    </div>
  </ng-template>
