<div class="pt-4">
  <div class="d-flex justify-content-center align-items-center ">

    <div class="col-sm-3">
      <img src="assets/images/exceline-logo.svg" width="120" class="justify-content-end" alt="">
      <h5 class="fw-l" *ngIf="!isLoginSuccess && !isForgotPassword && !isLoginFirstTime && !isPasswordResetRouteEngaged">{{ 'LOGIN.LoginToExceline' | translate }}</h5>
      <h5 class="fw-l" *ngIf="isForgotPassword && !isLoginFirstTime ">{{ 'LOGIN.ForgetPW' | translate }}</h5>
      <h5 class="fw-l" *ngIf="isLoginSuccess  && !isLoginFirstTime ">{{ 'LOGIN.SLSelectYourBranch' | translate }}</h5>
      <h5 class="fw-l" *ngIf="isLoginFirstTime">{{ 'LOGIN.ResetPassword' | translate }}</h5>
      <h5 class="fw-l" *ngIf="isPasswordResetRouteEngaged">{{ 'LOGIN.ResetPassword' | translate }}</h5>
    </div>
  </div>
  <hr class="sexy_line" />

  <div class="d-flex justify-content-center align-items-center py-4">
    <div class="login col-sm-3" *ngIf="!isLoginSuccess && !isForgotPassword && !isPasswordResetRouteEngaged && !isPasswordInfoBoxVisible && !isEmailLinkInfoVisible">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label>{{ 'LOGIN.EmailOrUserName' | translate }}</label>
          <input type="text" name="username-field" formControlName="username" class="form-control"  us-error [errorMsg]="loginFormErrors.username" [displayError]="(loginFormSubmited || loginForm.get('username').dirty) && !loginForm.get('username').valid"
          placement="right">
        </div>
        <div class="form-group">
          <label>{{ 'LOGIN.Password' | translate }}</label>
          <input type="password" name="password-field" formControlName="password" class="form-control"  us-error [errorMsg]="loginFormErrors.password" [displayError]="(loginFormSubmited || loginForm.get('password').dirty) && !loginForm.get('password').valid"
          placement="right">
          <div *ngIf="isLoginFailed" class="alert alert-danger">{{ 'LOGIN.VALIDATION_MSG' | translate }}</div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary mr-2" style="width: 80px">{{ 'LOGIN.Login' | translate }}</button>
        <a role="button" class="btn-link" (click)="forgotPassword()">{{ 'LOGIN.ForgetPW' | translate }} ?</a>
      </form>
    </div>

    <div class="col-sm-3" *ngIf="isForgotPassword">
      <form [formGroup]="forgottenPasswordForm" (ngSubmit)="forgotPasswordRequest(forgottenPasswordForm.value)">
        <div class="form-group">
          <label>{{ 'LOGIN.Username' | translate }}</label>
          <input type="text" formControlName="username" class="form-control"
          us-error [errorMsg]="recoverPasswordFormError.username"
          [displayError]="(passwordFormSubmitted || forgottenPasswordForm.get('username').dirty) && !forgottenPasswordForm.get('username').valid"
          placement="top" container="view">
        </div>
        <button  type="submit" class="btn btn-primary">{{ 'LOGIN.Send' | translate }}</button>
        <button role="button" (click)="isForgotPassword=false" class="btn btn-primary">{{ 'LOGIN.Cancel' | translate }}</button>
      </form>
    </div>

    <div *ngIf="isLoginSuccess" class="col-sm-3">
      <form [formGroup]="resetPasswordFirstTimeForm" *ngIf="isLoginFirstTime">
        <div class="form-group">
          <label>{{ 'LOGIN.newPassword' | translate }}</label>
          <input type="password" formControlName="password" class="form-control"
          us-error [errorMsg]="resetPasswordFirstTimeFormErrors.password"
          [displayError]="(resetPasswordFirstTimeFormSubmited || resetPasswordFirstTimeForm.get('password').dirty) && !resetPasswordFirstTimeForm.get('password').valid"
          placement="right">
        </div>
        <div class="form-group">
          <label>{{ 'LOGIN.Retypepassword' | translate }}</label>
          <input type="password" formControlName="passwordConfirm" class="form-control"
          us-error [errorMsg]="resetPasswordFirstTimeFormErrors.passwordConfirm"
          [displayError]="(resetPasswordFirstTimeFormSubmited || resetPasswordFirstTimeForm.get('passwordConfirm').dirty) && !resetPasswordFirstTimeForm.get('passwordConfirm').valid"
          placement="right">
        </div>
        <button type="button" (click)="saveResetPassword()" class="btn btn-primary mr-2">{{ 'LOGIN.Save' | translate }}</button>
        <button type="button" (click)="skipResetPassword()" class="btn btn-primary mr-2">{{ 'LOGIN.Skip' | translate }}</button>
      </form>

      <form [formGroup]="branchSelectionForm" (ngSubmit)="selectBranch(branchSelectionForm.value.branchSelected)" *ngIf="!isLoginFirstTime">
        <div class="form-group">
          <label>{{ 'LOGIN.SLSelectBranch' | translate }}</label>
          <select class="form-control" formControlName="branchSelected" [(ngModel)]="selectedBranch">
            <option *ngFor="let branch of userBranches;"  [ngValue]="branch"  >{{branch.BranchName}}</option>
          </select>
        </div>
        <button type="submit" [disabled]="!branchSelectionForm.valid" class="btn btn-primary" style="width: 80px">{{ 'LOGIN.OK' | translate }}</button>
      </form>
    </div>

    <div class="col-sm-3" *ngIf="isPasswordResetRouteEngaged">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="sendNewPWForConfirmation(resetPasswordForm.value)">
        <div class="form-group">
          <label>{{ 'LOGIN.PasswordNew' | translate }}</label>
          <input type="password" formControlName="password" class="form-control"  us-error [errorMsg]="resetPasswordFormErrors.password" [displayError]="(isResetFormSubmited || resetPasswordForm.get('password').dirty) && !resetPasswordForm.get('password').valid"
          placement="right">
        </div>
        <div class="form-group">
          <label>{{ 'LOGIN.PasswordConfirm' | translate }}</label>
          <input type="password" formControlName="passwordConfirm" class="form-control"  us-error [errorMsg]="resetPasswordFormErrors.passwordConfirm" [displayError]="(isResetFormSubmited || resetPasswordForm.get('passwordConfirm').dirty) && !resetPasswordForm.get('passwordConfirm').valid"
          placement="right">
          <div *ngIf="isResetFailed" class="alert alert-danger">{{ 'LOGIN.VALIDATION_MSG' | translate }}</div>
        </div>
        <button type="submit" class="btn btn-primary" >{{ 'LOGIN.Execute' | translate }}</button>
      </form>
    </div>


    <div class="d-flex" *ngIf="isPasswordInfoBoxVisible">
      <h1>You have reset your password</h1>
    </div>

    <div class="d-flex" *ngIf="isEmailLinkInfoVisible">
      <h1>You have sent a message to the email accociated with the account</h1>
    </div>
  </div>


  <hr class="sexy_line" />
</div>
