/* You can add global styles to this file, and also import other style files */
@import "scss/icons";
@import "../node_modules/bootstrap/scss/functions";
@import "scss/variables";
@import "scss/mixing";
@import "scss/bootstrap";

@import "scss/fonts";

@import "scss/us-date-picker";
@import "scss/us-time-picker";
@import "scss/us-color-picker";
@import "scss/us-tree-table";
@import "scss/ui-components";
@import "scss/base";
@import "scss/forms";

@import "scss/fullcalendar";
// @import "scss/fullcalendar.print";
@import "scss/scheduler";


@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';


.ag-theme-balham .ag-header-cell{
  background-color: $brand-primary;
  color: $white;
  cursor: pointer;
}

.ag-body .highlighted{
  background-color: yellowgreen !important;
}
.ag-body .freeze-is-active {
  background-color: #AFEEEE
}

.ag-theme-balham .headerItalic {
  font-style: italic;
  opacity: 0.9;
}


.ag-body .node-isLocked{
  background-color: rgb(211, 10, 34) !important;
}

.ag-body .node-notLocked{
  background-color: rgb(94, 165, 101) !important;
}

.ag-body .node-selected {
  background-color: #AFEEEE
}
