<div class="d-flex mb-1">
  <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.InterestManageViewNewInterest' | translate " (click)="newCategoryModal(addNewCategory)">
  </us-icon-button>
</div>

<us-data-table [items]="memberInterests" [itemCount]="itemCount">
  <data-table-column [width]="55" [property]="'IsCheck'" header="{{'MEMBERSHIP.Select' | translate}}" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <label class="custom-control custom-checkbox checkbox-inline">
        <input type="checkbox" class="custom-control-input" [checked]="item.IsCheck" (change)="item.IsCheck = !item.IsCheck">
        <span class="custom-control-indicator"></span>
      </label>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'Name'" header="{{'MEMBERSHIP.Name' | translate}}" [sortable]="true" [resizable]="true">
  </data-table-column>
</us-data-table>

<div class="d-flex mt-1">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveInterestCategoryByMember()"></us-icon-button>
</div>

<!--Add New Interest Popup -->
<ng-template #addNewCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.AddNwInterest'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <exce-category [CategoryTypeCode]="'INTERESTS'" [isShowColorPicker]="false" [branchId]="" (closed)="closeView()" (saved)="getData($event);c()">
  </exce-category>

</ng-template>