:host /deep/ tbody {
  display:block;
  height: calc(100vh - 17.9rem);
  overflow-y:scroll;
}
:host /deep/ thead, :host /deep/ tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  cursor: pointer;
}
:host /deep/ thead {
  width: calc( 100% - 1.3em )
}

:host /deep/ thead, :host /deep/ tbody tr td label{
  cursor: pointer;
}
