<div class="d-flex justify-content-start no-gutters mb-1 mx-1">
  <div class="col-3">
    <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value)" placeholder="{{'ADMIN.FilterByName'| translate}}">
  </div>
  <div class="col">
    <us-icon-button class="float-right cursor-hand" [iconClass]="'icon-add'" (click)="openActivityModel(newActivity)" [labelText]="'ADMIN.ActivityHVAddActivity' | translate ">
    </us-icon-button>
  </div>
</div>

<div class="mx-1">
  <us-data-table [items]="manageActivities" [pagination]="false" [itemCount]="itemCount" (rowDoubleClick)="openActivityModel(activitySettings)"
    (rowDoubleClick)="rowDoubleClick($event)">
    <data-table-column [property]="'Name'" [header]="'ADMIN.Name'| translate" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>

</div>

<!-- New Activity Popup -->
<ng-template #newActivity let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
      <span>{{'ADMIN.ActivityHVAddActivity'| translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <exce-category [CategoryTypeCode]="'ACTIVITY'" [isShowColorPicker]="false" [branchId]="" (closed)="closeView()" (saved)="getData($event);c()">
  </exce-category>

</ng-template>

<!-- Activity Settings Popup -->
<ng-template #activitySettings let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span>{{'ADMIN.ActivitySettingTitle'| translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <form [formGroup]="activitySettingsForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-6">

          <div class="form-group">
            <label>{{'ADMIN.Activity'| translate}}</label>
            <input class="form-control" type="text" [formControl]="activitySettingsForm.controls['activityName']" readonly>
          </div>

          <!-- Hidden field for ActivityId -->
          <input class="form-control" type="hidden" [formControl]="activitySettingsForm.controls['activityId']">

          <div class="custom-controls-stacked">
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['contractTimeLimited']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.ActivitySettingContractTimeLimited' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['punchCardLimited']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.ActivitySettingPunchcardLimited' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['contractbooking']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.ContractBooking' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['trail']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.ActivitySettingTrail' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['smsReminder']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.ActivitySettingSMSReminder' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['bookViaIbooking']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.IsBookViaIbooking' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['bookingActivity']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.IsBookingActivity' | translate}}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" class="custom-control-input" [formControl]="activitySettingsForm.controls['basicActivity']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.IsBasicActivity' | translate}}</span>
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>{{'ADMIN.ActivitySettingBookDay'| translate}}</label>
            <input class="form-control" type="number" min="0" [formControl]="activitySettingsForm.controls['bookDay']">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="addActivitySettings(activitySettingsForm.value);c()"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="c('Close click')" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>
