<div class="mx-4">
  <h5>
    <span>{{'COMMON.ManageOperations'|translate}}</span>
  </h5>
  <div class="d-flex">
    <us-icon-button class="mr-1" [iconClass]="'icon-download'" [labelText]="'ADMIN.Changed' | translate" (click)="getArxChanged()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-download'" [labelText]="'ADMIN.ARXMembers' | translate" (click)="getArxMembers()"></us-icon-button>
  </div>
  <hr class="hr-dashed">
</div>
