 .topDiv
        {
            
            background-color: blueviolet;
            display: block;
            width: 345px;
            height: 220px;
            padding: 10px;
            border-radius: 2px 2px 2px 2px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

.bottomDiv{
   position:absolute;
   top:300px;
   left:150px;
   background-color: aqua;
}

.us-calandar{
color: red;
}

.us-calandar .date{
    background-color: grey;
    width : 50px;
    height : 50px;
    position: relative;
}

.us-calandar .date .top{
    background: green;
    width : 50px;
    height : 50px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.us-calandar .date .bottom{
    background-color: aqua;
    width : 50px;
    height : 50px;
    z-index: 1;   
    position: absolute; 
    top: 0;
    left: 0;    
}