<div class="d-flex mx-1">
  <button class="btn btn-primary" (click)="openTestModal(testModal)">{{'REPORT.QueryEditViewBtnTest' | translate}}</button>
  <div class="alert alert-info">
    <strong>{{'REPORT.Top100Text' | translate}}</strong>
    <!-- Indicates a neutral informative change or action. -->
  </div>
</div>
<div class="d-flex mx-1">
  <table class="table table-sm table-hover table-default">
    <thead class="thead-primary">
      <tr>
        <th>{{ 'REPORT.ViewOperationHParameterName' | translate }}</th>
        <th>{{ 'REPORT.AddConditionHValue' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex mx-1">
  <label class="form-control">{{uneditablePart}}</label>
</div>
<div class="d-flex mx-1">
  <!-- <input type="text" class="form-control"  [(ngModel)]="editablePart"/> -->
  <div class="w-100">
    <textarea class="form-control" [(ngModel)]="editablePart"></textarea>
  </div>
</div>

<div class="d-flex mx-1">
  <us-icon-button class="mt-1" [iconClass]="'icon-done'" [labelText]="'Save'" (click)="SaveQuery()"></us-icon-button>
</div>


<ng-template #testModal let-c="close" let-d="dismiss" class="mx-1">
  <div class="modal-header">
    <span class="modal-title">{{'REPORT.QueryResult' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount" [rowTooltip]="rowTooltip">
      <!-- <div *ngFor="let header of heraders">  -->
      <data-table-column *ngFor="let item of columns" [property]="item.header" [header]="item.header" [sortable]="true" [resizable]="true">
      </data-table-column>
      <!-- </div>  -->
    </us-data-table>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>