
    <!-- <us-data-table [items]="articleList" [itemCount]="itemCount"
     (reload)="reloadArticleList($event)"
      (rowDoubleClick)="articleListRowDoubleClick($event)" [limit]="20" [showLimit]="true"
      [showPageNumber]="true" [showFirstLast]="true">
      <data-table-column [property]="'ArticleNo'" [sortable]="true" [header]="'COMMON.ItemCode'| translate" width="50px">
      </data-table-column>
      <data-table-column [property]="'Description'" [sortable]="true" [header]="'COMMON.ItemName'| translate" width="200px">
      </data-table-column>
      <data-table-column [property]="'Category'" [sortable]="true" [header]="'COMMON.Category'| translate" width="150px">
      </data-table-column>
      <data-table-column [property]="'StockLevel'" [sortable]="true" [header]="'COMMON.AvailableQuantity'| translate" [alignment]="'right'">
      </data-table-column>
      <data-table-column [property]="'DefaultPrice'" [sortable]="true" [header]="'COMMON.Price'| translate" [alignment]="'right'"
        [visible]="isCustomerPrice">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.DefaultPrice | amountConverter:locale }}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'EmployeePrice'" [sortable]="true" [header]="'COMMON.Price'| translate"
        [alignment]="'right'" [visible]="!isCustomerPrice">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.EmployeePrice | amountConverter:locale }}</span>
          </ng-template>
      </data-table-column>

    </us-data-table> -->


    <ag-grid-angular
  class="ag-theme-balham grid"
  [rowData]="articleList"
  [columnDefs]="articleDefs"
  [enableSorting]="true"
  [enableColResize]="true"
  [enableFilter]="false"
  [floatingFilter]="false"
  [suppressCellSelection] ="true"
  [suppressNoRowsOverlay]="true"
  [suppressRowClickSelection]="true"

  (gridReady)="onGridReady($event)"
  (rowDoubleClicked)="articleListRowDoubleClick($event)"
  >
</ag-grid-angular>
