<!-- <form [formGroup]="paymentForm">

    <div class="d-flex">
        <div class="col-md-8">
            <div class="input-group">
                <label class="mr-2">{{'MEMBERSHIP.PaymentType' | translate}}</label>
                <select class="custom-select mr-2 cursor-hand" [formControl]="paymentForm.controls['paymentType']" [(ngModel)]="paymentType" (change)="paymentTypeChangeEvent($event.target.value)">
                            <option  value="All">ALL</option>
                            <option value="OP">OCR</option>
                            <option value="DC">Debt Collection</option>
                            <option value="TMN">Card</option>
                            <option value="CSH">Cash</option>
                            <option value="BS">Bank Statement</option>
                            <option value="OA">On Account</option>
                            <option value="GC">Gift Card</option>
                        </select>

                <input type="text" class="form-control mr-2" placeholder="{{'MEMBERSHIP.DateFormat' | translate}}" [formControl]="paymentForm.controls['filterDate']"
                    [(ngModel)]="filterDate" (keyup)="filterDetails()">

                <input type="text" class="form-control" placeholder="{{'MEMBERSHIP.InvoiceNo' | translate}}" [formControl]="paymentForm.controls['filterInvoiceNo']"
                    [(ngModel)]="filterInvoiceNo" (keyup)="filterDetails()">

            </div>


        </div> -->
        <!-- <div class="ml-auto">
            <us-icon-button [iconClass]="'icon-print'" class="btn-alignment" [labelText]="'MEMBERSHIP.Print' | translate" (click)="printPayment(payementPrintModal)"></us-icon-button>
        </div> -->
   <!--  </div>


</form> -->
<div class="body">
<div class="ml-auto">
  <us-icon-button [iconClass]="'icon-print'" class="btn-alignment" [labelText]="'MEMBERSHIP.Print' | translate" (click)="printPayment(payementPrintModal)"></us-icon-button>
</div>
<div class="mt-1 grid">
    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="paymentHistory"
    [columnDefs]="columDefs"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="true"
    [floatingFilter]="true"
    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="cellClicked($event)">

      </ag-grid-angular>
    <!-- <us-data-table #dataTable id="persons-grid" [items]="items" [itemCount]="itemCount" indexColumnVisible (reload)="reloadItems($event)"
        (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip" [limit]="limit" [offset]="setOffset()" [isDbPagination]="'true'">
        <data-table-column [property]="'PaymentDateTime'" header="{{'MEMBERSHIP.PaidDate' | translate}}" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.PaymentDateTime | date:('COMMON.DateFormat'|translate)}}</span>
            </ng-template>
        </data-table-column>

        <data-table-column [property]="'PaymentDateTime'" header="{{'MEMBERSHIP.PHVTime' | translate}}" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.PaymentDateTime | date:'HH:MM'}}</span>
            </ng-template>
        </data-table-column>

        <data-table-column [property]="'PaymentRegDateTime'" header="{{'MEMBERSHIP.RegisterDate' | translate}}" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.PaymentDateTime | date:('COMMON.DateFormat'|translate)}}</span>
            </ng-template>
        </data-table-column>

        <data-table-column [property]="'PaymentRegDateTime'" header="{{'MEMBERSHIP.RegisterTime' | translate}}" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.PaymentDateTime | date:'HH:MM'}}</span>
            </ng-template>
        </data-table-column>

        <data-table-column [property]="'PaymentType'" header="{{'MEMBERSHIP.PaymentType' | translate}}" [sortable]="true" [resizable]="true">
        </data-table-column>

        <data-table-column property="InvoiceNo" header="{{'MEMBERSHIP.InvoiceNo' | translate}}" width="150px" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'ContractNo'" header="{{'MEMBERSHIP.ContractNo' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'OrderNo'" header="{{'MEMBERSHIP.OrderNo' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'ContractTemplateNo'" header="{{'MEMBERSHIP.TemplateNo' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'PaymentAmount'" header="{{'MEMBERSHIP.PaymentAmount' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'GymName'" header="{{'MEMBERSHIP.Gym' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>

        <data-table-column [property]="'RegisteredEmpName'" header="{{'MEMBERSHIP.Employee' | translate}}" [visible]="true" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="''" header="{{'MEMBERSHIP.Delete' | translate}}" [width]="80" [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <button (click)="deleteConfirmMsg(paymentRemoveModal,item)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}"><span class="icon-cancel"></span></button>
                (click)="deleteClick(item)"
                (click)="openCategoryModel(paymentRemoveModal)"
            </ng-template>
        </data-table-column>

    </us-data-table> -->



    <!--<us-icon-button [iconClass]="'icon-done'"   [labelText]="'MEMBERSHIP.Print' | translate" ></us-icon-button>-->
  </div>
</div>

<ng-template #paymentRemoveModal let-c="close" let-d="dismiss">
    <form [formGroup]="removePaymentForm">
        <div class="modal-header">
            <span class="modal-title"> {{'MEMBERSHIP.Comment' | translate}}</span>
            <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" data-dismiss="modal" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" [formControl]="removePaymentForm.controls['paymentId']" [(ngModel)]="paymentId" />
                <textarea class="form-control" id="comment" type="text" rows="5" [formControl]="removePaymentForm.controls['comment']" [(ngModel)]="comment"
                    container="body" placement="right"></textarea>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <div>
                        <label class="custom-control custom-radio">
                        <input id="rdmember" name="tradio" type="radio" (change) = "setPaymentRemoveType(1)" class="custom-control-input" [checked]="deleteType === 1"   [formControl]="removePaymentForm.controls['deleteType']"  container="body" placement="right">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Remove Payment</span>
                        </label>
                    </div>
                    <div>
                        <label class="custom-control custom-radio">
                        <input id="rdcompany" name="tradio" type="radio" (change) = "setPaymentRemoveType(0)" class="custom-control-input" [checked]="deleteType === 0"  [formControl]="removePaymentForm.controls['deleteType']" container="body" placement="right">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Move to deviation log</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate" (click)="deletePayment(removePaymentForm.value)"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate" (click)="closePaymentRemoveForm()"></us-icon-button>
        </div>
    </form>
</ng-template>





<ng-template #payementPrintModal let-c="close" let-d="dismiss">
    <form [formGroup]="printForm">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SetDurationView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
        <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate" [formControl]="printForm.controls['startDate']">
        </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
        <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate" [formControl]="printForm.controls['endDate']">
        </us-date-picker>
      </div>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="printPayments()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="closePrintPayments()"></us-icon-button>
    </div>
    </form>
</ng-template>
