<div class="modal-body p-0">
<us-tab-verticle>
  <vtab-content [tabTitle]="'CLASS.ClassInfoC' | translate">
    <form [formGroup]="classInfoForm">
      <div class="d-flex mt-3">
        <div class="col">
          <div class="form-group">
            <label>{{ 'CLASS.ClassTypeC' | translate }}</label>
            <div class="input-group">
              <input formControlName="Name" type="text" class="form-control" formControlName="Name"
              us-error [errorMsg]="formErrors.Name" [displayError]="clsInfoFormSubmited && !classInfoForm.get('Name').valid"
              placement="bottom">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="openClassTypeSelection(entitySelectionModal)">{{ 'CLASS.Select' | translate }}</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.Id' | translate }}</label>
            <input formControlName="Code" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.Group' | translate }}</label>
            <input formControlName="Group" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.Duration' | translate }}</label>
            <input formControlName="TimeDuration" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.Level' | translate }}</label>
            <input formControlName="ClassLevel" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.KeyWordsC' | translate }}</label>
            <input formControlName="ClassKeywordString" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.Colour' | translate }}</label>
            <p class="p-3" [style.background]="classColor"></p>
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.BookClsSchTimeLbl' | translate }}</label>
            <input formControlName="TimeCategory" type="text" class="form-control">
          </div>

        </div>
        <div class="col">
          <div class="form-group">
            <label>{{ 'CLASS.CategoryC' | translate }}</label>
            <ul class="list-group" style="height:456px; overflow-y: auto;">
              <li class="list-group-item p-2" *ngFor="let item of classCategoryList">{{item.Name}}</li>
            </ul>
          </div>

        </div>
      </div>
    </form>

  </vtab-content>
  <vtab-content [tabTitle]="'CLASS.Schedule' | translate">
    <form [formGroup]="scheduleForm">
      <div class="d-flex mt-3">
        <div class="col-5">
          <div class="form-group">
            <label>{{ 'CLASS.Day' | translate }}</label>
            <select formControlName="Day" class="form-control custom-select">
              <option [ngValue]="0">{{ 'CLASS.Sunday' | translate }}</option>
              <option [ngValue]="1">{{ 'CLASS.Monday' | translate }}</option>
              <option [ngValue]="2">{{ 'CLASS.Tuesday' | translate }}</option>
              <option [ngValue]="3">{{ 'CLASS.Wednesday' | translate }}</option>
              <option [ngValue]="4">{{ 'CLASS.Thursday' | translate }}</option>
              <option [ngValue]="5">{{ 'CLASS.Friday' | translate }}</option>
              <option [ngValue]="6">{{ 'CLASS.Saturday' | translate }}</option>
            </select>
          </div>

          <div class="row no-gutters">
            <div class="col mr-1">
              <div class="form-group">
                <label>{{ 'CLASS.FromTimeC' | translate }}</label>
                <us-time-picker formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}"> </us-time-picker>
              </div>

            </div>
            <div class="col ml-1">
              <div class="form-group">
                <label>{{ 'CLASS.ToTimeC' | translate }}</label>
                <us-time-picker formControlName="EndTime" [config]="{'format' :'MM:mm', 'is24hourFormat':true}"> </us-time-picker>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'CLASS.MaxNoBooking' | translate }}</label>
            <div class="input-group">
              <input formControlName="MaxNoOfBooking" type="text" class="form-control w-25">
              <select formControlName="WeekType" class="form-control custom-select w-75">
                <option [value]="2">{{ 'CLASS.All' | translate }}</option>
                <option [value]="1">{{ 'CLASS.ODD' | translate }}</option>
                <option [value]="0">{{ 'CLASS.EVEN' | translate }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>{{ 'CLASS.From' | translate }}</label>
                <us-date-picker  [options]="invalidDateInterval" formControlName="FromDate" [locale]="'COMMON.Locale'| translate" (dateChanged)="fromDateChanged($event)"> </us-date-picker>
              </div>

            </div>
            <div class="col">
              <div class="form-group">
                <label>{{ 'CLASS.To' | translate }}</label>
                <us-date-picker [options]="invalidDateInterval" formControlName="ToDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
            </div>
          </div>

        </div>

        <div class="col-7">
          <div class="d-flex justify-content-between mb-1">
            <div>
              <label>{{ 'CLASS.Instructor' | translate }}</label>
            </div>
            <div>
              <button class="btn btn-primary" type="button" (click)="openInstructorSelection(instructorModal)">{{ 'CLASS.Select' | translate }}</button>
            </div>
          </div>
          <div class="d-flex mb-2 ">
            <table class="table table-sm table-hover table-default header-fix-table">
              <thead class="thead-primary">
                <tr>
                  <th>{{ 'CLASS.InstructorNameC' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedInstructors">
                  <td>{{item.Name}}</td>
                  <td>
                    <button (click)="removeInstructor(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.Delete' |translate}}">
                      <span class="icon-cancel"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between mb-1">
            <div>
              <label>{{ 'CLASS.Location' | translate }}</label>
            </div>
            <div>
              <button class="btn btn-primary " type="button" (click)="OpenLocationSelection(entitySelectionModal)">{{ 'CLASS.Select' | translate }}</button>
            </div>
          </div>
          <div class="d-flex mb-1 ">
            <table class="table table-sm table-hover table-default header-fix-table">
              <thead class="thead-primary">
                <tr>
                  <th>{{ 'CLASS.LocationNameC' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedLocations">
                  <td>{{item.Name}}</td>
                  <td>
                    <button (click)="removeLocation(item)" class="btn btn-danger btn-icon-min" title="{{'CLASS.Delete' |translate}}">
                      <span class="icon-cancel"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>

  </vtab-content>
</us-tab-verticle>
</div>
<div class="modal-footer">
  <us-icon-button *ngIf="isDeleted" [iconClass]="'icon-danger'" [labelText]="'CLASS.DeleteC' |translate" (click)="saveNewClass()"></us-icon-button>
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'CLASS.Save' |translate" (click)="saveNewClass()"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CLASS.Cancel' |translate" (click)="closeNewClsModel()"></us-icon-button>

</div>

<ng-template #entitySelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selecteItem($event)" (selectedItems)="selectMultipleItems($event)"
      [multipleSelect]="multipleSelect" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
      [itemcount]="itemCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="false"
      [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false" (closeViewEvent)="closeEntView()">

    </exce-entityselection>
  </div>
</ng-template>

<ng-template #instructorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selecteItem($event)" (selectedItems)="selectMultipleItems($event)"
      [multipleSelect]="multipleSelect" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
      [itemcount]="itemCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="false"
      [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false" (closeViewEvent)="closeEntView()">

    </exce-entityselection> -->
    <exce-memberlist [allowMultipleSelect]="true" [getType]="'INSTRUCTOR'" [hideRoleSelect]="true" [hideStatusSelect]="true"
    [hideBranchSelect]="true" [columnsToShow]="columnsToShow" (closeViewEvent)="closeEntView()" (membersSelected)="selectMultipleItems($event)">

    </exce-memberlist>
  </div>
</ng-template>
