<div class="d-flex justify-content-center align-items-center h-100 ">
  <div class="row tile-translate-up">
    <div class="ml-4" style="max-width:400px;">
        <a role="button" class="homeButton" (click)="navigateToHome()">
            <span class="icon-home"></span>
          </a>
    </div>
    <div class="d-flex flex-column">
      <h5>{{selectedModule?.DisplayName}}</h5>
      <div class="d-flex flex-wrap" style="max-width:700px;">
        <div class="tile blue d-flex m-1" *ngFor="let feature of selectedModule?.Features" (click)="featureSelected(feature)" [style.background]="feature.FeatureColor">
          <span class="align-self-end">
            <img class="" src="assets/images/modules/{{feature.ThumbnailImage}}">
          </span>
          <h4 class="title align-self-center pl-2">{{feature.DisplayName}}</h4>
        </div>
      </div>
    </div>
    <div class="ml-4" style="max-width:400px;">
      <div class="d-flex flex-column">
        <h5>{{selectedFeatureName}}</h5>
        <div class="d-flex flex-wrap">
          <div class="tile orange flex-column m-1 operation" *ngFor="let operation of selectedOperation" (click)="operationSelected(operation)"
            [style.background]="operation.OperationColor">
            <h4 class="title">{{operation.DisplayName}}</h4>
            <span class="mb-auto">
              <img class="" src="assets/images/modules/{{operation.ThumbnailImage}}" width="28">
            </span>

          </div>
        </div>
      </div>



    </div>


  </div>
</div>
