<div class=" w-100">

  <form [formGroup]="memberVisitsForm">

    <div class="d-flex justify-content-start w-100 mt-2">
      <div class="col-4 p-0 mr-2">
        <div class="input-group">
          <span class="input-group-addon border-left-0">{{'ADMIN.From' | translate}}</span>
          <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [formControl]="memberVisitsForm.controls['fromDate']"
            [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions" (dateChanged)="fromDateChange($event, toDate)">
          </us-date-picker>
          <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
          <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [formControl]="memberVisitsForm.controls['toDate']" [locale]="'COMMON.Locale'| translate"
            [options]="toDatePickerOptions" (dateChanged)="toDateChange($event)">
          </us-date-picker>
          <span>
            <button type="button" class="btn btn-primary" (click)="memberVisitsSearch(memberVisitsForm.value)">{{'COMMON.View'| translate}}</button>
          </span>
        </div>
      </div>

      <div class="p-0 mr-2">
        <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInputByName(NamePipeFilter.value)" placeholder="{{'ADMIN.Name' | translate}}">
      </div>

      <div class="p-0 mr-2">
        <input type="text" class="form-control" #DatePipeFilter (keyup)="filterInputByDate(DatePipeFilter.value)" placeholder="{{'ADMIN.VisitDate' | translate}}">
      </div>

      <div class="p-0 mr-2">
        <label>{{'ADMIN.TimeEntryHVWMGroupBy' | translate}}</label>
        <select class="custom-select" style="min-width: 180px;" #GroupByName (change)="GroupBy(GroupByName.value)">
          <option selected value="all">{{'COMMON.All' | translate}}</option>
          <option value="name">{{'ADMIN.Name' | translate}}</option>
          <option value="visitDate">{{'ADMIN.VisitDate' | translate}}</option>
        </select>
      </div>
      
      <!-- <div class="p-0 mr-2">
          <label>{{'ADMIN.AccessPointGroupBy' | translate}}</label>
          <select class="custom-select" style="min-width: 180px;" #AccessPointFilter (change)="filterAccess(AccessPointFilter.value)">
            <option selected value="all">{{'COMMON.All' | translate}}</option>
            <option *ngFor="let item of accessPoints" value="{{item}}">{{item}}</option>
            <option></option>
          </select>
        </div>         -->
    </div>
  </form>

  <!-- us-tree-table -->
  <div class="d-flex report-tb-scroller">
    <us-tree-table (onRowDblclick)="rowDblClick($event)" [value]="files" [style]="{'margin-top':'9px', 'overflow-y': 'scroll' ,  'position': 'absolute', 'height': '800px' }">

      <us-tree-column [field]="'CutomerNo'" header="{{'ADMIN.CustomerNoPerson' | translate}}">
      </us-tree-column>

      <!--<us-tree-column [field]="'EntityId'" header="{{'ADMIN.CustomerNoPerson' | translate}}">
      </us-tree-column>-->

      <us-tree-column [field]="'EntityName'" header="{{'ADMIN.Name' | translate}}">
      </us-tree-column>

      <us-tree-column [field]="'BranchId'" header="{{'ADMIN.BranchId' | translate}}">
      </us-tree-column>

      <us-tree-column [field]="'VisitDate'" header="{{'ADMIN.VisitDate' | translate}}">
        <ng-template #dataTableCell let-item="item">
          <span>{{item?.VisitDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </us-tree-column>

      <us-tree-column field="InTime" header="{{'ADMIN.VisitTimeEntriesInTime' | translate}}">
        <ng-template #dataTableCell let-item="item">
          <span>{{item?.InTime | date:'HH:mm'}}</span>
        </ng-template>
      </us-tree-column>

      <us-tree-column [field]="'AccessControlType'" header="{{'ADMIN.AccessControlType' | translate}}">
        </us-tree-column>

    </us-tree-table>
  </div>
</div>
