<div class="row no-gutters">
  <div class="col-12">

    <ol class="breadcrumb float-left">
      <li class="breadcrumb-item"><a a role="button" (click)="navigateTo('/')"><span class="icon-home"></span></a></li>
      <li *ngFor="let url of _urls; let last = last" [ngClass]="{'breadcrumb-item': useBootstrap, 'active': last}">
        <a role="button" *ngIf="!last && url == prefix" (click)="navigateTo('/')">{{url}}</a>
        <a role="button" *ngIf="!last && url != prefix" (click)="navigateTo(url)">{{friendlyName(url)}}</a>
        <span *ngIf="last">{{friendlyName(url)}}</span>
        <span *ngIf="last && url == prefix">{{friendlyName('/')}}</span>
      </li>
    </ol>
    <ol class="breadcrumb float-right">
      <li class="breadcrumb-item" *ngIf="_urls.length > 0"><a role="button" (click)="closeClicked()"><span class="icon-close"></span></a></li>
    </ol>
  </div>
</div>