<div class="d-flex px-1">
  <div class="mr-auto col-4 p-0 mr-2">
    <form [formGroup]="searchForm">
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='startDate' [locale]="'ADMIN.Locale'| translate"
          >
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
        <us-date-picker class="w-100 mr-2" name="toDate" #toDate formControlName='endDate' [locale]="'ADMIN.Locale'| translate">
        </us-date-picker>
      </div>
    </form>
  </div>

  <div class="input-group">
    <select class="custom-select col-md-3 mr-2 cursor-hand" [(value)]="selectedType">
          <option selected value="UnknownExceeded">Unknown/Exceeded</option>
          <option selected value="All">All</option>
        </select>

    <us-icon-button [iconClass]="'icon-search'" (click)="getUnknownPayments()" [labelText]="'ECONOMY.Search' | translate "></us-icon-button>

  </div>
</div>

<div class="d-flex justify-content-between px-1 mt-2">
  <div class="input-group">
    <input type="text" #cusId (keyup)="filterPayments(cusId.value, ref.value, kid.value, amt.value, vou.value,  'CUSTID')" class="form-control col-md-2 mr-2"
      placeholder="{{ 'ECONOMY.CustomerNumber' | translate }}">

    <input type="text" #ref (keyup)="filterPayments(cusId.value, ref.value, kid.value, amt.value, vou.value,  'REF')" class="form-control col-md-1 mr-2"
      placeholder="{{ 'ECONOMY.InvoiceNo' | translate }}">

    <input type="text" #kid (keyup)="filterPayments(cusId.value, ref.value, kid.value, amt.value, vou.value,  'KID')" class="form-control col-md-1 mr-2"
      placeholder="{{ 'ECONOMY.KID' | translate }}">

    <input type="text" #amt (keyup)="filterPayments(cusId.value, ref.value, kid.value, amt.value, vou.value,  'AMT')" class="form-control col-md-1 mr-2"
      placeholder="{{ 'ECONOMY.Amount' | translate }}">

    <input type="text" #vou (keyup)="filterPayments(cusId.value, ref.value, kid.value, amt.value, vou.value,  'VOU')" class="form-control col-md-2 mr-2"
      placeholder="{{ 'ECONOMY.VoucherDate' | translate }}">

  </div>
  <div>
    <button type="button" class="btn btn-primary btn-icon-min" title="Export to excel">
      <svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24"  xml:space="preserve">
<path class="fill-white" d="M12.1,1.6C8.4,2.3,4.7,2.9,1,3.5v16.9c3.7,0.6,7.4,1.3,11,2h1.5v-2.9h0V1.6H12.1z M8.1,15.8c-0.5-1-0.9-2-1.2-3
	c-0.3,1-0.8,1.9-1.2,2.9c-0.5,0-1.1,0-1.6-0.1c0.6-1.2,1.2-2.4,1.9-3.6c-0.5-1.2-1.1-2.5-1.7-3.7l1.6-0.1C6.3,9.1,6.6,10,6.9,11
	c0.3-1,0.8-2,1.2-3c0.5,0,1.1-0.1,1.6-0.1c-0.6,1.3-1.3,2.6-1.9,4c0.7,1.3,1.3,2.7,2,4C9.3,15.8,8.7,15.8,8.1,15.8z M14.2,3.9v1.3
	h2.6v1.9h-2.6v1h2.6V10h-2.6v1h2.6v1.9h-2.6v1h2.6v1.9h-2.6V17h2.6v1.8h-2.6v1.3H23V3.9H14.2z M21,18.8h-3.7V17H21V18.8z M21,15.9
	h-3.7V14H21V15.9z M21,12.9h-3.7v-1.9H21V12.9z M21,10h-3.7V8.1H21V10z M21,7.1h-3.7V5.2H21V7.1z"/>
</svg>
    </button>
  </div>
</div>


<div class="d-flex px-1 mt-1">
  <us-data-table id="" [items]="ErrorPayments" >
    <data-table-column [property]="'RegDate'" header="{{ 'ECONOMY.InvoiceSearchDataGridHeaderRegDate' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.RegDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'transactionDate'" header="{{ 'ECONOMY.VoucherDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.VoucherDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Amount'" header="{{ 'ECONOMY.Amount' | translate }}" [sortable]="true" [resizable]="true"  [alignment]="'right'" [width]="120" >
      <ng-template #dataTableCell let-item="item">
        <span>{{item.Amount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Ref'" header="{{ 'ECONOMY.InvoiceNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'CustId'" header="{{ 'ECONOMY.CustomerNumber' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'KID'" header="{{ 'ECONOMY.KID' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ErrorPaymentType'" header="{{ 'ECONOMY.Status' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header=""  [width]="120">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary" *ngIf="item.EnableButtons" (click)="selectInvoice(invoiceSearchModal, item)">{{ 'ECONOMY.SelectInvoice' | translate }}</button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary" (click)="moveToShopEvent(item,'SHOP')" *ngIf="item.EnableButtons">{{ 'ECONOMY.ShopAccount' | translate }}</button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [width]="132">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary" (click)="moveToShopEvent(item,'PRE')" *ngIf="item.EnableButtons">{{ 'ECONOMY.PrepaidBalance' | translate }}</button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-danger btn-icon-min" (click)="deleteErrorPayment(item)" title="{{'ECONOMY.Delete' | translate}}"><span class="icon-cancel"></span> </button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ARItemMatched'" header="{{ 'ECONOMY.MatchResult' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>

<div class="d-flex px-1 mt-2">
  <div class="input-group">
    <us-icon-button class="mr-2 cursor-hand" [iconClass]="'icon-print'" (click)="printDeviation()" [labelText]="'ECONOMY.Print' | translate"></us-icon-button>
    <button class="btn btn-primary mr-2" [disabled]="!IsEnableCommitButton" (click)="commitRecords()">{{ 'ECONOMY.CommitMatchedRecords' | translate }}</button>
    <button class="btn btn-primary mr-2" (click)="resetEvent()">{{ 'ECONOMY.Reset' | translate }}</button>
  </div>
</div>


<ng-template #invoiceSearchModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ECONOMY.InvoiceSearch' | translate }}</span>
    <button type="button" class="close modal-close cursor-hand" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true" class="icon-close"></span>
          </button>
  </div>
  <div class="modal-body">

    <div class="d-flex">
      <div class="input-group" style="width: 350px;">
        <!--<input type="text" class="form-control">-->
         <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="searchInvoice()"
         (selectEvent)="onSelect($event)"> </us-autocomplete>
        <select class="custom-select">
          <option value="-1">{{'ECONOMY.InvoiceSearchComboBoxContentOpen'| translate}}</option>
        </select>
        <button class="btn btn-primary btn-icon cursor-hand" type="button">
          <span class="icon-search"></span>
        </button>
      </div>
    </div>

    <div class="d-flex my-2">
      <div class="input-group">
        <input type="text" #ref (keyup)="filterInvoices(ref.value, KID.value, amount.value, invoiceDate.value, dueDate.value,  'REF')" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.InvoiceNo' | translate }}">

        <input type="text" #KID (keyup)="filterInvoices(ref.value, KID.value, amount.value, invoiceDate.value, dueDate.value,  'KID')" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.InvoiceSearchWaterMarkKid' | translate }}">

        <input type="text" #amount (keyup)="filterInvoices(ref.value, KID.value, amount.value, invoiceDate.value, dueDate.value,  'AMT')" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.Amount' | translate }}">

        <!--<input type="text" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.Balance' | translate }}">-->
<!--
        <input type="text" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.InvoiceSearchDataGridHeaderRegDate' | translate }}">-->

        <input type="text" #invoiceDate (keyup)="filterInvoices(ref.value, KID.value, amount.value, invoiceDate.value, dueDate.value,  'INVDATE')" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.InvoiceSearchDataGridHeaderInvoiceDate' | translate }}">

        <input type="text" #dueDate (keyup)="filterInvoices(ref.value, KID.value, amount.value, invoiceDate.value, dueDate.value,  'DUEDATE')" class="form-control col-md-1 mr-2" placeholder="{{ 'ECONOMY.InvoiceSearchDataGridHeaderDueDate' | translate }}">

      </div>
    </div>
    <div class="d-flex">
      <us-data-table class="inv-search-table" [pagination]="false" [items]="invoiceList"   (rowDoubleClick)="invoiceSelected($event)">
        <!--<data-table-column [property]="''" [header]="'ECONOMY.Select' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>-->
        <data-table-column [property]="'InvoiceNumber'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderInvoiceNo' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'KID'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderKID' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Amount'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderAmount' | translate" [sortable]="true" [resizable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.Amount |  amountConverter:locale}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Balance'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderBalance' | translate" [sortable]="true" [resizable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.Balance |  amountConverter:locale}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'RegDate'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderRegDate' | translate" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.RegDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'InvoicedDate'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderInvoiceDate' | translate" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.InvoicedDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'DueDate'" [header]="'ECONOMY.InvoiceSearchDataGridHeaderDueDate' | translate" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
      </us-data-table>
    </div>
  </div>
  <div class="modal-footer pt-0">
    <us-icon-button [iconClass]="'icon-done'" class="mr-1 cursor-hand" (click) = "closeInvoiceView()" [labelText]="'ECONOMY.Ok' | translate "></us-icon-button>
    <!--<us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ECONOMY.Cancel' | translate" (click)="d('Cross click')"></us-icon-button>-->

  </div>
</ng-template>
