<div class="d-flex justify-content-start no-gutters mb-1 mx-1">
  <div class="col-3 mr-2 ">
    <div class="input-group default-input-group ">
      <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value,CategoryTypeSelect.value)"
        placeholder="{{'ADMIN.FilterByName'| translate}}">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-icon" type="button">
          <span class="icon-close"></span>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button">
          <span class="icon-search"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="col-3">
    <select class="custom-select mr-sm-2 cursor-hand" #CategoryTypeSelect (change)="filterInput(NamePipeFilter.value,CategoryTypeSelect.value)">
      <option value="ALL">{{'ADMIN.ALL'| translate}}</option>
      <option *ngFor="let cType of categoryTypes" value={{cType.Id}}> {{cType.Name}} </option>
    </select>
  </div>

  <div class="col">
    <us-icon-button class="float-right" [iconClass]="'icon-add'" (click)="openCategoryModel(newCategory,true)" [labelText]="'ADMIN.MngCtgryNewCategory'| translate"></us-icon-button>
  </div>

</div>

<div>
  <us-data-table headerTitle="Manage Categories" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="openCategoryModel(newCategory,false)"
    (rowDoubleClick)="rowDoubleClick($event)"  [limit]="limit" [offset]="setOffset()">
    <data-table-column [property]="'Name'" [header]="'ADMIN.Name'| translate" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Description'" [header]="'ADMIN.Description'| translate" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>


<ng-template #newCategory let-c="close" let-d="dismiss">
  <form [formGroup]="categoryForm" #addCatForm>
    <div class="modal-header">
      <span class="modal-title">
        <span [hidden]="!isAddNew">{{'ADMIN.MngCtgryNewCategory'| translate}}</span>
        <span [hidden]="isAddNew">{{'ADMIN.EditCategory'| translate}}</span>
      </span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>{{'COMMON.Type'| translate}}</label>
            <div class="input-group">
              <select class="custom-select" id="addCatType" [formControl]="categoryForm.controls['TypeId']" [exceError]="categoryForm.controls['TypeId']"
                triggers="manual" container="body" placement="right">
                <option *ngFor="let cType of categoryTypes" value={{cType.Id}}>
                  {{cType.Name}}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Name'| translate}}</label>
            <input class="form-control" id="addCatName" [formControl]="categoryForm.controls['Name']" [exceError]="categoryForm.controls['Name']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'COMMON.Color'| translate}}</label>
            <div class="input-group">
              <!-- <input class="form-control" id="addCatName" [formControl]="categoryForm.controls['Name']" [exceError]="categoryForm.controls['Name']" triggers="manual" container="body" placement="right">
         -->
              <input [(colorPicker)]="currentColor" class="form-control" id="addCatColor" [style.background]="currentColor" [value]="currentColor"
                (colorPickerChange)="colorChange($event)" [formControl]="categoryForm.controls['Color']" [exceError]="categoryForm.controls['Color']"
                triggers="manual" container="body" placement="right" />

            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>{{'ADMIN.Description'| translate}}</label>
            <textarea class="form-control" id="addCatDescription" type="text" rows="10" [formControl]="categoryForm.controls['Description']"
              [exceError]="categoryForm.controls['Description']" triggers="manual" container="body" placement="right"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save'| translate" (click)="saveCategory(categoryForm.value)"
        [isDisabled]="!categoryForm.valid" *ngIf="isAddNew"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [iconBgClass]="'bg-danger'" [labelText]="'COMMON.Delete'| translate" (click)="deleteCategory(categoryForm.value)"
        [isDisabled]="!categoryForm.valid" *ngIf="!isAddNew"></us-icon-button>
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="editCategory(categoryForm.value)"
        [isDisabled]="!categoryForm.valid" *ngIf="!isAddNew"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>
