<form [formGroup]="basicInfoForm">
      <div class="system-set-binfo-scroller">
            <div class="d-flex no-gutters">
                  <div class="col-2 mr-2">
                        <div class="form-group">
                              <label>{{ 'ADMIN.GymCompanyID' | translate}} </label>
                              <input class="form-control" formControlName="GymCompanyID" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.GymCompanyName' | translate}} </label>
                              <input class="form-control" formControlName="GymCompanyName" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.Address1' | translate}} </label>
                              <input class="form-control" formControlName="Address1" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.Address2' | translate}} </label>
                              <input class="form-control" formControlName="Address2" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.Address3' | translate}} </label>
                              <input class="form-control" formControlName="Address3" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.PostalCode' | translate}} </label>
                              <input class="form-control" formControlName="PostalCode" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.PostalPlace' | translate}} </label>
                              <input class="form-control" formControlName="PostalPlace" disabled="true" type="text">
                        </div>
                  </div>
                  <div class="col-2">
                        <div class="form-group">
                              <label>{{ 'ADMIN.ContactPerson' | translate}} </label>
                              <input class="form-control" formControlName="ContactPerson" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.Email' | translate}} </label>
                              <input class="form-control" formControlName="Email" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.Mobile' | translate}} </label>
                              <input class="form-control" formControlName="Mobile" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.AccountNo' | translate}} </label>
                              <input class="form-control" formControlName="AccountNo" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.OtherAdminMobile' | translate}} </label>
                              <input class="form-control" formControlName="OtherAdminMobile" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.OtherAdminEmail' | translate}} </label>
                              <input class="form-control" formControlName="OtherAdminEmail" type="text">
                        </div>
                  </div>
            </div>
      </div>
      <div>
            <us-icon-button [iconClass]="'icon-done'" (click)="saveBasicInfo()" [labelText]="'ADMIN.Save' | translate "></us-icon-button>

      </div>
</form>