.select-column {
    text-align: center;
}
.row-expand-button {
    cursor: pointer;
    text-align: center;
}
.clickable {
    cursor: pointer;
}
.select-column {
    width: 50px;
    text-align: center;
}