%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead {
      display: table;
        width: 100%;
        table-layout: fixed;
    }
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .table-default {
    height: 384px;
    @extend %table-header-fixed-scroller;
}

.select-rev-acc-table {
    ::ng-deep .data-table {
        height: calc(100vh - 278px);
        @extend %table-header-fixed-scroller;
    }
}

.select-vatcode-table{
    ::ng-deep .data-table {
        height: calc(100vh - 200px);
        @extend %table-header-fixed-scroller;
    }
}
