<div [ngClass]="'ui-treetable ui-widget'" [ngStyle]="style" [class]="styleClass">
  <div class="ui-treetable-header ui-widget-header" *ngIf="header">
      <ng-content select="p-header"></ng-content>
  </div>
  <div class="ui-treetable-tablewrapper">
      <table #tbl class="ui-widget-content" [class]="tableStyleClass" [ngStyle]="tableStyle">
          <thead>
              <tr class="ui-state-default">
                  <th #headerCell *ngFor="let col of columns; let lastCol=last "  [ngStyle]="col.style" [class]="col.styleClass"
                      [ngClass]="'ui-state-default ui-unselectable-text'">
                      <span class="ui-column-title" *ngIf="!col.headerTemplate">{{col.header}}</span>
                      <span class="ui-column-title" *ngIf="col.headerTemplate">
                          <us-tree-header-loader [column]="col"></us-tree-header-loader>
                      </span>
                  </th>
              </tr>
          </thead>
          <tfoot *ngIf="hasFooter()">
              <tr>
                  <td *ngFor="let col of columns" [ngStyle]="col.style" [class]="col.styleClass" [ngClass]="{'ui-state-default':true}">
                      <span class="ui-column-footer" *ngIf="!col.footerTemplate">{{col.footer}}</span>
                      <span class="ui-column-footer" *ngIf="col.footerTemplate">
                          <us-tree-footer-loader [column]="col"></us-tree-footer-loader>
                      </span>
                  </td>
              </tr>
          </tfoot>
          <tbody usTreeRow *ngFor="let node of value" class="ui-treetable-data ui-widget-content" [node]="node" [level]="0" [labelExpand]="labelExpand" [labelCollapse]="labelCollapse"></tbody>
      </table>
  </div>

  <div class="ui-treetable-footer ui-widget-header" *ngIf="footer">
      <ng-content select="p-footer"></ng-content>
  </div>
</div>
