<div class="d-flex justify-content-start px-1">
  <input type="text" #NamePipeFilter (keyup)="filterInventory(NamePipeFilter.value)" class="form-control col-2 mr-2" placeholder="Filter"
  />

  <div class="ml-auto">
    <div class="input-group">
      <us-icon-button [iconClass]="'icon-add'" class="mr-2" [labelText]="'ADMIN.AddCountingList' | translate" [isDisabled]="!isApproved"
        (click)="openNewCountingList(addCountingList)"></us-icon-button>
    </div>
  </div>
</div>

<div class="d-flex mx-1 mt-2">
  <us-data-table id="" [pagination]="false" [items]="inventoryList" [itemCount]="itemCount" (reload)="reloadInventoryList($event)"
    [limit]="50" [showPageNumber]="true" [showFirstLast]="true" >
    <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.StartDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ApprovedDate'" header="{{ 'ADMIN.ApprovedDate' | translate }}" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ApprovedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'NetValue'" header="{{ 'ADMIN.CountedValue' | translate }}" [sortable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.NetValue | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex">
          <button (click)="inventoryDetails(item)" class="btn btn-primary btn-icon btn-icon-min" title="{{ 'ADMIN.Details' | translate }}">
            <span class="icon-detail"></span>
          </button>
          <button (click)="editInventory(addCountingList, item)" class="btn btn-primary btn-icon btn-icon-min mx-1" title="{{ 'ADMIN.Edit' | translate }}">
            <span class="icon-edit"></span>
          </button>
          <button (click)="deleteInventory(item)" class="btn btn-danger btn-icon btn-icon-min" title="{{ 'ADMIN.Delete' | translate }}">
            <span class="icon-cancel"></span>
          </button>
        </div>
      </ng-template>
    </data-table-column>

  </us-data-table>
</div>


<ng-template #addCountingList let-c="close" let-d="dismiss">
  <form [formGroup]="inventoryForm">
    <div class="modal-header">
      <span class="modal-title">{{'ADMIN.TitleEditCountingList' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{'ADMIN.Name' | translate}} </label>

        <input class="form-control" formControlName="Name" type="text" us-error [errorMsg]="formErrors.Name" [displayError]="formSubmited && !inventoryForm.get('Name').valid"
          placement="right">

      </div>
      <div class="d-flex no-gutters">
        <div class="col mr-1">
          <div class="form-group">
            <label>{{ 'ADMIN.StartDate' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='StartDate'> </us-date-picker>
            </div>
          </div>
        </div>
        <div class="col ml-1">
          <div class="form-group">
            <label>{{ 'ADMIN.ApprovedDate' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" [disabled]="!(inventoryForm.get('Id').value > 0)" formControlName='ApprovedDate'>
              </us-date-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group w-50">
        <label>{{'ADMIN.NetValue' | translate}} </label>
        <us-amount-input formControlName='NetValue' type="text"> </us-amount-input>
        <!-- <input type="text" class="form-control"> -->
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button class="mr-1" (click)="saveInventory(inventoryForm.value)" [isDisabled]="isDisableAppDate" [iconClass]="'icon-done'"
        [labelText]="'ADMIN.Save' | translate"> </us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
    </div>
  </form>
</ng-template>
