<div class="tab-header">
  <div class="tab" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">{{tab.title}}</div>
</div>

<div class="tab-content">
  <ng-container *ngComponentOutlet="content | async"></ng-container>
</div>
