<form [formGroup]="addVisitForm" #addVisits>
  <div class="d-flex justify-content-start">
    <div class="mr-1">
      <div class="form-inline">
        <span class="mr-2">{{'MEMBERSHIP.INVDDate' | translate}}</span>
        <div class="form-group">
          <us-date-picker style="width: 200px;" [formControl]="addVisitForm.controls['VisitDate']" us-error [options]="disableSince" [locale]="'COMMON.Locale'| translate"
            #visitDate [errorMsg]="formErrors.VisitDate" (dateChanged)="timeValidator(addVisitForm.value)" [displayError]="formSubmited && !addVisitForm.get('VisitDate').valid">
          </us-date-picker>
        </div>

        <span class="mx-2">{{'MEMBERSHIP.Time' | translate}}</span>

        <div class="form-group">
          <us-time-picker style="width: 200px;" [formControl]="addVisitForm.controls['InTime']" #inTime us-error [config]="timeConfig"
            (timeChanged)="timeValidator(addVisitForm.value)" [errorMsg]="formErrors.InTime" [displayError]="formSubmited && !addVisitForm.get('InTime').valid">
          </us-time-picker>
        </div>
        <span class="mx-2">{{'MEMBERSHIP.Activity' | translate}}</span>
        <select class="custom-select" style="width:250px;"  [(ngModel)] = "selectedActivity" [formControl]="addVisitForm.controls['Activity']">
          <!--  us-error [errorMsg]="formErrors.ActivityId" [displayError]="formSubmited && !addVisitForm.get('ActivityId').valid" -->
          <option *ngFor="let activity of activities" [ngValue]="activity">
            {{activity.Name}}
          </option>
        </select>
        <button type="submit" class="btn btn-primary mx-2" (click)="submitForm(addVisitForm.value,shopHomeModel )">{{'MEMBERSHIP.Add' | translate}}</button>
        <span class="mx-2">{{'MEMBERSHIP.VisitVWCountVisitAfterTime' | translate}} {{countVisitAfter}}</span>
        <span class="mx-2 float-right">{{'MEMBERSHIP.TrailDate' | translate}} : {{trailDate | date:('COMMON.DateFormat'|translate) }}</span>
      </div>
    </div>
  </div>
</form>
<hr class="hr-dashed my-1">

<div class="d-flex justify-content-start">
  <div class="form-inline">
    <span>{{'MEMBERSHIP.Gym' | translate}}</span>
  </div>
  <div class="form-group mx-2">
    <select class="custom-select" style="width:198px;" #gymName (change)="filterInput(gymName.value)">
      <option value="ALL">ALL</option>
      <option *ngFor="let branch of branches" value= {{branch.BranchName}}>
        {{branch.BranchName}}
      </option>
    </select>
  </div>
</div>
<div class="mt-1">
  <div class="d-flex justify-content-start">
    <us-data-table id="persons-grid" [items]="visits" [itemCount]="visitCount">
      <data-table-column [property]="'VisitDate'" [header]="'MEMBERSHIP.INVDDate' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.VisitDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'InTime'" [header]="'MEMBERSHIP.Time' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.InTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'ContractNo'" [header]="'MEMBERSHIP.Contract' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'ItemName'" [header]="'MEMBERSHIP.templateOrArticle' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'GymName'" [header]="'MEMBERSHIP.Gym' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'AccessControlType'" [header]="'MEMBERSHIP.accessType' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="''" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' |translate}}" (click)="deleteSetting(item)">
            <span class="icon-cancel"></span>
          </button>
        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
</div>
<div class="d-flex justify-content-start mt-1">
  <us-icon-button class="mr-2" [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.PrintVisits' |translate" (click)="openPrintModel(printBooking)"></us-icon-button>
  <us-icon-button class="mr-2" [iconClass]="'icon-count'" [labelText]="'MEMBERSHIP.Count' |translate" (click)="openVisitsModel(countVisits)"></us-icon-button>
</div>

<ng-template #printBooking let-c="close" let-d="dismiss">
  <form [formGroup]="printVisitsForm" #printBook>
    <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.SetDurationView' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
        <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate" [formControl]="printVisitsForm.controls['fromDate']">
        </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
        <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate" [formControl]="printVisitsForm.controls['toDate']">
        </us-date-picker>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Ok' | translate }}" (click)="printVisits(printVisitsForm.value)"></us-icon-button>

      <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #countVisits let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SelectDurationViewTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">

    <form [formGroup]="countForm" #countFrm>
      <div class="d-flex no-gutters">
        <div class="col-5 mr-2">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
            <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate" [formControl]="countForm.controls['fromDate']">
            </us-date-picker>
          </div>
        </div>
        <div class="col-5 mr-2">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
            <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate" [formControl]="countForm.controls['toDate']">
            </us-date-picker>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary mt-4" (click)="count(countForm.value)">View</button>
        </div>
      </div>
    </form>
    <label>Visits Taken:</label>
    <span>
      <strong>{{visitsTaken}}</strong>
    </span>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Ok' | translate }}" (click)="c()"></us-icon-button>
  </div>
</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home (closeShop)="closeShop()"></shop-home> -->
    <app-shop-home-layout (closeShop)="closeShop($event)"></app-shop-home-layout>
  </div>
