<exce-login *ngIf='!getIsUserLoggedIn()' ></exce-login>

<div (document:click)="handleClick()" *ngIf='getIsUserLoggedIn()' class="full-content" >
    <exce-toolbar class="fixed-top"></exce-toolbar>
    <router-outlet></router-outlet>
</div>
<app-exce-message></app-exce-message>
<app-exce-pdf-viewer></app-exce-pdf-viewer>

