<div class="m-2">
  <div class="d-flex justify-content-start">
    <div class="mr-4">
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.Member' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.CustId}}
          <span class="mx-1">-</span> {{selectedInvoice?.CustomerName}}</strong>
      </div>
      <div class="d-flex justify-content-start mb-1">
        <div class="form-group mr-3">
          <label>{{'MEMBERSHIP.Contract' | translate}}</label>
          <strong class="d-block">{{selectedInvoice?.ContractNo}}</strong>
        </div>
        <div class="form-group mr-3">
          <label>{{'MEMBERSHIP.Order' | translate}}</label>
          <strong class="d-block">{{selectedInvoice?.OrderNo}}</strong>
        </div>
        <div class="form-group mr-3">
          <label>{{'MEMBERSHIP.INVDInvoiceID' | translate}}</label>
          <strong class="d-block">{{selectedInvoice?.InvoiceId}}</strong>
        </div>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.INVDInvoiceType' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceTypeFormated}}</strong>
      </div>
    </div>
    <div class="mr-4">
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.DueDate' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceDueDate | date:('COMMON.DateFormat'|translate)}}</strong>
      </div>
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.InvoiceNo' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceNo}}</strong>
      </div>
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.INVDInvoiceStatus' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceStatus}}</strong>
      </div>
    </div>
    <div class="mr-4">
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.INVDInvoiceAmount' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceAmount}}</strong>
      </div>
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.Balance' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.InvoiceBalance}}</strong>
      </div>
      <div class="form-group mb-2">
        <label>{{'MEMBERSHIP.DebtCollection' | translate}}</label>
        <strong class="d-block">{{selectedInvoice?.DebtSentCollectionDate | date:('COMMON.DateFormat'|translate)}}</strong>
      </div>
    </div>
  </div>

  <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-orders1"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'MEMBERSHIP.Basic' | translate}}</a>
    <a class="nav-link"id="nav-profile-tab" data-toggle="tab" href="#nav-invoices1"
    role="tab" aria-controls="nav-profile" aria-selected="false">{{'MEMBERSHIP.Invoice' | translate}}</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-orders1" role="tabpanel" aria-labelledby="nav-home-tab">
      <form [formGroup]="invoiceForm">
          <div class="d-flex no-gutters p-2">

            <div class="col-2 mr-2">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.ActivityPrice' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='ActivityPrice'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='ActivityPrice'> -->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.AddOnPrice' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='AdonPrice'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='AdonPrice'> -->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.TotalPrice' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='TotalPrice'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='TotalPrice'>  -->
              </div>
            </div>
            <div class="col-2 mr-2">
              <div class="form-group" style="margin-bottom: 4.23rem;">
                <label>{{ 'MEMBERSHIP.DueDate' | translate }}</label>
                <us-date-picker [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions" formControlName="InvoiceDueDate">
                </us-date-picker>
                <!-- <us-date-picker class="w-100" formControlName='InvoiceDueDate' [locale]="'COMMON.Locale'| translate"> </us-date-picker> -->
              </div>

              <div class="form-group">
                <label>{{ 'MEMBERSHIP.KID' | translate }}</label>
                <input class="form-control " type="text" formControlName='KID'>
              </div>
            </div>
            <div class="col-2 mr-2">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.TxtDiscountAmount' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='DiscountAmount'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='DiscountAmount'> -->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDSponsoredAmount' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='SponsoredAmount'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='SponsoredAmount'> -->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDInvoiceAmount' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='InvoiceAmount'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='InvoiceAmount'> -->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDPartiallyPaid' | translate }}</label>
                <us-amount-input [hideClose]="true" class="w-100" formControlName='PartiallyPaidAmount'></us-amount-input>
                <!-- <input class="form-control " type="text" formControlName='PartiallyPaidAmount'> -->
              </div>
            </div>

          </div>
          <div class="p-2" *ngIf="isSponsorInvoice">
              <table class="table table-sm table-hover table-default my-1 tab-basic-table">
                <thead class="thead-primary">
                  <tr>
                    <th>{{ 'MEMBERSHIP.CustomerNo' | translate }}</th>
                    <th>{{ 'MEMBERSHIP.Name' | translate }}</th>
                    <th class="text-right">{{ 'MEMBERSHIP.Amount' | translate }}</th>
                    <th>{{ 'MEMBERSHIP.Visit' | translate }}</th>
                  </tr>
                </thead>
                <div style="overflow: auto" >
                <tbody *ngFor="let item of selectedInvoice?.BasicDetails?.SponsorItemList; let index = index">
                  <tr>
                    <td>{{item.CusId}}</td>
                    <td>{{item.Name}}</td>
                    <td class="text-right">{{item.Amount | amountConverter:locale}}</td>
                    <td>{{item.NoOfVisit }}</td>
                  </tr>
                </tbody>
                </div>
              </table>
            </div>

            <div class="p-2" *ngIf="!isSponsorInvoice">
              <table class="table table-sm table-hover table-default my-1 tab-basic-table">
                <thead class="thead-primary">
                  <tr>
                    <th>{{ 'MEMBERSHIP.ArticleNo' | translate }}</th>
                    <th>{{ 'MEMBERSHIP.Name' | translate }}</th>
                    <th class="text-right">{{ 'MEMBERSHIP.UnitPrice' | translate }}</th>
                    <th class="text-right">{{ 'MEMBERSHIP.Discount' | translate }}</th>
                    <th>{{ 'MEMBERSHIP.Qty' | translate }}</th>
                    <th class="text-right">{{ 'MEMBERSHIP.Price' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of selectedInvoice?.BasicDetails?.ArticleList; let index = index">
                    <td>{{item.ArticleId}}</td>
                    <td>{{item.Name}}</td>
                    <td class="text-right">{{item.UnitPrice | amountConverter:locale}}</td>
                    <td class="text-right">{{item.Discount | amountConverter:locale}}</td>
                    <td>{{item.Quantity}}</td>
                    <td class="text-right">{{item.Price | amountConverter:locale}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
  </div>
  <div class="tab-pane fade" id="nav-invoices1" role="tabpanel" aria-labelledby="nav-profile-tab">
      <form [formGroup]="invoiceDetailsForm">
          <div class="d-flex no-gutters p-2">
            <div class="col-2 mr-2">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDTStratDateAndEndDate' | translate }}</label>
                <div class="d-flex no-gutters">
                  <us-date-picker class="col mr-1" formControlName="TrainingStartDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                  <us-date-picker class="col" formControlName="TrainingEnddate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.ContractTemplate' | translate }}</label>
                <input class="form-control " formControlName="TemplateName" type="text">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDInviceDate' | translate }}</label>
                <us-date-picker class="w-100" formControlName="InvoiceDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.OriginalDueDate' | translate }}</label>
                <us-date-picker class="w-100" formControlName="OriginalDueDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDInvoicePrintDate' | translate }}</label>
                <us-date-picker class="w-100" formControlName="InvoicePrintDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDSmsDate' | translate }}</label>
                <us-date-picker class="w-100" formControlName="SmsEmailInvoiceDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDFullyPaidDate' | translate }}</label>
                <us-date-picker class="w-100" formControlName="FullyPaidDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
            </div>
            <div class="col-2 mr-2">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Gym' | translate }}</label>
                <input class="form-control " formControlName="BranchName" type="text">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.OriginalCustomer' | translate }}</label>
                <input class="form-control " formControlName="OriginalCustomer" type="text">
              </div>
              <div class="form-group" style="margin-top: 2.1rem;">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" formControlName="IsSPInvoice">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'MEMBERSHIP.INVDSponsoringInvoice' | translate }}</span>
                </label>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.SmsReminder' | translate }}</label>
                <us-date-picker class="w-100" formControlName="SmsReminderDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDNoofReminder' | translate }}</label>
                <input class="form-control " formControlName="NoOfReminders" type="text">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDLastPrintedReminder' | translate }}</label>
                <us-date-picker class="w-100" formControlName="LastReminderPrintedDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVStatusDW' | translate }}</label>
                <us-date-picker class="w-100" formControlName="DebtWarningSendDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              </div>
            </div>
            <div class="col-2 mr-2">
              <div class="form-group m-0">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" formControlName="IsATG">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'MEMBERSHIP.ATG' | translate }}</span>
                </label>
              </div>
              <div class="form-group mb-1">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" class="custom-control-input" formControlName="DeleteRequest">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'MEMBERSHIP.INVDDeleteRequest' | translate }}</span>
                </label>
              </div>
              <div class="d-flex no-gutters">
                <div class="form-group col mr-1">
                  <label>{{ 'MEMBERSHIP.INVDSendingNo' | translate }}</label>
                  <input class="form-control " formControlName="SendingNo" type="text">
                </div>
                <div class="form-group col mr-1">
                  <label>{{ 'MEMBERSHIP.INVDSendingDate' | translate }}</label>
                  <us-date-picker class="w-100" formControlName="SendingDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDExtraCategory' | translate }}</label>
                <input class="form-control " formControlName="XtraCategory" type="text">
                  <!--<option selected [ngValue]="null">ALL</option>-->
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDAtgStateonInvoiveDate' | translate }}</label>
                <input class="form-control " formControlName="AtgInvoiceStatus" type="text">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.INVDAdonText' | translate }}</label>
                <input class="form-control " formControlName="AddOnText" type="text">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
                <textarea type="text" rows="3" formControlName="Comment" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="p-2">
          <table class="table table-sm table-hover table-default my-1 tab-basic-table">
            <thead class="thead-primary">
              <tr>
                <th>{{ 'MEMBERSHIP.Date' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Time' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Type' | translate }}</th>
                <th class="text-right">{{ 'MEMBERSHIP.Amount' | translate }}</th>
                <th>{{ 'MEMBERSHIP.RegisterDate' | translate }}</th>
                <th>{{ 'MEMBERSHIP.RegisterTime' | translate }}</th>
                <th>{{ 'MEMBERSHIP.user' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Delete' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedInvoice?.OtherDetails?.Paymentlist; let index = index">
                <td> {{item.PaymentDate | date:('COMMON.DateFormat'|translate)}}</td>
                <td>{{item.PaymentDate | date:'HH:MM'}}</td>
                <td> {{item.Type}}</td>
                <td class="text-right"> {{item.PaymentAmount | amountConverter:locale}}</td>
                <td>{{item.RegisterDate | date:('COMMON.DateFormat'|translate)}}</td>
                <td>{{item.PaymentRegDate | date:'HH:MM'}}</td>
                <td>{{item.Employee}}</td>
                <td>
                  <button type="button" (click)="paymentDeleteConfirmMsg(paymentRemoveModal, item)" class="btn btn-danger btn-icon-min">
                    <span class="icon-cancel"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>



  <div class="d-flex">
    <us-icon-button class="mr-1" [iconClass]="'icon-checkout'" (click)="openShop()" [labelText]="'MEMBERSHIP.CheckOut' | translate "
      [isDisabled]="!canPaye"></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-print'" (click)="printSponsorInvoice()" [labelText]="'MEMBERSHIP.PrintInvoiceC' | translate "></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-print'" (click)="printReceipt()" [labelText]="'MEMBERSHIP.Receipt' | translate "></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-sms'" (click)="invoiceSMSEmail(smsEmailInvoiceModel)" [labelText]="'MEMBERSHIP.SMSEmail' | translate "></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-credit-note'" (click)="viewCreditNote(creditNote)" [labelText]="'MEMBERSHIP.CreditNoteC' | translate "
      ></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" (click)="saveInvoice()" [isDisabled]="paymentDirection == 2" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
    <us-icon-button class="mr-1" [iconClass]="'icon-cancel'" (click)="cancelInvoice()" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>

  </div>
</div>

<ng-template #creditNote let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.CreditNoteC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <credit-note-view [isAddView]='true' [arItemNo]="selectedAritemNo" [invoice]="selectedInvoice" [articleList]="selectedArticles"
      (successCreditNoteEvent)="successCreditNote()" (closeCreditNoteModel)="closeCreditNoteModal()"></credit-note-view>
  </div>

</ng-template>

<ng-template #paymentRemoveModal let-c="close" let-d="dismiss">
  <form [formGroup]="removePaymentForm">
    <div class="modal-header">
      <span class="modal-title"> {{'MEMBERSHIP.Comment' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" data-dismiss="modal" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="hidden" [formControl]="removePaymentForm.controls['paymentId']" [(ngModel)]="paymentId" />
        <textarea class="form-control" id="comment" type="text" rows="5" [formControl]="removePaymentForm.controls['comment']" [(ngModel)]="comment"
          container="body" placement="right"></textarea>
      </div>

      <div class="form-group">
        <div class="d-flex">

          <label class="custom-control custom-radio mr-3">
            <input id="rdmember" name="tradio" type="radio" (change)="setPaymentRemoveType($event)" class="custom-control-input" [checked]="deleteType === 1"
              [formControl]="removePaymentForm.controls['deleteType']" value="rp">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'MEMBERSHIP.RemovePayment' | translate}}</span>
          </label>

          <label class="custom-control custom-radio">
            <input id="rdmember" name="tradio" type="radio" (change)="setPaymentRemoveType($event)" class="custom-control-input" [checked]="deleteType === 0"
              [formControl]="removePaymentForm.controls['deleteType']" value="mdl">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.MoveToDeviationLog' | translate }}</span>
          </label>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate" (click)="deletePayment(removePaymentForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate" (click)="c()"></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #smsEmailInvoiceModel let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.editTemplate' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="smsEmailInvoiceForm">
      <div class="d-flex no-gutters">
        <div class="col mr-2">

          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" class="custom-control-input" formControlName="isSmsChecked" [(ngModel)]="smsChecked" (change)="changeSmsEvent($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">SMS</span>
            </label>

            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" class="custom-control-input" formControlName="isEmailChecked" [(ngModel)]="emailChecked" (change)="changeEmailEvent($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Email</span>
            </label>

          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.smsNo' | translate }}</label>
            <input type="text" class="form-control" formControlName="smsNo" [(ngModel)]="smsNo" triggers="manual" container="body" placement="right">
          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.smsTemplate' | translate }}</label>
            <select class="custom-select w-100" formControlName="selectedSmsTemplate" [(ngModel)]="selectedSmsTemplate">
              <option *ngFor="let sms of smsTemplateList" [ngValue]="sms">{{ sms.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Content' | translate }}</label>
            <textarea class="form-control w-100" rows="10" formControlName="smsContent" [ngModel]="smsContent"></textarea>
          </div>

        </div>

        <div class="col">
          <div class="form-group" style="margin-top: 2.2rem;">
            <label>{{ 'MEMBERSHIP.EmailAddress' | translate }}</label>
            <input type="text" class="form-control" formControlName="emailAddress" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.EmailTemplate' | translate }}</label>
            <select class="custom-select w-100" formControlName="selectedEmailTemplate" [(ngModel)]="selectedEmailTemplate">
              <option *ngFor="let email of emailTemplateList" [ngValue]="email">{{ email.Name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Content' | translate }}</label>
            <textarea class="form-control w-100" rows="10" formControlName="emailContent" [ngModel]="emailContent"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer mt-0">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Send' | translate" (click)="sendSMSOrEmail(smsEmailInvoiceForm.value)"
      (click)="c('Close click')"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="c('Close click')"></us-icon-button>
  </div>
</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home ></shop-home> -->
    <app-shop-home-layout (closeShop)="closeShopAfterSave()"></app-shop-home-layout>
  </div>

</ng-template>

<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='sanitizer.bypassSecurityTrustResourceUrl(blobUrl)' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>
