:host .col-2 {
    min-width: 280px;
}

%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

 ::ng-deep .tab-basic-table {
    height: 180px;
    @extend %table-header-fixed-scroller;
}