.bd-highlight {
  background-color: #000000;
  font-weight: bold;
  border: 1px solid #969696;
  margin-right: 10px;
  margin-top: 10px;
  width: 18.5% !important;
  cursor: pointer;
  color: #000000;
}

