<div class="d-flex flex-wrap">
    <div *ngFor="let item of shortCutItems" class="p-2 bd-highlight"
    [style.background]="item.Color" (click)="shortcutKeyDoubleClick(item)">{{item.Description}} </div>
   
  </div>


