.scroll-popover{
    height: 160px;
    width: 318px;
  }
.cus-position{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

:host /deep/ .table-default {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 255px);
  width: 100%;
}

:host /deep/ .table-default tbody {
  display: block;
  overflow-y: scroll;
  flex: 1 1 auto;
}

:host /deep/ .table-default thead,
:host /deep/ .table-default tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  cursor: pointer;
}

:host /deep/ .table-default thead {
  width: calc( 100% - 1.3em);
}
