

:host .report-tb-scroller {
    overflow-y: auto;
    height: calc(100vh - 148px);
    background-color: #fff;
}

.custom-checkbox{
  cursor: pointer;
}

.custom-radio{
  cursor: pointer;
}

.custom-select{
  cursor: pointer;
}
