:host /deep/ .off-canvas-panel {
    position: absolute;
    top: 0px;
    right: -300px;
}

:host {
    display: block;
    height: 100%;
}

:host /deep/ .off-canvas-panel-ani {
    min-height: 480px;
}

:host /deep/ us-data-table {
    min-height: 480px;
    display: block;
    background-color: #fff;
    position: relative;
    padding-bottom: 26px;
}

:host /deep/ data-table-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
}

:host /deep/ .table-default {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 220px);
    width: 100%;
    margin-bottom: 0rem;
}

 :host /deep/ .table-default tbody {
    display: block;
    overflow-y: scroll;
    flex: 1 1 auto;
}

 :host /deep/ .table-default thead,
 :host /deep/ .table-default tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

 :host /deep/ .table-default thead {
    width: calc( 100% - 1.3em);
}
