:host /deep/ .fc-widget-content .fc-scroller {
    height: calc(100vh - 221px) !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

:host /deep/.task-btn-position {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1090;
    background-color: #fff;
}

:host .my-cal-slipt-content {
    height: calc(100vh - 192px);
    overflow: hidden;

    ::ng-deep split-area {
        overflow-y: hidden !important;
    }
}

