
<div class="info-gym-scroller">
    <form [formGroup]="InfoForm" #InfoFrm>
        <div class="d-flex m-1 no-gutters">
          <div class="col-2 mr-2">
            <div class="form-group">
              <label>{{ 'ADMIN.InfogymApiKey' | translate }}</label>
              <input type="text" class="form-control" [formControl]="InfoForm.controls['ApiKey']">
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex m-1">
      <us-icon-button class="mr-2" [iconClass]="'icon-done'" (click)="saveSettings(InfoForm.value)" [labelText]="'ADMIN.Save' | translate"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="clearForm()" [labelText]="'ADMIN.CLEAR' | translate"></us-icon-button>
    </div>
</div>

