<!--
<form [formGroup]="logNotificationForm">
  <div class="d-flex justify-content-start w-100 no-gutters">

    <div class="col-2 mr-2 ml-1">
      <label>{{'ECONOMY.Type' | translate}}</label>
      <select class="custom-select col-md-3 cursor-hand">
        <option selected value="">All</option>
      </select>
    </div>
    <div class="col-3 mr-2">
      <label>{{'ECONOMY.Date' | translate}}</label>
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='fromDate' [locale]="'ADMIN.Locale'| translate" [options]="fromDatePickerOptions"
          (dateChanged)="fromDateChange($event, toDate)">
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
        <us-date-picker class="w-100 mr-2" name="toDate" #toDate formControlName='toDate' [locale]="'ADMIN.Locale'| translate" [options]="toDatePickerOptions"
          (dateChanged)="toDateChange($event)">
        </us-date-picker>

        <button class="btn btn-primary cursor-hand">{{ 'ECONOMY.View' | translate }}</button>
      </div>
    </div>
  </div>
</form>

<div class="d-flex px-1 mt-1">
  <us-data-table id="" [items]="items" [pagination]="false" [itemCount]="itemCount"   [rowTooltip]="rowTooltip">
    <data-table-column [property]="'date'" header="{{ 'ECONOMY.Date' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'time'" header="{{ 'ECONOMY.Time' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'type'" header="{{ 'ECONOMY.Type' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'documentCount'" header="{{ 'ECONOMY.DocumentCount' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'failCount'" header="{{ 'ECONOMY.FailCount' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'user'" header="{{ 'ECONOMY.user' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table>
</div>
-->

<div>TODO</div>
