<us-tab>
  <tab-content [tabTitle]="'ADMIN.JobC' | translate">
    <div>
      <us-data-table id="" [pagination]="false" [items]="jobTaskList" [itemCount]="itemCount">
        <data-table-column [property]="'Day'" header=""  [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-success btn-icon-min" (click)="assignJobToEmployee(item)" [disabled]="item.IsEmployee"><span class="icon-thumbs-up"></span></button>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Date'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.Date | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.StartTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.EndTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'CategoryName'" header="{{ 'ADMIN.Category' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Title'" header="{{ 'ADMIN.Text' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>

        <data-table-column [property]="'EntityRoleType'" header="{{ 'ADMIN.STATUS' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
      </us-data-table>
    </div>
  </tab-content>
  <tab-content [tabTitle]="'ADMIN.Followup' | translate">
    <div>
      <us-data-table id="" [pagination]="false" [items]="followUpTaskList" [itemCount]="itemCount" 
        (rowDoubleClick)="openFollowUpPage($event.row.item)">
        <data-table-column [property]="'Day'" header="" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-success btn-icon-min" (click)="assignFollowUpToEmployee(item)" [disabled]="item.IsEmployee"><span class="icon-thumbs-up"></span></button>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Date'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.Date | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.StartTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.EndTime | date:'HH:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'CategoryName'" header="{{ 'ADMIN.Category' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Title'" header="{{ 'ADMIN.Text' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'FollowUpMemberName'" header="{{ 'ADMIN.Customer' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'EntityRoleType'" header="{{ 'ADMIN.STATUS' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
      </us-data-table>
    </div>
  </tab-content>

</us-tab>