.pagination-box {
    position: relative;
   display: block;
   clear: both;
   margin-top: 0px;
}
.pagination-range {
    float: left;
    color: #fff;
}
.pagination-controllers {
    float: right;
}
.pagination-controllers input {
    min-width: 60px;
   
}
.pagination-limit {
    margin-right: 25px;
    display: inline-table;
    width: 150px;
}
.pagination-pages {
    display: inline-block;
}
.pagination-page {
    width: 110px;
    display: inline-table;
}
.pagination-box button {
    outline: none !important;
}
.pagination-prevpage,
.pagination-nextpage,
.pagination-firstpage,
.pagination-lastpage {
    vertical-align: top;
}
.pagination-reload {
    color: gray;
    font-size: 12px;
}