<div class="d-flex justify-content-center align-items-center py-4">
  <div class="login col-sm-3" *ngIf="!isLoginSuccess && !isForgotPassword">
    <div>
      <div class="mb-2">
        <span style="font-size:2em; vertical-align:baseline ;">SHOP</span>
        <span style="vertical-align:baseline ;"> - {{ 'LOGIN.Login' | translate}}</span>
      </div>
      <form *ngIf="!IsShopLoginWithCard && !addSalePoint" [formGroup]="loginForm">
        <div class="form-group">
          <label>{{ 'LOGIN.EmailOrUserName' | translate }}</label>
          <input type="text" formControlName="username" class="form-control"
          us-error [errorMsg]="loginFormErrors.username" [displayError]="(loginFormSubmited || loginForm.get('username').dirty) && !loginForm.get('username').valid"
          placement="right" >
        </div>
        <div class="form-group">
          <label>{{ 'LOGIN.Password' | translate }}</label>
          <input type="password" formControlName="password" class="form-control"
          us-error [errorMsg]="loginFormErrors.password" [displayError]="(loginFormSubmited || loginForm.get('password').dirty) && !loginForm.get('password').valid"
          placement="right">
        </div>
        <button (click)="shopLogin(loginForm.value)" type="submit" class="btn btn-primary mr-2">{{ 'LOGIN.Login' | translate }}</button>

      </form>
      <form *ngIf="IsShopLoginWithCard && !addSalePoint" [formGroup]="cardValidateForm" (ngSubmit)="validateWithCard(cardValidateForm.value)">
        <div class="form-group">
          <label>{{ 'COMMON.lgCardNo' | translate }}</label>
          <input type="password" formControlName="cardNumber" class="form-control"
          us-error [errorMsg]="cardFormErrors.cardNumber" [displayError]="(cardFormSubmited || cardValidateForm.get('cardNumber').dirty) && !cardValidateForm.get('cardNumber').valid"
          placement="right" >
        </div>
      </form>
      <form *ngIf="addSalePoint"  [formGroup]="salePointForm" (ngSubmit) = "saveSalePoint()">
        <div class="form-group">
          <label>{{ 'COMMON.MachineNameC' | translate }}</label>
          <input disabled type="text" class="form-control" formControlName = "MachineName"  us-error [errorMsg]="salePointFormErrors.MachineName"
          [displayError]="(salePointFormSubmitted && notSuccess)" placement="top" container="view">
        </div>
        <div class="form-group">
          <label>{{ 'COMMON.PointOfSaleNameC' | translate }}</label>
          <input type="text" class="form-control" formControlName="SalePointName">
        </div>
        <div class="form-group">
          <label>{{ 'COMMON.HardWareProfileC' | translate }}</label>
          <select  class="custom-select w-100" (change)="onHarwareProfileChanged($event.target.value)">
            <option *ngFor="let point of hardWareProfiles" value="{{point.Id}}">
              {{point.Name}}
            </option>
          </select>
        </div>
        <button  type="submit" class="btn btn-primary mr-2">{{ 'COMMON.Save' | translate }}</button>

      </form>
    </div>
  </div>
</div>
