<form [formGroup]="bookingForm">

  <div class="d-flex no-gutters">

    <div class="col mr-2">
        <div class="d-flex justify-content-between">
            <div>
                <label>{{ 'ADMIN.SelectMember' | translate }}</label>
            </div>
            <div>
                <button class="btn btn-primary" type="button" (click)="memberSelectionView(entitySelectionTemplate, 'MEM')">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>
          <div class="form-group">

            <table class="table table-sm table-hover table-default my-1">
              <tbody >
                  <tr *ngFor="let item of memberList; let index = index">
                      <!-- <td>{{item.CustId}}</td> -->
                      <td>{{item.Name}}</td>
                      <td class="icon-td-width">
                          <button type="button" *ngIf="item.IsPaidBtnVisible" [disabled]="item.IsPaid" (click)="openShop(shopHomeModel, item)" class="btn btn-primary btn-icon-min">
                              <span class="icon-checkout"></span>
                          </button>
                      </td>
                      <td class="icon-td-width">
                          <button type="button" [disabled]="item.IsArrived" (click)="deleteMemberNewBooking(shopPaymentModal, item)" class="btn btn-danger btn-icon-min">
                              <span class="icon-cancel"></span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>

          </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" formControlName="IsTask" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.Task' | translate }}</span>
            </label>
          </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Activity' | translate }}</label>
        <input disabled type="text" formControlName="ActivityName" class="form-control">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.article' | translate }}</label>
          <div class="input-group">
          <input readonly class="form-control" type="text" formControlName="ArticleName">

          <button [disabled]="!isMemberSelected" class="btn btn-primary w-25" type="button" (click)="articleSelectionView(selectArticleModel)">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Category' | translate }}</label>
        <input readonly type="text" formControlName="CategoryName" class="form-control">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.BookingCategory' | translate }}</label>
          <div class="input-group">
          <input  readonly class="form-control" type="text" formControlName="BookingCategoryName"  us-error [errorMsg]="formErrors.BookingCategoryName" [displayError]="isBookingformSubmitted && !bookingForm.get('BookingCategoryName').valid">
        <button class="btn btn-primary w-25" type="button" (click)="categorySelectionView(selectCategoryModel)">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="col mr-2">
        <div class="d-flex justify-content-between">
            <div>
                <label>{{ 'ADMIN.ExtraResource' | translate }}</label>
            </div>
            <div>
                <button class="btn btn-primary" type="button" (click)="memberSelectionView(entitySelectionTemplate, 'RES')">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

          <div class="form-group">
              <table class="table table-sm table-hover table-default my-1">
                  <tbody >
                      <tr *ngFor="let item of resList; let index = index">
                          <td>{{item.Name}}</td>
                          <td>
                              <button type="button" (click)="deleteResource(item)" class="btn btn-danger btn-icon-min">
                                  <span class="icon-cancel"></span>
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="form-group">
              <label>{{ 'ADMIN.Comment' | translate }}</label>
              <textarea type="text" formControlName="Comment" rows="3" class="form-control w-100 mt-2"></textarea>
          </div>

            <div class="form-group">
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input type="checkbox" formControlName="IsSmsReminder" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.ActivitySettingSMSReminder' | translate }}</span>
                </label>
            </div>

            <div class="form-group">
                <div class="d-flex no-gutters">
                    <div class="col mr-2">
                        <div class="form-group">
                            <label>{{'ADMIN.StartTimeS' | translate}}</label>
                            <us-time-picker formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}"> </us-time-picker>
                            <!-- <us-time-picker formControlName="StartTime"> </us-time-picker> -->
                          </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{{ 'ADMIN.EndTime' | translate}} </label>
                            <us-time-picker formControlName="EndTime" [config]="{'format' :'MM:mm', 'is24hourFormat':true}"> </us-time-picker>

                            <!-- <us-time-picker formControlName="EndTime"> </us-time-picker> -->
                          </div>
                    </div>
                </div>
            </div>
      </div>
      <!-- <div class="col">
        <div class="d-flex justify-content-between">
          <div>
            <label>{{ 'ADMIN.Repeatable1CBook' | translate }}</label>
          </div>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" (change)="repetableBookingToggle($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.Repeatable1C' | translate }}</span>
            </label>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <label>{{ 'COMMON.Frequency' | translate }}</label>
          </div>
        </div>
        <hr class="my-1">
        <div class="form-group m-0">
          <label class="custom-control custom-radio">
            <input checked [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="d" [formControl]="" (change)="freqencyToggle('d')">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'COMMON.Daily' | translate}}</span>
          </label>
          <label class="custom-control custom-radio">
            <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="w" [formControl]="" (change)="freqencyToggle('w')">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'COMMON.Weekly' | translate}}</span>
          </label>
          <label class="custom-control custom-radio">
            <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="m" [formControl]="" (change)="freqencyToggle('m')">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'COMMON.Monthly' | translate}}</span>
          </label>
          <label class="custom-control custom-radio">
            <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="y" [formControl]="" (change)="freqencyToggle('y')">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'COMMON.Yearly' | translate}}</span>
          </label>
        </div>
        <hr class="my-1">
        <div class="form-group m-0">
          <form>
          <div *ngIf="frequency === 'd'">
            <div class="form-group m-0">
              <label class="custom-control custom-radio">
                <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="0" [formControl]="" (change)="dayOptionsToggle($event)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.Every1C' | translate}} <input type="number" min="1" max="31" [disabled]="dayOptions !== '0'" class="input-center" (change)="recurEveryToggle($event)"> {{'ADMIN.Days' | translate}}</span>
              </label>
            </div>
            <div class="form-group m-0">
              <label class="custom-control custom-radio">
                <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="1" [formControl]="" (change)="dayOptionsToggle($event)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.EveryWeekOn' | translate}}</span>
              </label>
            </div>
          </div>
          <div *ngIf="frequency === 'w'">
              <div class="form-group m-0">
                  <label class="">
                    <span class="custom-control-description">{{'ADMIN.RecurEvery' | translate}} <input type="number" min="1" max="52" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" class="input-center w-25" (change)="recurEveryToggle($event)"> {{'ADMIN.EveryWeeks' | translate}}</span>
                  </label>
                </div>
          </div>
          <div *ngIf="frequency === 'm'">
            <div class="form-group m-0">
              <label class="custom-control custom-radio">
                <input (change)="monthOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="0" [formControl]="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.Day' | translate}}: <input (click)="dayOfMonthToggle($event)" type="number" min="1" max="31" [disabled]="!(monthOptions ==='0' && isRepeatable)" class="w-25 input-center"> {{'ADMIN.OfEvery' | translate}} <input (click)="recurEveryToggle($event)" type="number" [disabled]="!(monthOptions ==='0' && isRepeatable)" class="w-25 input-center"> {{'ADMIN.Months()' | translate}}</span>
              </label>
            </div>
            <div class="form-group m-0">
              <label class="custom-control custom-radio">
                <input (change)="monthOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="1" [formControl]="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'ADMIN.The1C' | translate}}:
                  <select [disabled]="!(monthOptions ==='1' && isRepeatable)" (change)="ordinalFrequencyToggle($event)" class="form-control custom-select">
                    <option value="1">{{'ADMIN.First' | translate}}</option>
                    <option value="2">{{'ADMIN.Second' | translate}}</option>
                    <option value="3">{{'ADMIN.Third' | translate}}</option>
                    <option value="4">{{'ADMIN.Fourth' | translate}}urth</option>
                  </select> <br>
                  <select [disabled]="!(monthOptions ==='1' && isRepeatable)" (change)="daySelectedToggle($event)" class="form-control custom-select mt-1 mb-1">
                    <option  value="Monday">{{'COMMON.Monday'| translate}}</option>
                    <option  value="Tuesday">{{'COMMON.Tuesday'| translate}}</option>
                    <option  value="Wednesday">{{'COMMON.Wednesday'| translate}}</option>
                    <option  value="Thursday">{{'COMMON.Thursday'| translate}}</option>
                    <option  value="Friday">{{'COMMON.Friday'| translate}}</option>
                    <option  value="Saturday">{{'COMMON.Saturday'| translate}}</option>
                    <option  value="Sunday">{{'COMMON.Sunday'| translate}}</option>
                  </select> <br> {{'ADMIN.OfEvery' | translate}}
                  <input type="number" min="1" max="12" [disabled]="!(monthOptions ==='1' && isRepeatable)" class="input-center"> {{'ADMIN.Months()' | translate}}
                </span>
              </label>
            </div>
          </div>
          <div *ngIf="frequency === 'y'">
            <div class="form-group m-0">
              <label class="">
                <!-- <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" [value]="w" [formControl]="">

                <span class="custom-control-description">{{'ADMIN.RecurEvery' | translate}}<input (click)="recurEveryToggle($event)" type="number" min="1" max="5" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" class="input-center ml-1"> {{'ADMIN.YearsLowCase' | translate}}:</span>
              </label>
            </div>
            <div class="form-group m-0">
            <label class="custom-control custom-radio">
                <input [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="0" [formControl]="" (change)="yearOptionsToggle($event)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  {{'ADMIN.Date' | translate}}:
                  <input (click)="dayOfMonthToggle($event)" type="number" min="1" max="31" [disabled]="!(yearOptions ==='0' && isRepeatable)" class="w-25 input-center">
                  <select [disabled]="!(yearOptions ==='0' && isRepeatable)" (change)="monthSelectToggle($event)" class="form-control custom-select mt-1 mb-1 w-50">
                    <option  value="1">{{'COMMON.January' | translate}}</option>
                    <option  value="2">{{'COMMON.Februray' | translate}}</option>
                    <option  value="3">{{'COMMON.March' | translate}}</option>
                    <option  value="4">{{'COMMON.April' | translate}}</option>
                    <option  value="5">{{'COMMON.May' | translate}}</option>
                    <option  value="6">{{'COMMON.June' | translate}}</option>
                    <option  value="7">{{'COMMON.July' | translate}}</option>
                    <option  value="8">{{'COMMON.August' | translate}}</option>
                    <option  value="9">{{'COMMON.September' | translate}}</option>
                    <option  value="10">{{'COMMON.October' | translate}}</option>
                    <option  value="11">{{'COMMON.November' | translate}}</option>
                    <option  value="12">{{'COMMON.Descember' | translate}}</option>
                  </select>
                </span>
              </label>
              <label class="custom-control custom-radio">
                  <input (change)="yearOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="1">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">On the:
                  <select [disabled]="!(yearOptions ==='1' && isRepeatable)" (change)="ordinalFrequencyToggle($event)" class="form-control custom-select w-25">
                    <option value="1">{{'ADMIN.First' | translate}}</option>
                    <option value="2">{{'ADMIN.Second' | translate}}</option>
                    <option value="3">{{'ADMIN.Third' | translate}}</option>
                    <option value="4">{{'ADMIN.Fourth' | translate}}</option>
                  </select>
                  <select [disabled]="!(yearOptions ==='1' && isRepeatable)" (change)="daySelectedToggle($event)" class="form-control custom-select mt-1 mb-1 w-25">
                    <option  value="Monday">{{'COMMON.Monday'| translate}}</option>
                    <option  value="Tuesday">{{'COMMON.Tuesday'| translate}}</option>
                    <option  value="Wednesday">{{'COMMON.Wednesday'| translate}}</option>
                    <option  value="Thursday">{{'COMMON.Thursday'| translate}}</option>
                    <option  value="Friday">{{'COMMON.Friday'| translate}}</option>
                    <option  value="Saturday">{{'COMMON.Saturday'| translate}}</option>
                    <option  value="Sunday">{{'COMMON.Sunday'| translate}}</option>
                  </select> {{'ADMIN.Of'| translate}}
                  <select [disabled]="!(yearOptions ==='1' && isRepeatable)" (change)="monthSelectToggle($event)" class="form-control custom-select mt-1 mb-1 w-25">
                    <option  value="1">{{'COMMON.January' | translate}}</option>
                    <option  value="2">{{'COMMON.Februray' | translate}}</option>
                    <option  value="3">{{'COMMON.March' | translate}}</option>
                    <option  value="4">{{'COMMON.April' | translate}}</option>
                    <option  value="5">{{'COMMON.May' | translate}}</option>
                    <option  value="6">{{'COMMON.June' | translate}}</option>
                    <option  value="7">{{'COMMON.July' | translate}}</option>
                    <option  value="8">{{'COMMON.August' | translate}}</option>
                    <option  value="9">{{'COMMON.September' | translate}}</option>
                    <option  value="10">{{'COMMON.October' | translate}}</option>
                    <option  value="11">{{'COMMON.November' | translate}}</option>
                    <option  value="12">{{'COMMON.Descember' | translate}}</option>
                  </select>
                </span>
                </label>
              </div>
            </div>
        </form>
      </div>
            <hr class="my-1">
          <div  *ngIf="frequency === 'd' || frequency === 'w'">
            <div class="form-group m-0">
              <form>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Monday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Monday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Tuesday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Tuesday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Wednesday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Wednesday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Thursday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Thursday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Friday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Friday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Saturday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Saturday' | translate }}</span>
                </label>
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="Sunday" [disabled]="!(((frequency === 'd' && dayOptions === '1') || (frequency === 'w')) && isRepeatable)" type="checkbox" class="custom-control-input" (change)="weekDayToggle($event)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'COMMON.Sunday' | translate }}</span>
                </label>
              </form>
            </div>
        <hr class="my-1">
      </div>
        <div class="d-flex">
            <div>
              <label class="mt-2">{{ 'ADMIN.RangeOfRecurrence' | translate }}</label>
            </div>
          </div>
          <form>
            <div class="form-group">
              <div class="form-group m-0">
                <label class="custom-control custom-radio">
                  <input (change)="recurrenceOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="0" [formControl]="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.NoEndDate' | translate }}</span>
                </label>
              </div>
              <div class="form-group m-0">
                <label class="custom-control custom-radio">
                  <input (change)="recurrenceOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="1" [formControl]="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.EndAfter' | translate }} <input (change)="occurenceToggle($event)" type="number" min="1" max="50" [disabled]="!(recurrenceOption === '1' && isRepeatable)" class="w-25 input-center mr-1">{{ 'ADMIN.recurrence' | translate }}</span>
                </label>
              </div>
              <div class="form-group m-0">
                <label class="custom-control custom-radio">
                  <input (change)="recurrenceOptionsToggle($event)" [attr.disabled]="!isRepeatable ? '!isRepeatable' : null" id="radio3" name="radio3" type="radio" class="custom-control-input mx-2" value="2" [formControl]="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ADMIN.EndBy' | translate }}</span>
                </label>
                <div class="w-25 form-group">
                  <us-date-picker (dateChanged)="endByToggle($event)" [disabled]="!(isRepeatable && recurrenceOption === '2')" class="ml-2"> </us-date-picker>
                </div>
              </div>
            </div>
          </form>
        </div> -->
    </div>
    <div class="d-flex">
        <us-icon-button [isDisabled]="!isMemberSelected" [iconClass]="'icon-done'" class="mr-2" [labelText]="'ADMIN.SaveC' | translate" (click)="saveBooking(bookingForm.value, chooseContract)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeBooking()"></us-icon-button>
    </div>
  </form>

  <ng-template #entitySelectionTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.MemberSelection' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
        (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
        [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="false" [defaultRole]="'ALL'"
        [entitySelectionType]="'MEM'" [isDbPagination]="isDbPagination" [clickable]="clickable" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
        [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible" (closeViewEvent)="closeView()">
      </exce-entityselection>
    </div>
  </ng-template>

    <ng-template #addMemberModalView let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
        </exce-addmember>
      </div>
    </ng-template>

    <ng-template #selectArticleModel let-c="close" let-d="dismiss">
        <div class="modal-header">
            <span class="modal-title">{{ 'COMMON.ArticleSelection' | translate }}</span>
            <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
        </div>
        <div class="modal-body">
            <hr class="hr-dashed my-1">
            <div class="form-inline mb-1">
                <input #inputNo (keyup)="filterInput(inputName.value,inputNo.value)" class="form-control form-control-sm"
                type="text" placeholder="{{ 'ADMIN.ArticleNo' | translate}}">
                <input #inputName (keyup)="filterInput(inputName.value,inputNo.value)" class="form-control form-control-sm mr-1"
                type="text" placeholder="{{ 'ADMIN.ArticleName' | translate}}">
            </div>
            <hr class="hr-dashed my-1">
            <us-data-table class="sel-cont-detail-condition-table cursor-hand" [pagination]="false" [items]="articleViewList" (rowDoubleClick)="articleSelected($event.row.item)">
                <data-table-column [property]="'Id'" [header]="'MEMBERSHIP.Id' | translate">
                </data-table-column>
                <data-table-column [property]="'Description'" [header]="'MEMBERSHIP.Name' | translate">
                </data-table-column>
            </us-data-table>
        </div>
        <div class="modal-footer pt-0">
            <us-icon-button [iconClass]="'icon-done'" (click)="closeArticleView()" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>
        </div>
    </ng-template>


    <ng-template #selectCategoryModel let-c="close" let-d="dismiss">
        <div class="modal-header">
            <span class="modal-title">{{ 'COMMON.CategorySelectionC' | translate }}</span>
            <button type="button" class="close modal-close" aria-label="Close" (click)="closeCategoryView()">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
        </div>
        <div class="modal-body">
            <us-data-table class="sel-cont-detail-condition-table cursor-hand" [pagination]="false" [items]="categoryList" (rowDoubleClick)="categorySelected($event.row.item)">

                <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate">
                </data-table-column>
            </us-data-table>
        </div>
        <div class="modal-footer pt-0">
            <us-icon-button [iconClass]="'icon-done'" (click)="closeCategoryView()" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>
        </div>
    </ng-template>


    <ng-template #shopHomeModel>
      <div class="modal-header">
        <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body p-0 shop-modal-vh">
        <!-- <shop-home ></shop-home> -->
        <app-shop-home-layout (closeShop)="closeShopAfterSave($event)"></app-shop-home-layout>
      </div>

    </ng-template>


  <ng-template #shopPaymentModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.DailySettlement' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <shop-payment (closePayment)="closePaymentView($event)"></shop-payment>
      </div>

    </ng-template>

    <ng-template #chooseContract let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.ChooseContract' | translate }}</span>
        <span class="modal-title">{{punchcardCustomerSelectedName}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <us-data-table class="sel-cont-detail-condition-table cursor-hand" [pagination]="false" [items]="punchcardContract" (rowDoubleClick)="punchardSelect($event.row.item)">
          <data-table-column [property]="'ContractId'" [header]="'MEMBERSHIP.ContractId' | translate">
          </data-table-column>
          <data-table-column [property]="'ContractNo'" [header]="'MEMBERSHIP.CustomerNo' | translate">
          </data-table-column>
          <data-table-column [property]="'TemplateName'" [header]="'MEMBERSHIP.ContractName' | translate">
          </data-table-column>
          <data-table-column [property]="'AvailableVisits'" [header]="'MEMBERSHIP.Punches' | translate">
          </data-table-column>
      </us-data-table>
      </div>
      <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="closeChooseContractView()" [labelText]="'MEMBERSHIP.Close' | translate "></us-icon-button>
    </div>
    </ng-template>
