<div class="mainContainer">
  <div class="mainHeader">
    <div class="header">
      <div class="ml-2">{{'MEMBERSHIP.MembershipHome' | translate}}</div>
      <div class="ml-auto">
        {{'MEMBERSHIP.EmRoles' | translate}}:
      </div>
      <div class="ml-2">
        <select (change)="roleChange($event.target.value)" class="custom-select w-100 cursor-hand">
          <option value="">
            {{'MEMBERSHIP.All' | translate}}
          </option>
          <option *ngFor="let role of roles" value={{role.RoleId}}>
            {{role.Name}}
          </option>
        </select>
      </div>
      <div class="ml-1">
        {{'MEMBERSHIP.Status' | translate}}:
      </div>
      <div class="ml-2">
        <select (change)="statusChange($event.target.value)" class="custom-select w-100 cursor-hand">
          <option value="-1">
            {{'MEMBERSHIP.All' | translate}}
          </option>
          <option *ngFor="let status of statuses" value={{status.StatusID}}>
            {{status.StatusName}}
          </option>
        </select>
      </div>
      <div class="ml-1">
        {{'MEMBERSHIP.Branch' | translate}}:
      </div>
      <div class="ml-2">
        <select (change)="branchChange($event.target.value)" class="custom-select w-100 cursor-hand">
          <option value="-1">
            {{'MEMBERSHIP.All' | translate}}
          </option>
          <option *ngFor="let branch of userBranches" value={{branch.BranchId}}>
            {{branch.BranchName}}
          </option>
        </select>
      </div>
      <div class="ml-2">
        <us-icon-button [iconClass]="'icon-add'" (click)="newMemberModal(newMemberModalView)"
        [labelText]="'MEMBERSHIP.AddNewCustomer' | translate "></us-icon-button>
      </div>
      <div class="ml-2">
        <us-icon-button [iconClass]="'icon-cancel'" (click)="clearFilters()" [labelText]="'Tøm filter'"></us-icon-button>
      </div>
    </div>
    <div class="memberNumbers">
        <div class="aktiv">
            {{'MEMBERSHIP.ActiveC' | translate}}: <strong>{{activeCount}}</strong>
          </div>
          <div class="inaktiv">
           {{'MEMBERSHIP.InactiveC' | translate}}: <strong>{{inactiveCount}}</strong>
          </div>
          <div class="allMembers">
            {{'MEMBERSHIP.All' | translate}}: <strong>{{allCount}}</strong>
          </div>
    </div>
  </div>
    <div class="body">
      <div class="grid-container">
        <ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="true"
        [floatingFilter]="true"
        [rowModelType]="infinite"
        [paginationPageSize]="10"
        [cacheOverflowSize]="2"
        [maxConcurrentDatasourceRequests]="1"
        [infiniteInitialRowCount]="1000"
        [maxBlocksInCache]="10"
        [enableServerSideFilter]="true"
        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"

        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="filterChanged($event)"
        (cellMouseOver)="memberMouseOver($event)"
        (rowDoubleClicked)="dbClickToMemberCard($event)">
        </ag-grid-angular>
      </div>

      <div class="vistitedContainer">
        <div class="visitedMember" *ngFor="let member of vistedMembers" (dblclick)="visitedDbClick(member)">
            <div class="vistedHeader">
              <strong>{{member.LastName}}, {{member.FirstName}}</strong>
            </div>
            <div class="visitedContent">
              <div class="visitedColumns">
                <div>
                  {{'MEMBERSHIP.CustomerNoC' | translate}}
                </div>
                <div>
                  {{'MEMBERSHIP.Mobile' | translate}}
                </div>
              </div>
              <div class="visitedColumns">
                <div>
                  {{member.CustId}}
                </div>
                <div>
                  {{member.Mobile}}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


</div>

<!-- user for hover over member -->
<!-- <div #memberInfo class="popup">
  test
</div> -->

<!-- ********************************** NEW MEMBER REGISTER ******************************************* -->

<ng-template #newMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <member-register (memberSaveEvent)="memberRegisterEvent($event)" (canceled)="closeRegistration()">
    </member-register>
  </div>
</ng-template>
