.grid-container {
  height: 100%;
  width: 80%;
  bottom: 0;
}

.grid {
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.visitedMember{
  font-size: 0.95em;
  height: 10%;
  cursor: pointer;
  border-top: 1px solid #4d8693;
  background-color: white;
}

.visitedContent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.visitedColumns{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vistedHeader {
  margin-left: 5px;
  margin-top: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.memberNumbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px);
  width: 100%;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.vistitedContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.visitedMember:hover {
  background-color: #e9ecef;
}

// user for hover over member
// .popup {
//   position: absolute;
//   z-index: 10000;
//   width: 200px;
//   height: 200px;
// }


