
<div class="d-flex">
  <div class="input-group default-input-group">
    <input type="text" class="form-control" placeholder="Search" />
    <button class="btn btn-primary btn-icon" type="button" ><span class="icon-search"></span></button>
  </div>
</div>



