<div class="acc-con-inte-scroller">
  <div class="d-flex m-1 no-gutters">

    <div class="col-2 mr-2">
      <form [formGroup]="ACIForm" #ACIfrm>
        <div class="form-group">
          <label>{{ 'ADMIN.Name' | translate }}</label>
          <input type="text" class="form-control" [formControl]="ACIForm.controls['Name']" [exceError]="ACIForm.controls['Name']" readonly>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Activity' | translate }} </label>
          <select class="custom-select mr-sm-2 w-100" [formControl]="ACIForm.controls['ActivityId']" [exceError]="ACIForm.controls['ActivityId']">
            <option value=""></option>
            <option *ngFor="let activity of activities" value={{activity.Id}}>

              {{activity.Name}}
            </option>
          </select>
        </div>
      </form>
      <us-icon-button class="mr-2" [iconClass]="'icon-done'" (click)="saveSettings(ACIForm.value)" [labelText]="'ADMIN.Save' | translate" [isDisabled]="!ACIForm.valid"></us-icon-button>
    </div>
    <div class="col">
      <label>{{ 'ADMIN.AccessProfiles' | translate }} </label>
      <div class="border">
        <us-data-table class="accesspro-table-scroller" id="persons-grid" [items]="accessProfileItems" [pagination] = "false" [itemCount]="accessProfileCount" >
          <data-table-column [property]="''" [header]="''" [width]="50">
            <ng-template #dataTableCell let-item="item">

              <label class="custom-control custom-checkbox checkbox-inline ">
                <input type="checkbox" class="custom-control-input" [checked]="item.isChecked" (change)="item.isChecked = !item.isChecked">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'AccessProfileName'" [header]="'ADMIN.AccessProfileC' | translate" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'drawPunches'" [header]="'ADMIN.DrawPunches' | translate" [width]="140">
            <ng-template #dataTableCell let-item="item">
              <label class="custom-control custom-checkbox checkbox-inline ">
                <input type="checkbox" class="custom-control-input" [checked]="item.IsDrawPuncheSelect" (change)="item.IsDrawPuncheSelect = !item.IsDrawPuncheSelect"
                  readonly>
                <span class="custom-control-indicator" readonly></span>
                <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
        </us-data-table>
      </div>

    </div>
  </div>

  <div class="d-flex m-1">
    <us-data-table class="access-con-ini-table-scroller border" [pagination] = "false" [items]="ExItems" [itemCount]="ExCount" >
      <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'InstalledDate'" [header]="'ADMIN.InstalledDate' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.InstalledDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'LastPingTime'" [header]="'ADMIN.LastPingTime' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.LastPingTime | date:'yyyy/MM/dd HH:mm:ss'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'ActivityName'" [header]="'ADMIN.ActivityName' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="''" [header]="'ADMIN.AccessProfileC' | translate">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary" type="button" (click)="viewLoad(item, p);" container="body" placement="top" [usPopover]="accessProfilesList"
            popoverWidth="350" #p="usPopover" triggers="manual">{{'ADMIN.View' | translate}}</button>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="''" [header]="''" >
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Edit' |translate}}" (click)="gatRowItemLoad(item)">
            <span class="icon-edit"></span>
          </button>
        </ng-template>
      </data-table-column>
    </us-data-table>
  </div>
</div>

<ng-template #accessProfilesList>
  <div class="d-flex justify-content-end">
    <button class="btn btn-link btn-sm" type="button" (click)="closePopOver()">
      <span class="icon-close"></span>
    </button>
  </div>
  <div class="d-block" style="overflow: auto; height: 240px;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1" *ngFor="let aProfile of accessProfiles">{{aProfile.AccessProfileName}}</li>
    </ul>
  </div>
</ng-template>
