:host .acc-con-inte-scroller {
    display: block;
    overflow: auto;
    height: calc(100vh - 218px);
    width: 100%;
    .col-2{
        min-width: 250px
    }
}

:host /deep/ .accesspro-table-scroller, :host /deep/.access-con-ini-table-scroller {
    .data-table {
        display: flex;
        flex-flow: column;
        height: 208px;
        width: 100%;
        tbody {
            display: block;
            overflow-y: scroll;
            flex: 1 1 auto;
        }
        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        thead {
            width: calc( 100% - 1.3em);
        }
    }
}
:host /deep/.access-con-ini-table-scroller{
    .data-table {
        height: calc(100vh - 466px);
        min-height: 150px;
    }
}

.custom-checkbox{
  cursor: pointer;
}

.custom-radio{
  cursor: pointer;
}

.custom-select{
  cursor: pointer;
}
